<%= tr_for_grade(grade) do %>
  <td class='col-xs-7'><%= grade.objective.content %></td>
  <td class='col-xs-5'><span class="pull-right text-right"><%= grade.score.description %></span></td>
<% end %>
