<div class="col-md-12">
  <h1>Amend attendance for <%= @course.description %></h1>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
