<%= link_to assessment do %>
  <%= div_for assessment, class: 'list-row list-link row' do %>
    <div class="span5">
      <h4><%= assessment.title %></h4>
    </div>
    <div class="span3">
      <span class="pull-right">
        <% if assessment.submission_for(current_user).nil? %>
          Not submitted
        <% elsif assessment.submission_for(current_user).has_been_reviewed? %>
          Reviewed
        <% else %>
          Submitted - Pending review
        <% end %>
      </span>
    </div>
  <% end %>
<% end %>
