<%= link_to assessment_url(assessment), class: "list-group-item" do %>
  <h4 class="list-group-item-heading"><%= assessment.title %></h4>
  <p class="list-group-item-text"><%= assessment.section %></p>
<% end %>
