<div class="assessment">
  <div class='list-row list-link row'>
    <div class="span8">
      <h4><%= link_to assessment.title, assessment %></h4>
    </div>

    <div class="span4">
      <% if current_student %>

        <span class="pull-right assessment-status">
          <% if assessment.submission_for(current_student).nil? %>
            Not submitted
          <% elsif assessment.submission_for(current_student).has_been_reviewed? %>
            Reviewed
          <% else %>
            Submitted - Pending review
          <% end %>
        </span>

      <% elsif current_admin %>

        <%= submissions_count_badge(assessment) %>

        <%= fields_for 'assessments[]', assessment do |f| %>
          <%= f.hidden_field :number, class: 'assessment-number' %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
