<h1 class="page-header"><%= @assessment.title %></h1>

<h3>Requirements</h3>
<ul>
  <%= render @assessment.requirements %>
</ul>

<%= render 'submissions/form' %>

<% if @submission.has_been_reviewed? %>
  <%= link_to "Your assessment has been reviewed!", assessment_submission_path(@assessment) %>
<% end %>
