<h1 class="page-header"><%= @assessment.title %></h1>

<h3>Requirements</h3>
<ul class="unstyled requirements">
  <%= render @assessment.requirements %>
</ul>

<hr>

<%= render 'submissions/form' %>

<% if @submission.needs_review? %>
  <p class='text-muted'>Your submission is pending review.</p>
<% elsif @submission.has_been_reviewed? %>
  <%= link_to "Your assessment has been reviewed!", assessment_submission_path(@assessment) %>
<% end %>
