---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student12%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431380310,
          "id": "cus_6DqI6A2h007vE2",
          "livemode": false,
          "description": "student12@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DqI6A2h007vE2/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DqI6A2h007vE2/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DqI6A2h007vE2/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DqI6A2h007vE2/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Mon, 11 May 2015 21:38:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DqI6A2h007vE2/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqIft48xC6HzY",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqI6A2h007vE2",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 11 May 2015 21:38:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DqI6A2h007vE2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DqI6A2h007vE2/bank_accounts/ba_6DqIft48xC6HzY/verify
    body:
      encoding: US-ASCII
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqIft48xC6HzY",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqI6A2h007vE2",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Mon, 11 May 2015 21:38:06 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DqIHJowroI0CK/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqI42LqfTD5Pr",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqIHJowroI0CK",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 11 May 2015 21:38:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DqIHJowroI0CK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DqIHJowroI0CK/bank_accounts/ba_6DqI42LqfTD5Pr/verify
    body:
      encoding: US-ASCII
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqI42LqfTD5Pr",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqIHJowroI0CK",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Mon, 11 May 2015 21:38:08 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&customer=cus_6DqI6A2h007vE2
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "py_6DqI4DQoB3hhFc",
          "object": "charge",
          "created": 1431380315,
          "livemode": false,
          "paid": false,
          "status": "pending",
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "source": {
            "object": "bank_account",
            "id": "ba_6DqIft48xC6HzY",
            "last4": "6789",
            "country": "US",
            "currency": "usd",
            "status": "verified",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "routing_number": "110000000",
            "bank_name": "STRIPE TEST BANK",
            "metadata": {},
            "customer": "cus_6DqI6A2h007vE2",
            "disabled": false,
            "validated": false,
            "verified": true
          },
          "captured": true,
          "card": null,
          "balance_transaction": "txn_6DqIQW03Pu6NhB",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_6DqI6A2h007vE2",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": [],
          "statement_description": null
        }
  recorded_at: Mon, 11 May 2015 21:38:10 GMT
- request:
    method: post
    uri: https://api:<MAILGUN_API_KEY>@api.mailgun.net/v2/epicodus.com/messages
    body:
      encoding: US-ASCII
      string: from=administrator%40school.edu&to=student12%40example.com&bcc=administrator%40school.edu&subject=Epicodus%20tuition%20payment%20receipt&text=Hi%20Example%20Brown%2010.%20This%20is%20to%20confirm%20your%20payment%20of%20%241.00%20for%20Epicodus%20tuition.%20If%20you%20have%20any%20questions%2C%20reply%20to%20this%20email.%20Thanks!
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<20150511213836.11950.98446@epicodus.com>",
          "message": "Queued. Thank you."
        }
  recorded_at: Mon, 11 May 2015 21:38:10 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DqIyYEiZC0MkL/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqIQaZdWsAZKj",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqIyYEiZC0MkL",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 11 May 2015 21:38:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DqIyYEiZC0MkL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DqIyYEiZC0MkL/bank_accounts/ba_6DqIQaZdWsAZKj/verify
    body:
      encoding: US-ASCII
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqIQaZdWsAZKj",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqIyYEiZC0MkL",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Mon, 11 May 2015 21:38:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DqI6A2h007vE2/bank_accounts/ba_6DqIft48xC6HzY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqIft48xC6HzY",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqI6A2h007vE2",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Fri, 22 May 2015 19:02:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DqIHJowroI0CK/bank_accounts/ba_6DqI42LqfTD5Pr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqI42LqfTD5Pr",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqIHJowroI0CK",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Fri, 22 May 2015 19:02:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DqIyYEiZC0MkL/bank_accounts/ba_6DqIQaZdWsAZKj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqIQaZdWsAZKj",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqIyYEiZC0MkL",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Fri, 22 May 2015 19:02:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DqI6A2h007vE2/sources/ba_6DqIft48xC6HzY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqIft48xC6HzY",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqI6A2h007vE2",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Wed, 27 May 2015 21:17:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DqIHJowroI0CK/sources/ba_6DqI42LqfTD5Pr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqI42LqfTD5Pr",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqIHJowroI0CK",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Wed, 27 May 2015 21:17:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DqIyYEiZC0MkL/sources/ba_6DqIQaZdWsAZKj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DqIQaZdWsAZKj",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DqIyYEiZC0MkL",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Wed, 27 May 2015 21:17:56 GMT
recorded_with: VCR 2.9.3
