---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=test%40test.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7sS4JsDaL33hUr",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS4JsDaL33hUr/bank_accounts"
          },
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS4JsDaL33hUr/cards"
          },
          "created": 1455046135,
          "currency": null,
          "default_bank_account": null,
          "default_card": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "test@test.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS4JsDaL33hUr/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS4JsDaL33hUr/subscriptions"
          },
          "active_card": null,
          "subscription": null
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS4JsDaL33hUr/sources
    body:
      encoding: UTF-8
      string: source[account_number]=000123456789&source[country]=US&source[object]=bank_account&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS4PhBXvGetEo",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS4JsDaL33hUr",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS4JsDaL33hUr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "i[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS4JsDaL33hUr/sources/ba_7sS4PhBXvGetEo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS4PhBXvGetEo",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS4JsDaL33hUr",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS4JsDaL33hUr/sources/ba_7sS4PhBXvGetEo/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS4PhBXvGetEo",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS4JsDaL33hUr",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "verified",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS43wLcRsCwuQ/sources
    body:
      encoding: UTF-8
      string: source[account_number]=000123456789&source[country]=US&source[object]=bank_account&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS4Vq2AP6TdYO",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS43wLcRsCwuQ",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS43wLcRsCwuQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "i[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS43wLcRsCwuQ/sources/ba_7sS4Vq2AP6TdYO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS4Vq2AP6TdYO",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS43wLcRsCwuQ",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS43wLcRsCwuQ/sources/ba_7sS4Vq2AP6TdYO/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS4Vq2AP6TdYO",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS43wLcRsCwuQ",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "verified",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&customer=cus_7sS4JsDaL33hUr&source=ba_7sS4Vq2AP6TdYO
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Customer cus_7sS4JsDaL33hUr does not have a linked source with ID ba_7sS4Vq2AP6TdYO.",
            "param": "source",
            "code": "missing"
          }
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
recorded_with: VCR 3.0.1
