---
http_interactions:
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:example@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
      X-Rate-Limit-Reset:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "addresses":
        [], "date_updated": "2017-05-16T00:38:05.463000+00:00", "created_by_name":
        "Michael Kaiser-Nyman", "opportunities": [], "custom.lcf_Z0KZAHMvEi0odEEykc6yRM1kuhUDvihzv3uCNzlxJnp":
        "* Placement Test", "id": "lead_L125JRKO4Kh8GJMh7Ah9ggVsrPAzmVEp598taaQBzVe",
        "description": "Please check with Mike if any fields in here are causing issues
        for your queries.", "display_name": "THIS LEAD IS USED FOR TESTING PURPOSES.
        PLEASE DO NOT DELETE.", "contacts": [{"name": "THIS LEAD IS USED FOR TESTING
        PURPOSES. PLEASE DO NOT DELETE.", "title": "", "date_updated": "2017-05-15T23:54:28.423000+00:00",
        "phones": [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_JM7ymwgX3gK2n2Dc0w1dWAFgjlTA71hUZPjg5mp3Cu4", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls": [], "date_created":
        "2017-05-15T23:51:29.062000+00:00", "integration_links": [], "emails": [{"type":
        "office", "email": "example@example.com"}], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}],
        "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom":
        {"Starting Cohort": "* Placement Test", "Class": "* Placement Test"}, "updated_by_name":
        "Michael Kaiser-Nyman", "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_przzrnAa2dQ2r0yot8Wq7QS3DdQIx80VN9CCSQ8yupK", "html_url":
        "https://app.close.io/lead/lead_L125JRKO4Kh8GJMh7Ah9ggVsrPAzmVEp598taaQBzVe/",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "integration_links":
        [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=THIS%20LEAD%20IS%20USED%20FOR%20TESTING%20PURPOSES.%20PLEASE%20DO%20NOT%20DELETE.&button=",
        "name": "Epicenter Link"}], "custom.lcf_Gm7m9WYKo5s8r8hOllbu1FHZEcHFLYjckMecIFdeg0a":
        "* Placement Test", "name": "", "url": null, "status_label": "Potential",
        "date_created": "2017-05-15T23:51:29.068000+00:00"}]}'
  recorded_at: Tue, 16 May 2017 00:44:59 GMT
[...]
- request:
    method: put
    uri: https://app.close.io/api/v1/lead/lead_L125JRKO4Kh8GJMh7Ah9ggVsrPAzmVEp598taaQBzVe/
    body:
      encoding: UTF-8
      string: '{"custom.Starting Cohort":"* Placement Test"}'
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
 [...]
