---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=student186%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_C6P9B9DxLFgLmj",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C6P9B9DxLFgLmj/bank_accounts"
          },
          "created": 1515462979,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "student186@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C6P9B9DxLFgLmj/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C6P9B9DxLFgLmj/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Tue, 09 Jan 2018 01:56:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_C6P9B9DxLFgLmj/sources
    body:
      encoding: UTF-8
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_C6PAe26tO3cDgV",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_C6P9B9DxLFgLmj",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Tue, 09 Jan 2018 01:56:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_C6P9B9DxLFgLmj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_C6P9B9DxLFgLmj/sources/ba_C6PAe26tO3cDgV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_C6PAe26tO3cDgV",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_C6P9B9DxLFgLmj",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Tue, 09 Jan 2018 01:56:20 GMT
recorded_with: VCR 4.0.0
