---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Br2xgerjGLShhF",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2xgerjGLShhF/bank_accounts"
          },
          "created": 1511920763,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2xgerjGLShhF/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2xgerjGLShhF/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Br2xgerjGLShhF/sources
    body:
      encoding: UTF-8
      string: source[object]=card&source[number]=4242424242424242&source[exp_month]=12&source[exp_year]=2020&source[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_Br2xzAsfce4nRw",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_Br2xgerjGLShhF",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br2xgerjGLShhF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br2xgerjGLShhF/sources/card_Br2xzAsfce4nRw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_Br2xzAsfce4nRw",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_Br2xgerjGLShhF",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:24 GMT
- request:
    method: post
    uri: "<ZAPIER_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"id":1,"description":"Philadelphia; 2017-12-11; Full-time; upfront;
        example@example.com","amount":60000,"fee":1821,"status":"succeeded","refund_amount":20000,"offline":null,"stripe_transaction":"txn_Br2xd1hYsqLWrN","category":"upfront","notes":null,"email":"example@example.com","event_name":"refund"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Response-Id:
      - 5a3027ca-65d2-4cc4-9893-0f3301629000
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '9993'
      X-Rate-Limit-Reset:
      - '1513105800'
      X-Session-Key:
      - anonymous
      X-Zapier-Fast-Return:
      - 'true'
      X-Zapier-Jobs:
      - Woooo, a hacker like yourself should consider working at Zapier!
      X-Zapier-Jobs-Link:
      - https://zapier.com/blog/help-automate-business-zapier-jobs-and-careers/
      Zrv:
      - 1EouUa
    body:
      encoding: UTF-8
      string: '{"status": "success", "attempt": "5a3027ca-65d2-4cc4-9893-0f3301629000",
        "id": "e9e8f542-1e4f-425c-9bcf-e047124ec91d", "request_id": "5a3027ca-65d2-4cc4-9893-0f3301629000"}'
  recorded_at: Tue, 12 Dec 2017 19:02:34 GMT
recorded_with: VCR 4.0.0
