---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student5%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431378041,
          "id": "cus_6DpgUwWjbP1uoB",
          "livemode": false,
          "description": "student5@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpgUwWjbP1uoB/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpgUwWjbP1uoB/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpgUwWjbP1uoB/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpgUwWjbP1uoB/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Mon, 11 May 2015 21:00:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgUwWjbP1uoB/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6Dpg8Z2jLpRpx9",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgUwWjbP1uoB",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 11 May 2015 21:00:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DpgUwWjbP1uoB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgUwWjbP1uoB/bank_accounts/ba_6Dpg8Z2jLpRpx9/verify
    body:
      encoding: US-ASCII
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6Dpg8Z2jLpRpx9",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgUwWjbP1uoB",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Mon, 11 May 2015 21:00:18 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgfY9uTbhvf4/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DpgSXpz72SgjY",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgfY9uTbhvf4",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 11 May 2015 21:00:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DpgfY9uTbhvf4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgfY9uTbhvf4/bank_accounts/ba_6DpgSXpz72SgjY/verify
    body:
      encoding: US-ASCII
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DpgSXpz72SgjY",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgfY9uTbhvf4",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Mon, 11 May 2015 21:00:20 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&customer=cus_6DpgUwWjbP1uoB
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "py_6DpgvKTKNr5Ks7",
          "object": "charge",
          "created": 1431378047,
          "livemode": false,
          "paid": false,
          "status": "pending",
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "source": {
            "object": "bank_account",
            "id": "ba_6Dpg8Z2jLpRpx9",
            "last4": "6789",
            "country": "US",
            "currency": "usd",
            "status": "verified",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "routing_number": "110000000",
            "bank_name": "STRIPE TEST BANK",
            "metadata": {},
            "customer": "cus_6DpgUwWjbP1uoB",
            "disabled": false,
            "validated": false,
            "verified": true
          },
          "captured": true,
          "card": null,
          "balance_transaction": "txn_6Dpgl8MqFfR9i6",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_6DpgUwWjbP1uoB",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": [],
          "statement_description": null
        }
  recorded_at: Mon, 11 May 2015 21:00:21 GMT
- request:
    method: post
    uri: https://api:<MAILGUN_API_KEY>@api.mailgun.net/v2/epicodus.com/messages
    body:
      encoding: US-ASCII
      string: from=administrator%40school.edu&to=student5%40example.com&bcc=administrator%40school.edu&subject=Epicodus%20tuition%20payment%20receipt&text=Hi%20Example%20Brown%205.%20This%20is%20to%20confirm%20your%20payment%20of%20%241.00%20for%20Epicodus%20tuition.%20If%20you%20have%20any%20questions%2C%20reply%20to%20this%20email.%20Thanks!
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<20150511210048.84482.51401@epicodus.com>",
          "message": "Queued. Thank you."
        }
  recorded_at: Mon, 11 May 2015 21:00:22 GMT
- request:
    method: post
    uri: https://api:<MAILGUN_API_KEY>@api.mailgun.net/v2/epicodus.com/messages
    body:
      encoding: US-ASCII
      string: from=administrator%40school.edu&to=student5%40example.com&bcc=administrator%40school.edu&subject=Epicodus%20payment%20failure%20notice&text=Hi%20Example%20Brown%205.%20This%20is%20to%20notify%20you%20that%20a%20recent%20payment%20you%20made%20for%20Epicodus%20tuition%20has%20failed.%20Please%20reply%20to%20this%20email%20so%20we%20can%20sort%20it%20out%20together.%20Thanks!
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<20150511210048.98679.89153@epicodus.com>",
          "message": "Queued. Thank you."
        }
  recorded_at: Mon, 11 May 2015 21:00:22 GMT
recorded_with: VCR 2.9.3
