<div class="text-center">
  <h1>Welcome to the Epicenter</h1>

  <p><%= link_to 'Student sign in', new_student_session_path, class: 'btn btn-info' %></p>
  <p><%= link_to 'Teacher sign in', new_admin_session_path, class: 'btn btn-primary' %></p>
  <p><%= link_to '/auth/github', class: 'btn btn-default' do %>
    <i class="fa fa-github"></i>
    Sign in with GitHub
    <% end %>
  </p>
</div>
