<h1>Epicodus Payments</h1>

<p class="lead">Manage your tuition repayment for Epicodus.</p>

<div class="action-buttons">
  <%= link_to "Start making payments", new_user_registration_path, class: 'btn btn-large btn-primary' %>
  <%= link_to "Existing user? Sign in", new_user_session_path, class: 'btn btn-large btn-info' %>
</div>
