<h1>Epicodus Payments</h1>

<p class="lead">Manage your tuition repayment for Epicodus.</p>

<div class="action-buttons">
  <%= link_to "Create an account", new_student_registration_path, class: 'btn btn-large btn-primary' %>
  <%= link_to "Sign in", new_student_session_path, class: 'btn btn-large btn-info' %>
</div>
