<h1>Welcome to the Epicenter</h1>

<p class="lead">An app for Epicodus students to track attendance, submit assessments and manage class payments. </p>

<div>
  <%= link_to "Teacher log in", new_admin_session_path, class: 'btn btn-info' %>
  <%= link_to "Student log in", new_student_session_path, class: 'btn btn-info' %>
</div>
