<h1>Welcome!</h1>

<div class="action-buttons">
  <%= link_to "Manage Payments", new_bank_account_path, class: 'btn btn-large btn-primary' %>
  <%= link_to "Assessments", new_user_session_path, class: 'btn btn-large btn-info' %>
</div>
