<h1>Welcome to Epicodus</h1>
<h2>How would you like to make payments for the class?</h2>

<p>
  <%= link_to "Bank Account", new_bank_account_path, class: 'btn btn-large btn-primary' %>
  <%= link_to "Credit Card*", new_credit_card_path, class: 'btn btn-large btn-primary' %>
</p>

<p>*Payments made with a credit card will be charged a 2.9% processing fee + 30¢ per transaction.</p>
