<h1>Welcome to Epicodus</h1>
<h2>How would you like to make payments for the class?</h2>


<ul>
  <li><h4><%= link_to "Bank Account", new_bank_account_path %></h4></li>
  <li><h4><%= link_to "Credit Card", new_credit_card_path %></h4></li>
</ul>

