---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fkuyegiukdg57sym%2Fcode_of_conduct.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student2%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+2&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Authorization:
      - Basic YWJkM2Q3ZmY2OTE2MzJkYWVmNzI1N2ZiMzhmZDY4NmU2MmI5M2RjODhlYjIyNWRlZjRiYmI3NzY4NTFiZDczZDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1462559292'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"e5b37d378d9533b2f2cc8032f8303f98b6de4dc4","test_mode":true,"title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/e5b37d378d9533b2f2cc8032f8303f98b6de4dc4","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/e5b37d378d9533b2f2cc8032f8303f98b6de4dc4","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=e5b37d378d9533b2f2cc8032f8303f98b6de4dc4","requester_email_address":"chris@epicodus.com","signatures":[{"signature_id":"3ad10d3528d154b9ed600b930bdf7247","has_pin":false,"signer_email_address":"student2@example.com","signer_name":"Example Brown 2","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Fri, 06 May 2016 18:28:13 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/3ad10d3528d154b9ed600b930bdf7247
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWJkM2Q3ZmY2OTE2MzJkYWVmNzI1N2ZiMzhmZDY4NmU2MmI5M2RjODhlYjIyNWRlZjRiYmI3NzY4NTFiZDczZDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1462559294'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=3ad10d3528d154b9ed600b930bdf7247&token=9864b247153905abcccf14e7b0be5087","expires_at":1462562894}}
  recorded_at: Fri, 06 May 2016 18:28:14 GMT
recorded_with: VCR 3.0.1
