---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fe65npqmcq3otmln%2Fcode_of_conduct.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student329%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+367&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1511920873'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"03660b0b541c698f00cfb0a2b6c6e9490d68233d","test_mode":true,"title":"Sign
        to accept the Epicodus Code of Conduct","original_title":"Sign to accept the
        Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/03660b0b541c698f00cfb0a2b6c6e9490d68233d","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/03660b0b541c698f00cfb0a2b6c6e9490d68233d","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=03660b0b541c698f00cfb0a2b6c6e9490d68233d","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"eaae012cf97d1af7e7c802d52a5cdb18","has_pin":false,"signer_email_address":"student329@example.com","signer_name":"Example
        Brown 367","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Wed, 29 Nov 2017 02:01:15 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/eaae012cf97d1af7e7c802d52a5cdb18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1511920875'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=eaae012cf97d1af7e7c802d52a5cdb18&token=f01901444b16a95d1bb60c8fe4becb04","expires_at":1511924475}}'
  recorded_at: Wed, 29 Nov 2017 02:01:15 GMT
recorded_with: VCR 3.0.3
