<h1>Welcome to Epicodus</h1>
<h2>How would you like to make payments for the class?</h2>
<p>
  <%= link_to "Bank account", new_bank_account_path, class: 'btn btn-info' %>
  <%= link_to "Credit/debit card *", new_credit_card_path, class: 'btn btn-info' %>
</p>
<p class="text-primary">* Payments made with a credit or debit card will be charged a nonrefundable 3% processing fee.</p>
