---
http_interactions:
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:example@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '593'
      X-Rate-Limit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "addresses":
        [], "date_updated": "2017-02-27T22:20:35.367000+00:00", "created_by_name":
        "Michael Kaiser-Nyman", "opportunities": [], "custom.lcf_sXaSO35CeYV0CSLrlxo4s1zKUCIQxAuynB7YsLlt7M8":
        600, "id": "lead_4LhIfianLPowbWVnZgOBHQ8Flgm26Wu6YsssnTkKg26", "description":
        "Used in Epicenter automated tests. Do not delete.", "display_name": "TEST
        TEST", "contacts": [{"name": "TEST TEST", "title": "", "date_updated": "2017-02-15T23:28:59.151000+00:00",
        "phones": [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_FStz8S1Oe1diS12GwlUZM3kd9An7qfrPhTkQ3nyxvoH", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls": [], "date_created":
        "2015-08-04T20:54:51.401000+00:00", "integration_links": [], "emails": [{"type":
        "office", "email": "example@example.com"}], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}],
        "custom.lcf_B410rIUtklIKHiSrxnQDvocLUp9D3gpuFGxP49Vgtl8": "Standard Plan -
        $150 then $850", "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "custom": {"Class": "* Placement Test", "Payment plan": "Standard Plan - $150
        then $850", "Amount paid": 600, "Campus": "Portland"}, "updated_by_name":
        "Michael Kaiser-Nyman", "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_IAcdBqZZTAul6vK2srakLxAyd8Kem3ALHW6MBg12ntc", "custom.lcf_cLOVwwxk5KM718I4LJ4zwYpemYH4ULYL1n8qcHrio78":
        "Portland", "html_url": "https://app.close.io/lead/lead_4LhIfianLPowbWVnZgOBHQ8Flgm26Wu6YsssnTkKg26/",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "integration_links":
        [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=TEST%20TEST&button=",
        "name": "Epicenter Link"}], "custom.lcf_Gm7m9WYKo5s8r8hOllbu1FHZEcHFLYjckMecIFdeg0a":
        "* Placement Test", "name": "TEST TEST", "url": null, "status_label": "Enrolled",
        "date_created": "2015-08-04T20:54:51.404000+00:00"}]}'
  recorded_at: Mon, 27 Feb 2017 22:20:43 GMT
[...]
- request:
    method: put
    uri: https://app.close.io/api/v1/lead/lead_4LhIfianLPowbWVnZgOBHQ8Flgm26Wu6YsssnTkKg26/
    body:
      encoding: UTF-8
      string: '{"status":"Enrolled","custom.Amount paid":600}'
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
[...]
