---
http_interactions:
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:test@test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 3, "data": [{"tasks": [], "display_name":
        "Test Test", "addresses": [], "updated_by": "user_Dv4z5Qxm3rij9J5eAQZvxRI5dyilFkIotQti0i0vjtz",
        "status_id": "stat_przzrnAa2dQ2r0yot8Wq7QS3DdQIx80VN9CCSQ8yupK", "date_updated":
        "2016-10-10T18:59:45.602000+00:00", "status_label": "Potential", "description":
        "Test", "contacts": [{"name": "Test Test", "title": "", "date_updated": "2016-10-06T19:18:54.681000+00:00",
        "phones": [{"phone": "+10123456789", "phone_formatted": "+1 012-345-6789",
        "type": "office"}], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_2g3QtpdqSQJjiuDuKj6m8gNgegxkJYteqhd9AoiXPyZ", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls": [], "date_created":
        "2016-10-06T19:18:54.681000+00:00", "integration_links": [], "emails": [{"type":
        "office", "email": "test@test.com"}], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}],
        "html_url": "https://app.close.io/lead/lead_WQZcW0rTXZ1ZQihDQwW4KfVYsnLMNKxrI5ire4Irt4D/",
        "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom":
        {"Heard about Epicodus from": "Test", "What class are you interested in?":
        "Portland - January - Full-time"}, "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE",
        "url": "http://www.test.com", "date_created": "2016-10-06T19:18:54.685000+00:00",
        "opportunities": [], "created_by_name": "Michael Kaiser-Nyman", "integration_links":
        [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=Test%20Test&button=",
        "name": "Epicenter Link"}], "id": "lead_WQZcW0rTXZ1ZQihDQwW4KfVYsnLMNKxrI5ire4Irt4D",
        "updated_by_name": "amber arnold", "name": ""}, {"tasks": [], "display_name":
        "Test Test", "addresses": [], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_przzrnAa2dQ2r0yot8Wq7QS3DdQIx80VN9CCSQ8yupK", "date_updated":
        "2016-10-06T19:17:36.769000+00:00", "status_label": "Potential", "description":
        "This is a test.", "contacts": [{"name": "Test Test", "title": "", "date_updated":
        "2016-10-06T19:17:36.746000+00:00", "phones": [{"phone": "+10123456789", "phone_formatted":
        "+1 012-345-6789", "type": "office"}], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_bSKktPiVMmLtDeKCU0c8Hxix9ZrfHZoRwZqRrOccH3A", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls": [], "date_created":
        "2016-10-06T19:17:36.746000+00:00", "integration_links": [], "emails": [{"type":
        "office", "email": "test@test.com"}], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}],
        "html_url": "https://app.close.io/lead/lead_TmOt7931GZaeXOZ0hQZQEiNHkoEljPgL2H6mVzdt8Mn/",
        "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom":
        {"Work eligibility": "Yes", "What class are you interested in?": "Portland
        - January - Full-time", "Heard about Epicodus from": "Test", "Gender": "Female",
        "Age": 10.0, "Previous job": "Test", "Race": "Asian or Asian American", "Previous
        salary": 10000.0, "Education": "No formal educational credential", "Where
        do you currently live?": "Portland area"}, "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE",
        "url": "http://www.test.com", "date_created": "2016-10-06T19:17:36.751000+00:00",
        "opportunities": [], "created_by_name": "Michael Kaiser-Nyman", "integration_links":
        [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=Test%20Test&button=",
        "name": "Epicenter Link"}], "id": "lead_T[...]
