---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=student2%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_C7SojsosrkudQs",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C7SojsosrkudQs/bank_accounts"
          },
          "created": 1515707194,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "student2@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C7SojsosrkudQs/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C7SojsosrkudQs/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Thu, 11 Jan 2018 21:46:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_C7SojsosrkudQs/sources
    body:
      encoding: UTF-8
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_C7SozpBeYU9kEE",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_C7SojsosrkudQs",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Thu, 11 Jan 2018 21:46:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_C7SojsosrkudQs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_C7SojsosrkudQs/sources/ba_C7SozpBeYU9kEE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_C7SozpBeYU9kEE",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_C7SojsosrkudQs",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Thu, 11 Jan 2018 21:46:35 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-6ed610ab-20b9-45ee-b1ea-273ea6387c71","client_id":"<PLAID_CLIENT_ID>","secret":"<PLAID_SECRET_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-9c5017a3-43ae-4428-ae6d-34c6ff50f23e",
          "item_id": "p8oeGPpwVKcorAQrPeBdhW1xg7VNPlcB3w3LgR",
          "request_id": "dbayG"
        }
  recorded_at: Thu, 11 Jan 2018 21:46:46 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/stripe/bank_account_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9c5017a3-43ae-4428-ae6d-34c6ff50f23e","account_id":"6Mr7KeNlWQhMD6jDpGZPTP3b7N8Qj3ijP6z9L","client_id":"<PLAID_CLIENT_ID>","secret":"<PLAID_SECRET_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "request_id": "6rLl1",
          "stripe_bank_account_token": "btok_0BjDspYv63jBfUrZ53d3bFKF"
        }
  recorded_at: Thu, 11 Jan 2018 21:46:47 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_C7SojsosrkudQs/sources
    body:
      encoding: UTF-8
      string: source=btok_0BjDspYv63jBfUrZ53d3bFKF
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "You cannot use a Stripe token more than once: btok_0BjDspYv63jBfUrZ53d3bFKF.",
            "param": "source"
          }
        }
  recorded_at: Thu, 11 Jan 2018 21:50:55 GMT
recorded_with: VCR 4.0.0
