---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-b77b4b31-19a7-4551-8145-8fd432f8c108","client_id":"<PLAID_CLIENT_ID>","secret":"<PLAID_SECRET_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-8d3e9d47-b847-4121-8928-c8c9ff46e7c0",
          "item_id": "Xvbmv54RAMfyMl7PRvzbu8wpEVJzPosVG3pzLD",
          "request_id": "6lJ9W"
        }
  recorded_at: Wed, 10 Jan 2018 23:16:05 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/stripe/bank_account_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8d3e9d47-b847-4121-8928-c8c9ff46e7c0","account_id":"9QRlQAPjmehdoaAG9mvNFLkdgED17wCz9NDzg","client_id":"<PLAID_CLIENT_ID>","secret":"<PLAID_SECRET_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "request_id": "B6Baf",
          "stripe_bank_account_token": "btok_0BisnhYv63jBfUrZMxu45iLU"
        }
  recorded_at: Wed, 10 Jan 2018 23:16:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=student1%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_C771fC5zG6TSbE",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C771fC5zG6TSbE/bank_accounts"
          },
          "created": 1515626166,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "student1@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C771fC5zG6TSbE/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C771fC5zG6TSbE/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Wed, 10 Jan 2018 23:16:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_C771fC5zG6TSbE/sources
    body:
      encoding: UTF-8
      string: source=btok_0BisnhYv63jBfUrZMxu45iLU
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_C771koBkRAM93H",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_C771fC5zG6TSbE",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "verified",
          "name": null
        }
  recorded_at: Wed, 10 Jan 2018 23:16:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_C771fC5zG6TSbE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_C771fC5zG6TSbE/sources/ba_C771koBkRAM93H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_C771koBkRAM93H",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_C771fC5zG6TSbE",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "verified",
          "name": null
        }
  recorded_at: Wed, 10 Jan 2018 23:16:07 GMT
recorded_with: VCR 4.0.0
