---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student15%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431378082,
          "id": "cus_6DphdpsVhmrkbl",
          "livemode": false,
          "description": "student15@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DphdpsVhmrkbl/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DphdpsVhmrkbl/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DphdpsVhmrkbl/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DphdpsVhmrkbl/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Mon, 11 May 2015 21:00:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DphdpsVhmrkbl/sources
    body:
      encoding: US-ASCII
      string: source[object]=card&source[number]=4242424242424242&source[exp_month]=12&source[exp_year]=2020&source[cvv]=123
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_6Dph1RENR6NFUR",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": null,
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6DphdpsVhmrkbl",
          "type": "Visa"
        }
  recorded_at: Mon, 11 May 2015 21:00:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DphdpsVhmrkbl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=61821&currency=usd&customer=cus_6DphdpsVhmrkbl
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_6DphbYjysrQc5s",
          "object": "charge",
          "created": 1431378085,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 61821,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_6Dph1RENR6NFUR",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "B5I5Hkz6r7cWlvfb",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_6DphdpsVhmrkbl",
            "type": "Visa"
          },
          "captured": true,
          "card": {
            "id": "card_6Dph1RENR6NFUR",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "B5I5Hkz6r7cWlvfb",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_6DphdpsVhmrkbl",
            "type": "Visa"
          },
          "balance_transaction": "txn_6DphI7PzDIzCRj",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_6DphdpsVhmrkbl",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": [],
          "statement_description": null,
          "fee": 1823,
          "fee_details": [
            {
              "amount": 1823,
              "currency": "usd",
              "type": "stripe_fee",
              "description": "Stripe processing fees",
              "application": null,
              "amount_refunded": 0
            }
          ]
        }
  recorded_at: Mon, 11 May 2015 21:00:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DphdpsVhmrkbl/cards/card_6Dph1RENR6NFUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_6Dph1RENR6NFUR",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": null,
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6DphdpsVhmrkbl",
          "type": "Visa"
        }
  recorded_at: Fri, 22 May 2015 18:58:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DphdpsVhmrkbl/sources/card_6Dph1RENR6NFUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_6Dph1RENR6NFUR",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": null,
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6DphdpsVhmrkbl",
          "type": "Visa"
        }
  recorded_at: Wed, 27 May 2015 21:14:55 GMT
- request:
    method: get
    uri: https://<CLOSE_IO_API_KEY>:@app.close.io/api/v1/lead/?query=email:student205@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"has_more": false, "total_results": 0, "data": []}'
  recorded_at: Tue, 07 Jul 2015 17:42:49 GMT
[...]
- request:
    method: get
    uri: https://<CLOSE_IO_API_KEY>:@app.close.io/api/v1/lead/?query=email:test@test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "display_name":
        "TEST TEST", "addresses": [], "name": "TEST TEST", "contacts": [{"name": "TEST
        TEST", "title": "", "date_updated": "2015-06-30T17:44:58.672000+00:00", "phones":
        [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "id":
        "cont_lGPYfvRMszgKcjpML3aAdTPxiJ1JLgQTyWvB9e4w2oS", "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE",
        "urls": [], "date_created": "2015-06-30T17:44:58.672000+00:00", "emails":
        [{"type": "office", "email": "test@test.com"}], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}],
        "updated_by_name": "Michael Kaiser-Nyman", "created_by_name": "Michael Kaiser-Nyman",
        "status_id": "stat_IAcdBqZZTAul6vK2srakLxAyd8Kem3ALHW6MBg12ntc", "html_url":
        "https://app.close.io/lead/lead_uRGdf2h3prNy7yTGrlhY8Y8Xgtva1zSOixZ5jNVrsBt/",
        "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom":
        {"amount_owed": 1000, "amount_paid": 200}, "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE",
        "date_updated": "2015-07-07T20:37:12.254000+00:00", "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "opportunities": [], "url": "http://www.test.com", "status_label": "Enrolled",
        "date_created": "2015-06-30T17:44:58.678000+00:00", "id": "lead_uRGdf2h3prNy7yTGrlhY8Y8Xgtva1zSOixZ5jNVrsBt",
        "description": ""}]}'
  recorded_at: Wed, 08 Jul 2015 22:35:46 GMT
[...]
