<h1><%= @assessment.title %></h1>
<h3><%= @assessment.section_number %>. <%= @assessment.section %></h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Requirement</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <% @assessment.requirements.each do |requirement| %>
      <tr>
        <td><%= requirement.content %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
