---
http_interactions:
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=http%3A%2F%2Finvestors.shopify.com%2Ffiles%2Fdoc_downloads%2Ftest.pdf&signers%5B0%5D%5Bemail_address%5D=student1%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+1&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1435354391'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"04b1e3f6500d28a2f5917337df104299acf1bfcb","title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"test_mode":true,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/04b1e3f6500d28a2f5917337df104299acf1bfcb","files_url":"https:\/\/api.hellosign.com\/\/v3\/signature_request\/files\/04b1e3f6500d28a2f5917337df104299acf1bfcb","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=04b1e3f6500d28a2f5917337df104299acf1bfcb","requester_email_address":"chris@epicodus.com","signatures":[{"signature_id":"3c27a37794b23964c6b186e12b6a9986","has_pin":false,"signer_email_address":"student1@example.com","signer_name":"Example Brown 1","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null}],"cc_email_addresses":[]}}
  recorded_at: Fri, 26 Jun 2015 21:33:13 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/3c27a37794b23964c6b186e12b6a9986
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1435354393'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=3c27a37794b23964c6b186e12b6a9986&token=ead7689d8fe86a7384c6280ce8c0d67f","expires_at":1435357993}}
  recorded_at: Fri, 26 Jun 2015 21:33:13 GMT
recorded_with: VCR 2.9.3
