---
http_interactions:
- request:
    method: get
    uri: https://api.balancedpayments.com/jsonp/cards?callback=balanced_jsonp_9815126578323543&data=%7B%22name%22:%22Jane%20Doe%22,%22number%22:%224111111111111111%22,%22expiration_month%22:%2212%22,%22expiration_year%22:%222020%22,%22cvv%22:%22123%22,%22address%22:%7B%22postal_code%22:%2211211%22%7D,%22meta%22:%7B%22capabilities_system_timezone%22:-7,%22capabilities_user_agent%22:%22Mozilla/5.0%20(Macintosh%3B%20PPC%20Mac%20OS%20X)%20AppleWebKit/534.34%20(KHTML,%20like%20Gecko)%20PhantomJS/1.9.7%20Safari/534.34%22,%22capabilities_language%22:%22en-US%22,%22capabilities_kp%22:38,%22capabilities_cli%22:1,%22capabilities_loaded%22:1413913729000,%22capabilities_screen_width%22:2560,%22capabilities_screen_length%22:1440,%22capabilities_hist%22:3,%22capabilities_cookie%22:%221413913728955.5677878961432725.2!0%22,%22capabilities_cl%22:false,%22capabilities_submitted%22:1413913729048,%22capabilities_scrollX%22:0,%22capabilities_scrollY%22:0%7D%7D
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      - text/plain
    body:
      encoding: UTF-8
      string: |
        /**/ balanced_jsonp_9815126578323543(
        {"status":201,"header":{"X-Balanced-Guru":"OHM82aeb472594a11e4bcf102a1fe52a36c","Content-Type":"application\/json","x-balanced-host":"bapi-live-prod-7nf6hx-10-3-4-170","x-balanced-software-build":"1.8.30","Content-Length":154,"access-control-allow-origin":"*","access-control-allow-headers":"Content-Type","x-balanced-revision":"1.1","access-control-allow-methods":"POST, OPTIONS","X-Midlr-Version":"2","x-newrelic-app-data":"PxQFWFNXCQYTVVhWAwQDVUYdFhE1AwE2QgNWEVlbQFtcCxYxSBVbDQoZVA4IF0pcXAgEEBhSVhQAQhhQEAMCFlVAFEIIFBQCHVUJWQhQCltRAgVYX1oKBQdRWU4XAAdUUB0WEQcDBlEAUlkGDA4GUVFSDVQTTRMEBVpEBDs="},"body":"{\n  \"cards\": [\n    {\n      \"href\": \"\/cards\/CC3YBqxI8iCiERddsi8Z43pZ\",\n      \"id\": \"CC3YBqxI8iCiERddsi8Z43pZ\",\n      \"links\": {}\n    }\n  ],\n  \"links\": {}\n}"}
        );
  recorded_at: Tue, 21 Oct 2014 17:48:50 GMT
[...]
