---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=test%40test.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7sS5pErmO35nwD",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS5pErmO35nwD/bank_accounts"
          },
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS5pErmO35nwD/cards"
          },
          "created": 1455046167,
          "currency": null,
          "default_bank_account": null,
          "default_card": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "test@test.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS5pErmO35nwD/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS5pErmO35nwD/subscriptions"
          },
          "active_card": null,
          "subscription": null
        }
  recorded_at: Sun, 05 Jan 2014 08:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS5pErmO35nwD/sources
    body:
      encoding: UTF-8
      string: source[account_number]=000123456789&source[country]=US&source[object]=bank_account&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS5byQCGb90f8",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS5pErmO35nwD",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Sun, 05 Jan 2014 08:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS5pErmO35nwD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "i[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS5pErmO35nwD/sources/ba_7sS5byQCGb90f8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS5byQCGb90f8",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS5pErmO35nwD",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Sun, 05 Jan 2014 08:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS5pErmO35nwD/sources/ba_7sS5byQCGb90f8/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS5byQCGb90f8",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS5pErmO35nwD",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "verified",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Sun, 05 Jan 2014 08:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS5w9Qg4bVF1Z/sources
    body:
      encoding: UTF-8
      string: source[account_number]=000123456789&source[country]=US&source[object]=bank_account&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS5A5vRpHZeXQ",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS5w9Qg4bVF1Z",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Sun, 05 Jan 2014 08:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS5w9Qg4bVF1Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "i[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS5w9Qg4bVF1Z/sources/ba_7sS5A5vRpHZeXQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS5A5vRpHZeXQ",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS5w9Qg4bVF1Z",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Sun, 05 Jan 2014 08:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS5w9Qg4bVF1Z/sources/ba_7sS5A5vRpHZeXQ/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS5A5vRpHZeXQ",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS5w9Qg4bVF1Z",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "verified",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Sun, 05 Jan 2014 08:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&customer=cus_7sS5pErmO35nwD&source=ba_7sS5A5vRpHZeXQ
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Customer cus_7sS5pErmO35nwD does not have a linked source with ID ba_7sS5A5vRpHZeXQ.",
            "param": "source",
            "code": "missing"
          }
        }
  recorded_at: Sun, 05 Jan 2014 08:00:00 GMT
recorded_with: VCR 3.0.1
