---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded_with_template
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&custom_fields%5Bsign_date%5D=Monday%2C+January+08%2C+2018&custom_fields%5Bstudent_name%5D=Example+Brown+395&signers%5BStudent%5D%5Bemail_address%5D=student357%40example.com&signers%5BStudent%5D%5Bname%5D=Example+Brown+395&subject=Sign+to+accept+the+Seattle+Complaint+Disclosure&template_id=<COMPLAINT_DISCLOSURE_WA_TEMPLATE_ID>&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1515463180'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"5684dfcc33aa1d73e22f577178e9af18d5eecb07","test_mode":true,"title":"Sign
        to accept the Seattle Complaint Disclosure","original_title":"Sign to accept
        the Seattle Complaint Disclosure","subject":"Sign to accept the Seattle Complaint
        Disclosure","message":"Washington Student Complaint Disclosure","metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"student_name","type":"text","required":null,"api_id":"90d651_13","editor":null,"value":"Example
        Brown 395"},{"name":"sign_date","type":"text","required":null,"api_id":"90d651_14","editor":null,"value":"Monday,
        January 08, 2018"}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/5684dfcc33aa1d73e22f577178e9af18d5eecb07","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/5684dfcc33aa1d73e22f577178e9af18d5eecb07","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=5684dfcc33aa1d73e22f577178e9af18d5eecb07","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"e68ced4bb0513e117b8f527168c2cbe5","has_pin":false,"signer_email_address":"student357@example.com","signer_name":"Example
        Brown 395","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Tue, 09 Jan 2018 01:59:41 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/e68ced4bb0513e117b8f527168c2cbe5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1515463181'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=e68ced4bb0513e117b8f527168c2cbe5&token=4aa0ca0745a74bd391aabf403b25e105","expires_at":1515466781}}'
  recorded_at: Tue, 09 Jan 2018 01:59:41 GMT
recorded_with: VCR 4.0.0
