---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded_with_template
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&custom_fields%5Bsign_date%5D=Monday%2C+January+08%2C+2018&custom_fields%5Bstudent_name%5D=Example+Brown+394&signers%5BStudent%5D%5Bemail_address%5D=student356%40example.com&signers%5BStudent%5D%5Bname%5D=Example+Brown+394&subject=Sign+to+accept+the+Seattle+Complaint+Disclosure&template_id=<COMPLAINT_DISCLOSURE_WA_TEMPLATE_ID>&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1515463177'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"8e5ae399b445e7e09f713c2825ef02dcad61efbd","test_mode":true,"title":"Sign
        to accept the Seattle Complaint Disclosure","original_title":"Sign to accept
        the Seattle Complaint Disclosure","subject":"Sign to accept the Seattle Complaint
        Disclosure","message":"Washington Student Complaint Disclosure","metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"student_name","type":"text","required":null,"api_id":"90d651_13","editor":null,"value":"Example
        Brown 394"},{"name":"sign_date","type":"text","required":null,"api_id":"90d651_14","editor":null,"value":"Monday,
        January 08, 2018"}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/8e5ae399b445e7e09f713c2825ef02dcad61efbd","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/8e5ae399b445e7e09f713c2825ef02dcad61efbd","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=8e5ae399b445e7e09f713c2825ef02dcad61efbd","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"753b34d0d61025e5b1c73a6f4c2ab348","has_pin":false,"signer_email_address":"student356@example.com","signer_name":"Example
        Brown 394","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Tue, 09 Jan 2018 01:59:38 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/753b34d0d61025e5b1c73a6f4c2ab348
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1515463178'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=753b34d0d61025e5b1c73a6f4c2ab348&token=c483303500a6a6be9d9a900f9c0b6925","expires_at":1515466778}}'
  recorded_at: Tue, 09 Jan 2018 01:59:38 GMT
recorded_with: VCR 4.0.0
