---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fdocs.google.com%2Fdocument%2Fd%2F1feGlhWnS0g43F2lAXfdcbPZ8FyEzobwD-xbADVy13XQ%2Fpub%3Fembedded%3Dtrue&signers%5B0%5D%5Bemail_address%5D=student271%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+294&subject=Sign+to+accept+the+Seattle+Complaint+Disclosure&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1482178141'
    body:
      encoding: UTF-8
      string: '{"signature_request":{"signature_request_id":"5734145f2d85f37fbe334c48210103e03c77c5fb","test_mode":true,"title":"Sign
        to accept the Seattle Complaint Disclosure","original_title":"Sign to accept
        the Seattle Complaint Disclosure","subject":"Sign to accept the Seattle Complaint
        Disclosure","message":null,"metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/5734145f2d85f37fbe334c48210103e03c77c5fb","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/5734145f2d85f37fbe334c48210103e03c77c5fb","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=5734145f2d85f37fbe334c48210103e03c77c5fb","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"369c9ab5f1c3628c6461c1e77f6dc845","has_pin":false,"signer_email_address":"student271@example.com","signer_name":"Example
        Brown 294","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Mon, 19 Dec 2016 20:09:07 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/369c9ab5f1c3628c6461c1e77f6dc845
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1482178144'
    body:
      encoding: UTF-8
      string: '{"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=369c9ab5f1c3628c6461c1e77f6dc845&token=9d46a01385cbd79f499660bdae0b3563","expires_at":1482181744}}'
  recorded_at: Mon, 19 Dec 2016 20:09:08 GMT
recorded_with: VCR 3.0.3
