---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded_with_template
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&custom_fields%5Bsign_date%5D=Tuesday%2C+November+28%2C+2017&custom_fields%5Bstudent_name%5D=Example+Brown+391&signers%5BStudent%5D%5Bemail_address%5D=student353%40example.com&signers%5BStudent%5D%5Bname%5D=Example+Brown+391&subject=Sign+to+accept+the+Seattle+Complaint+Disclosure&template_id=<COMPLAINT_DISCLOSURE_WA_TEMPLATE_ID>&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1511920913'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"7b983272b21cbe609562eb45e871a73c42cd78cc","test_mode":true,"title":"Sign
        to accept the Seattle Complaint Disclosure","original_title":"Sign to accept
        the Seattle Complaint Disclosure","subject":"Sign to accept the Seattle Complaint
        Disclosure","message":"Washington Student Complaint Disclosure","metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"student_name","type":"text","required":null,"api_id":"90d651_13","editor":null,"value":"Example
        Brown 391"},{"name":"sign_date","type":"text","required":null,"api_id":"90d651_14","editor":null,"value":"Tuesday,
        November 28, 2017"}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/7b983272b21cbe609562eb45e871a73c42cd78cc","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/7b983272b21cbe609562eb45e871a73c42cd78cc","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=7b983272b21cbe609562eb45e871a73c42cd78cc","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"0ddb281e9245653018afd473ddac31d2","has_pin":false,"signer_email_address":"student353@example.com","signer_name":"Example
        Brown 391","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Wed, 29 Nov 2017 02:01:54 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/0ddb281e9245653018afd473ddac31d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1511920914'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=0ddb281e9245653018afd473ddac31d2&token=f7be174fc1a1e112e293b3a6eae3be58","expires_at":1511924514}}'
  recorded_at: Wed, 29 Nov 2017 02:01:54 GMT
recorded_with: VCR 3.0.3
