---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student9%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431378404,
          "id": "cus_6DpmXkTrAvaws4",
          "livemode": false,
          "description": "student9@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpmXkTrAvaws4/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpmXkTrAvaws4/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpmXkTrAvaws4/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpmXkTrAvaws4/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Mon, 11 May 2015 21:06:18 GMT
recorded_with: VCR 2.9.3
