<% if current_student && @student.interview_assignments.for_course(@course).with_feedback_from_company.any? %>
  <div class="col-md-5">
    <h3>Interview feedback</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @student.interview_assignments.for_course(@course).any? && Time.zone.now > @student.internship_course.start_date + 1.week %>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr><th>Feedback</th></tr>
              </thead>
              <tbody>
                <ol>
                  <% @student.interview_assignments.for_course(@course).with_feedback_from_company.shuffle.each do |interview_assignment| %>
                    <tr><td><li><%= interview_assignment.feedback_from_company %></li></td></tr>
                  <% end %>
                </ol>
              </tbody>
            </table>
          </div>
        <% else %>
          <p>Not yet available.</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
