<% submission.assessment.requirements.each do |req| %>
      <div class="box student-reqs"><%= req.content %><span class="larger_h2 end_line"><%= Grade.find_by(submission_id: submission.id, requirement_id: req.id) ? Grade.find_by(submission_id: submission.id, requirement_id: req.id).score.to_s + " points" : "keep waiting..." %></span></div>
      <% if Grade.find_by(submission_id: submission.id, requirement_id: req.id) %><div class="box comments"><%= Grade.find_by(submission_id: submission.id, requirement_id: req.id).comment %></div> <% end %>
<% end %>
