<div class="student-div student-internships">
  <ul class="list-group">
    <% @course.internships_sorted_by_interest(@student).each do |internship| %>
      <li class="list-group-item">
        <div class='row'>
            <div class='col-xs-3'>
              <%= link_to internship.company_name, course_internship_path(@course, internship) %>
              <%= render 'internships/rating_label', rating: @student.find_rating(internship) %>
            </div>
            <% if @student.find_rating(internship) %>
              <p class='col-xs-8'><%= @student.find_rating(internship).notes %></p>
            <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
