<div class="student-div student-attendance">
  <% @student.course.class_dates_until(Time.zone.now.to_date).sort.reverse.each do |day| %>
    <ul class='col-xs-12 list-unstyled'>
        <li>
          <span class="col-xs-2">
            <%= day.strftime("%A") %>
          </span>
          <span class="col-xs-2">
            <%= day.strftime("%B %d, %Y") %>
          </span>
          <span>
            <% if @student.attendance_record_on_day(day) == nil %>
              <span class="attendance absent col-xs-2" disabled>Absent</span>
            <% elsif @student.attendance_record_on_day(day).tardy %>
              <span class="attendance tardy col-xs-2" disabled>Tardy</span>
            <% elsif @student.attendance_record_on_day(day).left_early %>
              <span class="attendance left-early col-xs-2" disabled>Left early</span>
            <% else %>
              <span class="attendance on-time col-xs-2" disabled>On time</span>
            <% end %>
          </span>

          <% if is_a? Admin %>
            <span class="col-xs-2">
              <%= link_to 'Edit', new_attendance_record_amendment_path(student: @student, day: day), class: ''  %>
            </span>
          <% end %>

          <span class="col-xs-2"><%= @student.pair_on_day(day) ? @student.pair_on_day(day).name : 'Solo' %></span>
        </li>
    </ul>
  <% end %>
</div>
