<% @students.sort_by{|s| s.assessment_completion}.each do |student| %>
  <div class="box">
    <span class="front_line_float"><%= link_to student[:name], student_path(student) %></span>
      <div class="mid_line"> - <span class="small-text">Last Submission: </span>
        <% if student.submissions.includes(:assessment).count > 0 %>
          <%= student.last_assessment.title %>
        <% else %>
          No Assessments Submitted
        <% end %>
     - </div>
    <span class="end_line"><%= student.assessment_completion %>%</span>
  </div>
<% end %>


