<% if can?(:manage, Internship) %>
  <h3>Internships</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="student-div student-internships">
        <div class="table-responsive">
          <table class="table student-internship-rankings-datatable">
            <thead>
              <tr>
                <th>Company</th>
                <th>Ranking from student</th>
              </tr>
            </thead>
            <tbody>
              <% @course.internships.each do |internship| %>
                <tr>
                  <td class="col-xs-3"><%= link_to internship.name, course_internship_path(@course, internship) %></td>
                  <td><p><%= @student.find_rating(internship).try(:number) %></p></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% elsif can?(:read, Internship) && !@student.interview_assignments.for_course(@course).any? && @course.rankings_visible? %>
  <%= render 'ratings/form' %>
<% elsif !@student.interview_assignments.for_course(@course).any? && !@course.rankings_visible? %>
  <h3>Internships</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table datatable">
        <thead>
          <tr>
            <th>Company</th>
          </tr>
        </thead>
        <tbody>
          <% @course.internships.each do |internship| %>
            <tr>
              <td><%= link_to internship.name, "##{internship.id}", data: { toggle: "modal" } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
