<div class="student-div student-internships">
  <span class="company-list">
    <% @student.internships_sorted_by_interest.each do |internship| %>
      <div class="<%= set_internship_background(@student.find_rating(internship)) %>">
        <div class='row'>
          <li>
            <h3 class='col-xs-4'><%= link_to internship.company_name, course_internship_path(@student.course, internship) %></h3>
            <% if @student.find_rating(internship) %>
              <p class='col-xs-8'><%= @student.find_rating(internship).notes %></p>
            <% end %>
          </li>
        </div>
      </div>
    <% end %>
  </span>
</div>
