<ol>
  <% @student.submissions.each do |submission| %>
    <p class="box student-reqs submission_<%=submission.id %>"><%= submission.assessment.title %> <span class="end_line"><%= submission.grades.first ? image_tag("checkmark.png", alt:"check mark") : image_tag("wait.png", alt:"waiting smiley face") %></span><span class="reqs-container"><%= render 'requirements', submission: submission %></span></p>

  <% end %>
</ol>
