<!-- Delete if false line to make it work -->
<% if false %>
  <ol>
    <% @student.assessments.each do |assessment| %>
      <p class="box student-reqs"><%= link_to assessment.title, assessment.url %> <span class="end_line"><%= image_tag("checkmark.png", alt:"check mark") %></span></p>
      <div class="reqs-container"><%= render 'requirements' %></div>
    <% end %>
  </ol>
<% end %>


   $(function() {
        $(".student-reqs").click(function() {
            $(".reqs-container").toggle();
            if ($(".reqs-container").is(":visible")) {
                $(".reqs-container").slideUp();
            } else {
                $(".reqs-container").slideDown();
            }
            return false;
        });
    });
