<ol>
  <% @student.submissions.each do |submission| %>
    <p class="box student-reqs"><%= link_to submission.assessment.title, submission.link %> <span class="end_line"><%= submission.grades.first ? image_tag("checkmark.png", alt:"check mark") : image_tag("wait.png", alt:"waiting smiley face") %></span></p>
    <div class="reqs-container"><%= render 'requirements', submission: submission %></div>
  <% end %>
</ol>
