<h1><%= "#{current_admin.current_course.description} student roster" %></h1>

<ul class='unstyled'>
  <% @students.each do |student| %>
    <li><%= link_to student.name, student, class: "unstyled-link" %></li>
  <% end %>
</ul>
