<% if @results.any? %>
  <% @results.each do |student| %>
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to student.name, student_courses_path(student) %>
          <% if student.courses.empty? %>
            <span class="label label-primary pull-right">Not enrolled</span>
          <% elsif student.class_over? %>
            <span class="label label-info pull-right">Graduate</span>
          <% elsif student.courses.any? %>
            <span class="label label-success pull-right">Current student</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <h3 class="text-center">No students found.</h3>
<% end %>
