<h1><%= @student[:name] %></h1>
<h4><%= @student.assessment_completion %> % Complete</h4>

<hr>

<h2 class="larger_h2">Submissions</h2>
<%= render 'submissions' %>


<!--
- Teacher & Student render pages
- Student avatar from github
- See individual Requirement Grades for each submission
-

 -->
<hr>
<%= pie_chart({"The code does not meet this standard." => @student.grade_one, "The code meets this standard most of the time." => @student.grade_two, "The code meets this standard all of the time." => @student.grade_three, "The code exceeds this standard." => @student.grade_four}) %>


