---
http_interactions:
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:example@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tz-Offset:
      - '0'
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '320'
      X-Rate-Limit-Remaining:
      - '198'
      X-Rate-Limit-Reset:
      - '4.065137'
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "addresses":
        [{"city": "Portland", "country": "US", "zipcode": "97204", "label": "mailing",
        "state": "OR", "address_1": "400 SW 6th Ave", "address_2": ""}], "date_updated":
        "2018-01-09T01:58:07.082000+00:00", "created_by_name": "Michael Kaiser-Nyman",
        "opportunities": [], "custom.lcf_GrOe1vSEWCpdfHpOaCiEchiYTzlGzg7HpL4rICb2bJh":
        "2000-01 PHL Ruby/Rails (Jan 3 - Jul 7)", "id": "lead_L125JRKO4Kh8GJMh7Ah9ggVsrPAzmVEp598taaQBzVe",
        "description": "Please check with Mike if any fields in here are causing issues
        for your queries.", "display_name": "THIS LEAD IS USED FOR TESTING PURPOSES.
        PLEASE DO NOT DELETE.", "contacts": [{"name": "THIS LEAD IS USED FOR TESTING
        PURPOSES. PLEASE DO NOT DELETE.", "title": "", "date_updated": "2018-01-09T01:58:07.072000+00:00",
        "phones": [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_JM7ymwgX3gK2n2Dc0w1dWAFgjlTA71hUZPjg5mp3Cu4", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "urls": [], "date_created": "2017-05-15T23:51:29.062000+00:00", "integration_links":
        [], "emails": [{"type": "office", "email": "example@example.com"}], "lead_id":
        "lead_L125JRKO4Kh8GJMh7Ah9ggVsrPAzmVEp598taaQBzVe"}], "custom.lcf_6Tk6lJghWEfqAcSk45W9k93vF6zZ47jUcrC7cLwTQhh":
        "2000-01 PHL Ruby/Rails (Jan 3 - Jul 7)", "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "custom": {"Demographics - Veteran": "No", "Cohort - Applied": "2000-01 PHL
        Ruby/Rails (Jan 3 - Jul 7)", "Demographics - Birth Date": "2000-01-01", "Demographics
        - Disability": "No", "Cohort - Starting": "2000-01 PHL Ruby/Rails (Jan 3 -
        Jul 7)", "Demographics - Education": "GED", "Demographics - Shirt size": "S"},
        "updated_by_name": "Michael Kaiser-Nyman", "custom.lcf_pVGPL0vT6maOxhK3U4GRc4mjzjGWmREWg0nPQzylvCE":
        "2000-01-01", "custom.lcf_lizZuswvOd4k08l8kb3KNVmM38kJMdZuxIwjbdhbS6T": "S",
        "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "status_id":
        "stat_jHXa7MyAAAXtdOq6WuzN4IDHXXkwaq41miOxlg1Os0j", "html_url": "https://app.close.io/lead/lead_L125JRKO4Kh8GJMh7Ah9ggVsrPAzmVEp598taaQBzVe/",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "custom.lcf_38CfDp4LfSEAuLykjw8kZbQH5ZJwQSbUr95i5vCuADY":
        "GED", "integration_links": [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=THIS%20LEAD%20IS%20USED%20FOR%20TESTING%20PURPOSES.%20PLEASE%20DO%20NOT%20DELETE.&button=",
        "name": "Epicenter Link"}], "name": "", "url": null, "status_label": "Applicant
        - No longer interested (legacy)", "custom.lcf_xl5OstFwOKZrYWhVtCJNEjrhcFfj0J2hb43MdHOCmiW":
        "No", "date_created": "2017-05-15T23:51:29.068000+00:00", "custom.lcf_7C6poq2WtkRq6t9136FwaHjahQmWkb7qgOnlwiFc8Fd":
        "No"}]}'
  recorded_at: Tue, 09 Jan 2018 02:00:40 GMT
recorded_with: VCR 4.0.0
