<h1>Credit card information</h1>

<p>After entering your credit card information, you can start making payments.</p>

<div class="row">
  <div class="col-xs-6">
    <%= render 'form' %>
  </div>
</div>
