---
http_interactions:
- request:
    method: post
    uri: https://<BALANCED_API_KEY>:@api.balancedpayments.com/cards
    body:
      encoding: UTF-8
      string: '{"number":"4111111111111111","expiration_month":"12","expiration_year":"2020","cvv":"123"}'
    headers:
      Content-Type:
      - application/json;revision=1.1
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Balanced-Guru:
      - OHMc13d8c5c690a11e493f002a1fe52a36c
      X-Balanced-Host:
      - bapi-integration-prod-8u30f7-10-3-5-17
      X-Balanced-Marketplace:
      - TEST-MP25WywsPx8EeGEUdXq7NHPH
      X-Balanced-Merchant:
      - TEST-MR25szSXTcDDLogl9uXOlFKV
      X-Balanced-Revision:
      - '1.1'
      X-Balanced-Software-Build:
      - 1.8.39
      X-Midlr-Version:
      - '2'
    body:
      encoding: UTF-8
      string: |-
        {
          "cards": [
            {
              "links": {
                "customer": null
              },
              "fingerprint": "b3ecb5551877e4c9ee9937f74cffbcfacc388e575cb4c061c30f8a32d340001b",
              "cvv_result": "Match",
              "number": "xxxxxxxxxxxx1111",
              "avs_postal_match": null,
              "expiration_month": 12,
              "meta": {},
              "id": "CC5TkHLqYhktwQQmT64eGCfS",
              "category": "other",
              "type": "credit",
              "cvv_match": "yes",
              "bank_name": "JPMORGAN CHASE BANK, N.A.",
              "avs_street_match": null,
              "brand": "Visa",
              "updated_at": "2014-11-10T18:53:09.559299Z",
              "address": {
                "city": null,
                "line2": null,
                "line1": null,
                "state": null,
                "postal_code": null,
                "country_code": null
              },
              "can_debit": true,
              "name": null,
              "expiration_year": 2020,
              "cvv": "xxx",
              "is_verified": true,
              "avs_result": null,
              "can_credit": false,
              "href": "/cards/CC5TkHLqYhktwQQmT64eGCfS",
              "created_at": "2014-11-10T18:53:09.559297Z"
            }
          ],
          "links": {
            "cards.card_holds": "/cards/{cards.id}/card_holds",
            "cards.customer": "/customers/{cards.customer}",
            "cards.disputes": "/cards/{cards.id}/disputes",
            "cards.debits": "/cards/{cards.id}/debits"
          }
        }
  recorded_at: Mon, 10 Nov 2014 18:52:44 GMT
- request:
    method: get
    uri: https://<BALANCED_API_KEY>:@api.balancedpayments.com/cards/CC5TkHLqYhktwQQmT64eGCfS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;revision=1.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Balanced-Guru:
      - OHMc1d16efe690a11e4910006429171ffad
      X-Balanced-Host:
      - bapi-integration-prod-8u30f7-10-3-5-17
    [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student101%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1430941124,
          "id": "cus_6BwEPbcbk7umbO",
          "livemode": false,
          "description": "student101@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6BwEPbcbk7umbO/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6BwEPbcbk7umbO/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6BwEPbcbk7umbO/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6BwEPbcbk7umbO/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Wed, 06 May 2015 19:38:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6BwEPbcbk7umbO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6BwEPbcbk7umbO/cards
    body:
      encoding: US-ASCII
      string: source[object]=card&source[number]=4242424242424242&source[exp_month]=12&source[exp_year]=2020&source[cvv]=123
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_6BwEHulHxdJgMZ",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": null,
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6BwEPbcbk7umbO",
          "type": "Visa"
        }
  recorded_at: Wed, 06 May 2015 19:38:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6BwEPbcbk7umbO/sources/card_6BwEHulHxdJgMZ
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_6BwEHulHxdJgMZ",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": null,
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6BwEPbcbk7umbO",
          "type": "Visa"
        }
  recorded_at: Wed, 06 May 2015 19:38:24 GMT
[...]
