---
http_interactions:
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fkuyegiukdg57sym%2Fcode_of_conduct.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student98%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+102&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1455225167'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"8a78e462419bd464bab187e3a2adda5f1ccf1f0c","test_mode":true,"title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/8a78e462419bd464bab187e3a2adda5f1ccf1f0c","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/8a78e462419bd464bab187e3a2adda5f1ccf1f0c","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=8a78e462419bd464bab187e3a2adda5f1ccf1f0c","requester_email_address":"michael@epicodus.com","signatures":[{"signature_id":"3533fe1a9b8e5d58952d6777cbe75337","has_pin":false,"signer_email_address":"student98@example.com","signer_name":"Example Brown 102","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Thu, 11 Feb 2016 21:13:09 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/3533fe1a9b8e5d58952d6777cbe75337
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '496'
      X-Ratelimit-Reset:
      - '1455225169'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=3533fe1a9b8e5d58952d6777cbe75337&token=ea6c61f261eb56ee64d3ccd54f4ecc45","expires_at":1455228769}}
  recorded_at: Thu, 11 Feb 2016 21:13:09 GMT
recorded_with: VCR 3.0.1
