---
http_interactions:
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fkuyegiukdg57sym%2Fcode_of_conduct.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student1%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+1&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1455219957'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"914f45129855ae36a5dbe2b5ce61e0811850d643","test_mode":true,"title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/914f45129855ae36a5dbe2b5ce61e0811850d643","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/914f45129855ae36a5dbe2b5ce61e0811850d643","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=914f45129855ae36a5dbe2b5ce61e0811850d643","requester_email_address":"michael@epicodus.com","signatures":[{"signature_id":"da0fb84162967d05d2cc6c0913484289","has_pin":false,"signer_email_address":"student1@example.com","signer_name":"Example Brown 1","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Thu, 11 Feb 2016 19:46:18 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/da0fb84162967d05d2cc6c0913484289
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1455219958'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=da0fb84162967d05d2cc6c0913484289&token=332b7337da0f46949b70344c342e1179","expires_at":1455223558}}
  recorded_at: Thu, 11 Feb 2016 19:46:18 GMT
recorded_with: VCR 3.0.1
