<h1>Your attendance record</h1>

<div class="row">
  <div class="span12">
    <%= pie_chart @student_attendance_stats.punctuality_hash,
      library: {
        pieHole: 0.5,
        chartArea: { top: 20, bottom: 20, width: '100%', height: '90%' },
        colors: ['#2980b9', '#f39c12', '#e74c3c'],
        legend: {
          textStyle: { fontSize: 30 }
        }
      } %>
  </div>
</div>

<div class="row">
  <h3 class="span12">
    Class progress
    <span class="pull-right muted">
      <%= pluralize(@student_attendance_stats.days_remaining, 'day') %> left of class
    </span>
  </h3>
  <div class="progress progress-striped span12">
    <div class="bar" style="width: <%= current_student.cohort.progress_percent %>%;"></div>
  </div>
</div>
