---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Br2xxieGbO7Wai",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2xxieGbO7Wai/bank_accounts"
          },
          "created": 1511920772,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2xxieGbO7Wai/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2xxieGbO7Wai/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Br2xxieGbO7Wai/sources
    body:
      encoding: UTF-8
      string: source[object]=card&source[number]=4242424242424242&source[exp_month]=12&source[exp_year]=2020&source[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_Br2xmckWhjCp5y",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_Br2xxieGbO7Wai",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br2xxieGbO7Wai
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br2xxieGbO7Wai/sources/card_Br2xmckWhjCp5y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_Br2xmckWhjCp5y",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_Br2xxieGbO7Wai",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:34 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=10328&currency=usd&customer=cus_Br2xxieGbO7Wai&source=card_Br2xmckWhjCp5y&description=Philadelphia%3B+2017-11-27%3B+Full-time%3B+upfront%3B+example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_Br2xbEd31dq9gS",
          "object": "charge",
          "amount": 10328,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_Br2xz6eqzXFmKH",
          "captured": true,
          "created": 1511920774,
          "currency": "usd",
          "customer": "cus_Br2xxieGbO7Wai",
          "description": "Philadelphia; 2017-11-27; Full-time; upfront; example@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_Br2xbEd31dq9gS/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_Br2xmckWhjCp5y",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Br2xxieGbO7Wai",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "B5I5Hkz6r7cWlvfb",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:35 GMT
- request:
    method: post
    uri: "<ZAPIER_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"id":1,"description":"Philadelphia; 2017-12-04; Full-time; upfront;
        example@example.com","amount":10000,"fee":328,"status":"succeeded","refund_amount":null,"offline":null,"stripe_transaction":"txn_Br2xz6eqzXFmKH","category":"upfront","notes":null,"event_name":"Payment","email":"example@example.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Response-Id:
      - 5a2998f1-56a0-4c69-9e57-ace3c86901c0
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '9981'
      X-Rate-Limit-Reset:
      - '1512675900'
      X-Session-Key:
      - anonymous
      X-Zapier-Fast-Return:
      - 'true'
      X-Zapier-Jobs:
      - Woooo, a hacker like yourself should consider working at Zapier!
      X-Zapier-Jobs-Link:
      - https://zapier.com/blog/help-automate-business-zapier-jobs-and-careers/
      Zrv:
      - 1EmY5u
    body:
      encoding: UTF-8
      string: '{"status": "success", "attempt": "5a2998f1-56a0-4c69-9e57-ace3c86901c0",
        "id": "54a0475b-3966-4388-a581-d23f8523c7a9", "request_id": "5a2998f1-56a0-4c69-9e57-ace3c86901c0"}'
  recorded_at: Thu, 07 Dec 2017 19:39:29 GMT
[...]
- request:
    method: post
    uri: "<ZAPIER_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"id":1,"description":"Philadelphia; 2017-12-11; Full-time; upfront;
        example@example.com","amount":10000,"fee":328,"status":"succeeded","refund_amount":6018,"offline":null,"stripe_transaction":"txn_Br2xOxqQAaOgIW","category":"upfront","notes":null,"email":"example@example.com","event_name":"refund"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Response-Id:
      - 5a3027cd-e508-4682-9771-8079168c5210
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '9990'
      X-Rate-Limit-Reset:
      - '1513105800'
      X-Session-Key:
      - anonymous
      X-Zapier-Fast-Return:
      - 'true'
      X-Zapier-Jobs:
      - Woooo, a hacker like yourself should consider working at Zapier!
      X-Zapier-Jobs-Link:
      - https://zapier.com/blog/help-automate-business-zapier-jobs-and-careers/
      Zrv:
      - 1EouUa
    body:
      encoding: UTF-8
      string: '{"status": "success", "attempt": "5a3027cd-e508-4682-9771-8079168c5210",
        "id": "b0b6935b-7fed-45ca-be5d-916c63cdd971", "request_id": "5a3027cd-e508-4682-9771-8079168c5210"}'
  recorded_at: Tue, 12 Dec 2017 19:02:37 GMT
recorded_with: VCR 4.0.0
