---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Br2wGox0cUULPW",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2wGox0cUULPW/bank_accounts"
          },
          "created": 1511920746,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2wGox0cUULPW/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2wGox0cUULPW/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Br2wGox0cUULPW/sources
    body:
      encoding: UTF-8
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_Br2w7IExFdTp94",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_Br2wGox0cUULPW",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br2wGox0cUULPW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br2wGox0cUULPW/sources/ba_Br2w7IExFdTp94
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_Br2w7IExFdTp94",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_Br2wGox0cUULPW",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:07 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Br2wGox0cUULPW/sources/ba_Br2w7IExFdTp94/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_Br2w7IExFdTp94",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_Br2wGox0cUULPW",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "verified",
          "name": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:07 GMT
- request:
    method: post
    uri: "<ZAPIER_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"id":1,"description":"Philadelphia; 2017-12-04; Full-time; upfront;
        example@example.com","amount":60000,"fee":1821,"status":"succeeded","refund_amount":null,"offline":null,"stripe_transaction":"test_txn_1","category":"upfront","notes":null,"email":"example@example.com","event_name":"payment_succeeded"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Response-Id:
      - 5a29df7b-7233-452d-8a3f-6e07cc03c6b0
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '9999'
      X-Rate-Limit-Reset:
      - '1512694200'
      X-Session-Key:
      - anonymous
      X-Zapier-Fast-Return:
      - 'true'
      X-Zapier-Jobs:
      - Woooo, a hacker like yourself should consider working at Zapier!
      X-Zapier-Jobs-Link:
      - https://zapier.com/blog/help-automate-business-zapier-jobs-and-careers/
      Zrv:
      - 1En2U2
    body:
      encoding: UTF-8
      string: '{"status": "success", "attempt": "5a29df7b-7233-452d-8a3f-6e07cc03c6b0",
        "id": "434f31e1-d0ba-4d93-8b0b-dc6aa2c4d684", "request_id": "5a29df7b-7233-452d-8a3f-6e07cc03c6b0"}'
  recorded_at: Fri, 08 Dec 2017 00:40:27 GMT
- request:
    method: post
    uri: "<ZAPIER_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"id":1,"description":"Philadelphia; 2017-12-11; Full-time; upfront;
        example@example.com","amount":60000,"fee":1821,"status":"succeeded","refund_amount":null,"offline":null,"stripe_transaction":"test_txn_1","category":"upfront","notes":null,"email":"example@example.com","event_name":"payment_succeeded"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Response-Id:
      - 5a3027c6-c41b-463c-b3a3-81b6c4ac6160
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '9998'
      X-Rate-Limit-Reset:
      - '1513105800'
      X-Session-Key:
      - anonymous
      X-Zapier-Fast-Return:
      - 'true'
      X-Zapier-Jobs:
      - Woooo, a hacker like yourself should consider working at Zapier!
      X-Zapier-Jobs-Link:
      - https://zapier.com/blog/help-automate-business-zapier-jobs-and-careers/
      Zrv:
      - 1EouUa
    body:
      encoding: UTF-8
      string: '{"status": "success", "attempt": "5a3027c6-c41b-463c-b3a3-81b6c4ac6160",
        "id": "91706943-34ae-4e9f-a37c-b79fe9b3d716", "request_id": "5a3027c6-c41b-463c-b3a3-81b6c4ac6160"}'
  recorded_at: Tue, 12 Dec 2017 19:02:30 GMT
recorded_with: VCR 4.0.0
