---
http_interactions:
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:no_course@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "display_name":
        "Test No Course", "addresses": [], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_YyLMZ87A0CRjpfrjQphQMu1Eotz0u9oXl6AWZboR13G", "date_updated":
        "2016-12-02T20:34:17.011000+00:00", "status_label": "Outreach Respondent",
        "description": "Used for Epicenter testing.", "contacts": [{"name": "Test
        No Course", "title": "", "date_updated": "2016-12-02T20:34:17.007000+00:00",
        "phones": [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_6p5eEEmz6WBcLvmm2cnjybggticqkuu85w6MOhVI1cJ", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls": [], "date_created":
        "2016-12-02T20:33:55.663000+00:00", "integration_links": [], "emails": [{"type":
        "office", "email": "no_course@example.com"}], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}],
        "html_url": "https://app.close.io/lead/lead_paofGUSx03z0XzMpcekg9y4g8v8nqRkQ697sm1vyUG1/",
        "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom":
        {}, "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE",
        "url": null, "date_created": "2016-12-02T20:33:55.666000+00:00", "opportunities":
        [], "created_by_name": "Michael Kaiser-Nyman", "integration_links": [{"url":
        "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=Test%20No%20Course&button=",
        "name": "Epicenter Link"}], "id": "lead_paofGUSx03z0XzMpcekg9y4g8v8nqRkQ697sm1vyUG1",
        "updated_by_name": "Michael Kaiser-Nyman", "name": ""}]}'
  recorded_at: Fri, 02 Dec 2016 20:42:30 GMT
recorded_with: VCR 3.0.3
