---
http_interactions:
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:duplicate_email@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 2, "data": [{"tasks": [], "display_name":
        "Test Duplicate Email", "addresses": [], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_YyLMZ87A0CRjpfrjQphQMu1Eotz0u9oXl6AWZboR13G", "date_updated":
        "2016-12-02T20:28:33.433000+00:00", "status_label": "Outreach Respondent",
        "description": "Used in Epicenter automated tests.", "contacts": [{"name":
        "Test Duplicate Email", "title": "", "date_updated": "2016-12-02T20:28:33.427000+00:00",
        "phones": [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_j8QpDxZ00uC40wtwwLoUY3hAfpqIb6TNSh1FU5hZ7TR", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls": [], "date_created":
        "2016-12-02T20:14:05.392000+00:00", "integration_links": [], "emails": [{"type":
        "office", "email": "duplicate_email@example.com"}], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}],
        "html_url": "https://app.close.io/lead/lead_TLjxYbwZ6FLRKWwERPmhog4rVMwYG9teTqrnvWC5WaL/",
        "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom":
        {}, "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE",
        "url": null, "date_created": "2016-12-02T20:14:05.397000+00:00", "opportunities":
        [], "created_by_name": "Michael Kaiser-Nyman", "integration_links": [{"url":
        "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=Test%20Duplicate%20Email&button=",
        "name": "Epicenter Link"}], "id": "lead_TLjxYbwZ6FLRKWwERPmhog4rVMwYG9teTqrnvWC5WaL",
        "updated_by_name": "Michael Kaiser-Nyman", "name": ""}, {"tasks": [], "display_name":
        "Test Duplicate Email", "addresses": [], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_YyLMZ87A0CRjpfrjQphQMu1Eotz0u9oXl6AWZboR13G", "date_updated":
        "2016-12-02T20:28:02.902000+00:00", "status_label": "Outreach Respondent",
        "description": "Used in Epicenter automated tests", "contacts": [{"name":
        "Test Duplicate Email", "title": "", "date_updated": "2[...]
