---
http_interactions:
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:duplicate_email@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 2, "data": [{"tasks": [], "addresses":
        [], "date_updated": "2016-12-02T23:13:05.858000+00:00", "created_by_name":
        "Michael Kaiser-Nyman", "opportunities": [], "id": "lead_gx8sEUtJafT4c1uHmVfmwbGahPLH6PReGmfSi932vQC",
        "description": "Used in Epicenter automated tests", "display_name": "Test
        Duplicate Email", "contacts": [{"name": "Test Duplicate Email", "title": "",
        "date_updated": "2016-12-02T20:28:02.894000+00:00", "phones": [], "created_by":
        "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "id": "cont_jmLw5EivbMBISALlgWL3T9nWC9N3SoPk9aM2KgF68Ma",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls":
        [], "date_created": "2016-12-02T20:14:16.107000+00:00", "integration_links":
        [], "emails": [{"type": "office", "email": "duplicate_email@example.com"}],
        "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}], "created_by":
        "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom": {"Class": "*
        Placement Test"}, "updated_by_name": "Michael Kaiser-Nyman", "updated_by":
        "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "status_id": "stat_YyLMZ87A0CRjpfrjQphQMu1Eotz0u9oXl6AWZboR13G",
        "html_url": "https://app.close.io/lead/lead_gx8sEUtJafT4c1uHmVfmwbGahPLH6PReGmfSi932vQC/",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "integration_links":
        [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=Test%20Duplicate%20Email&button=",
        "name": "Epicenter Link"}], "custom.lcf_Gm7m9WYKo5s8r8hOllbu1FHZEcHFLYjckMecIFdeg0a":
        "* Placement Test", "name": "", "url": null, "status_label": "Outreach Respondent",
        "date_created": "2016-12-02T20:14:16.114000+00:00"}, {"tasks": [], "addresses":
        [], "date_updated": "2016-12-02T23:12:42.109000+00:00", "created_by_name":
        "Michael Kaiser-Nyman", "opportunities": [], "id": "lead_TLjxYbwZ6FLRKWwERPmhog4rVMwYG9teTqrnvWC5WaL",
        "description": "Used in Epicenter automated tests.", "display_name": "Test
        Duplicate Email", "contacts": [{"name": "Test Duplicate Email", "title": "",
        "date_updated": "2[...]
