---
http_interactions:
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:non_matching_course@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "addresses":
        [], "date_updated": "2016-12-02T20:37:17.274000+00:00", "created_by_name":
        "Michael Kaiser-Nyman", "opportunities": [], "id": "lead_LNFSy0uI9sWPS3r2jjd8H8BP01csGrsEADcgGqrchTr",
        "description": "Used for Epicenter testing.", "display_name": "Non-Matching
        Course Test", "contacts": [{"name": "Non-Matching Course Test", "title": "",
        "date_updated": "2016-12-02T20:36:41.361000+00:00", "phones": [], "created_by":
        "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "id": "cont_n7RhRNTtNm2SaSHcw3c3GorbWxXE2maWBWIUiV8LxRi",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls":
        [], "date_created": "2016-12-02T20:36:28.854000+00:00", "integration_links":
        [], "emails": [{"type": "office", "email": "non_matching_course@example.com"}],
        "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}], "created_by":
        "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom": {"Class": "2016-05-JavaScript"},
        "updated_by_name": "Michael Kaiser-Nyman", "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_YyLMZ87A0CRjpfrjQphQMu1Eotz0u9oXl6AWZboR13G", "html_url":
        "https://app.close.io/lead/lead_LNFSy0uI9sWPS3r2jjd8H8BP01csGrsEADcgGqrchTr/",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "integration_links":
        [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=Non-Matching%20Course%20Test&button=",
        "name": "Epicenter Link"}], "custom.lcf_Gm7m9WYKo5s8r8hOllbu1FHZEcHFLYjckMecIFdeg0a":
        "2016-05-JavaScript", "name": "", "url": null, "status_label": "Outreach Respondent",
        "date_created": "2016-12-02T20:36:28.869000+00:00"}]}'
  recorded_at: Fri, 02 Dec 2016 23:17:18 GMT
recorded_with: VCR 3.0.3
