---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=student84%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7sUXfNmGgcAlDf",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sUXfNmGgcAlDf/bank_accounts"
          },
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sUXfNmGgcAlDf/cards"
          },
          "created": 1455055318,
          "currency": null,
          "default_bank_account": null,
          "default_card": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "student84@example.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sUXfNmGgcAlDf/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sUXfNmGgcAlDf/subscriptions"
          },
          "active_card": null,
          "subscription": null
        }
  recorded_at: Tue, 09 Feb 2016 22:02:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sUXfNmGgcAlDf/sources
    body:
      encoding: UTF-8
      string: source[cvv]=123&source[exp_month]=12&source[exp_year]=2020&source[number]=4242424242424242&source[object]=card
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_7sUX40iHMjKKUs",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7sUXfNmGgcAlDf",
          "cvc_check": null,
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null,
          "type": "Visa"
        }
  recorded_at: Tue, 09 Feb 2016 22:02:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sUXfNmGgcAlDf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "i[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sUXfNmGgcAlDf/sources/card_7sUX40iHMjKKUs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_7sUX40iHMjKKUs",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7sUXfNmGgcAlDf",
          "cvc_check": null,
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null,
          "type": "Visa"
        }
  recorded_at: Tue, 09 Feb 2016 22:02:19 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sUXfNmGgcAlDf/sources
    body:
      encoding: UTF-8
      string: source[account_number]=000123456789&source[country]=US&source[object]=bank_account&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sUXsAg3dyo0D9",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sUXfNmGgcAlDf",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Tue, 09 Feb 2016 22:02:20 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sUXfNmGgcAlDf/sources/ba_7sUXsAg3dyo0D9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sUXsAg3dyo0D9",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sUXfNmGgcAlDf",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Tue, 09 Feb 2016 22:02:21 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sUXfNmGgcAlDf/sources/ba_7sUXsAg3dyo0D9/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sUXsAg3dyo0D9",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sUXfNmGgcAlDf",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "verified",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Tue, 09 Feb 2016 22:02:21 GMT
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fkuyegiukdg57sym%2Fcode_of_conduct.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student84%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+86&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1455055321'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"d486e97d95e5acef70ed06f92d4f631909140891","test_mode":true,"title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/d486e97d95e5acef70ed06f92d4f631909140891","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/d486e97d95e5acef70ed06f92d4f631909140891","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=d486e97d95e5acef70ed06f92d4f631909140891","requester_email_address":"michael@epicodus.com","signatures":[{"signature_id":"b4d132403f087aa088edbf96f169622f","has_pin":false,"signer_email_address":"student84@example.com","signer_name":"Example Brown 86","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Tue, 09 Feb 2016 22:02:23 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/b4d132403f087aa088edbf96f169622f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '497'
      X-Ratelimit-Reset:
      - '1455055323'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=b4d132403f087aa088edbf96f169622f&token=a9d177350c92719461c29d854577cc1c","expires_at":1455058923}}
  recorded_at: Tue, 09 Feb 2016 22:02:23 GMT
recorded_with: VCR 3.0.1
