---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=student65%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7tFkJOb8L75K9r",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tFkJOb8L75K9r/bank_accounts"
          },
          "created": 1455230933,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "student65@example.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tFkJOb8L75K9r/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tFkJOb8L75K9r/subscriptions"
          }
        }
  recorded_at: Thu, 11 Feb 2016 22:49:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7tFkJOb8L75K9r/sources
    body:
      encoding: UTF-8
      string: source=tok_7tFbHjS5myKCfE
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_7tFbHZNmqa3KRO",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": "11211",
          "address_zip_check": "pass",
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7tFkJOb8L75K9r",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2016,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": "Example Brown 65",
          "tokenization_method": null
        }
  recorded_at: Thu, 11 Feb 2016 22:49:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7tFkJOb8L75K9r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7tFkJOb8L75K9r/sources/card_7tFbHZNmqa3KRO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_7tFbHZNmqa3KRO",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": "11211",
          "address_zip_check": "pass",
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7tFkJOb8L75K9r",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2016,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": "Example Brown 65",
          "tokenization_method": null
        }
  recorded_at: Thu, 11 Feb 2016 22:49:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js%2Fd31b455&card[name]=Example+Brown+60&card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=123&card[address_zip]=11211
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_86g2JcHAGljUUJ",
          "object": "token",
          "card": {
            "id": "card_86g2daGduZTrwr",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": "11211",
            "address_zip_check": "unchecked",
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2016,
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "Example Brown 60",
            "tokenization_method": null
          },
          "client_ip": "50.141.101.89",
          "created": 1458327034,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 18 Mar 2016 18:50:34 GMT
recorded_with: VCR 3.0.1
