---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js%2Fd31b455&card[name]=Example+Brown+65&card[number]=4012888888881881&card[exp_month]=+&card[exp_year]=2016&card[cvc]=123&card[address_zip]=11211
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The 'exp_month' parameter should be an integer (instead, is  ).",
            "type": "card_error",
            "param": "exp_month",
            "code": "invalid_number"
          }
        }
  recorded_at: Sat, 13 Feb 2016 00:02:30 GMT
recorded_with: VCR 3.0.1
