---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student4%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1432317676,
          "id": "cus_6HuGSUlSwHg1JD",
          "livemode": false,
          "description": "student4@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6HuGSUlSwHg1JD/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6HuGSUlSwHg1JD/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6HuGSUlSwHg1JD/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6HuGSUlSwHg1JD/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Fri, 22 May 2015 18:00:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6HuGSUlSwHg1JD/sources
    body:
      encoding: US-ASCII
      string: source=tok_6FMQGnOBBZoZ8H
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined. Your request was in test mode, but used a non test card. For a list of valid test cards, visit: https://stripe.com/docs/testing.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 22 May 2015 18:00:43 GMT
recorded_with: VCR 2.9.3
