---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js%2Fd31b455&card[name]=Example+Brown+66&card[number]=4242424242424241&card[exp_month]=12&card[exp_year]=2016&card[cvc]=123&card[address_zip]=11211
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card number is incorrect.",
            "type": "card_error",
            "param": "number",
            "code": "incorrect_number"
          }
        }
  recorded_at: Sat, 13 Feb 2016 00:02:31 GMT
recorded_with: VCR 3.0.1
