---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student56%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1432763525,
          "id": "cus_6Jq74GHxK9PIKS",
          "livemode": false,
          "description": "student56@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Jq74GHxK9PIKS/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Jq74GHxK9PIKS/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Jq74GHxK9PIKS/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Jq74GHxK9PIKS/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Wed, 27 May 2015 21:51:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6Jq74GHxK9PIKS/sources
    body:
      encoding: US-ASCII
      string: source=
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Invalid source object: must be a dictionary or a non-empty string. See API docs at https://stripe.com/docs'",
            "param": "source"
          }
        }
  recorded_at: Wed, 27 May 2015 21:51:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: key=pk_test_k71fNBhNztxvhxRq1PQaL4u5&payment_user_agent=stripe.js%2F6a67cf0&card[name]=Example+Brown+54&card[number]=4242424242424241&card[exp_month]=12&card[exp_year]=2016&card[cvc]=123&card[address_zip]=11211
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card number is incorrect.",
            "type": "card_error",
            "param": "number",
            "code": "incorrect_number"
          }
        }
  recorded_at: Wed, 27 May 2015 21:55:03 GMT
recorded_with: VCR 2.9.3
