---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=student1%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7tZz1Ogvap0vn1",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tZz1Ogvap0vn1/bank_accounts"
          },
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tZz1Ogvap0vn1/cards"
          },
          "created": 1455306230,
          "currency": null,
          "default_bank_account": null,
          "default_card": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "student1@example.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tZz1Ogvap0vn1/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tZz1Ogvap0vn1/subscriptions"
          },
          "active_card": null,
          "subscription": null
        }
  recorded_at: Fri, 12 Feb 2016 19:43:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7tZz1Ogvap0vn1/sources
    body:
      encoding: UTF-8
      string: source=tok_7tZzUx7Yt4sgds
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Fri, 12 Feb 2016 19:43:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js%2Fd31b455&card[name]=Example+Brown+4&card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2020&card[cvc]=123&card[address_zip]=11211
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_7ta02NV8JXYODr",
          "object": "token",
          "card": {
            "id": "card_7ta0JG2xvDjp1u",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": "11211",
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": "Example Brown 4",
            "tokenization_method": null,
            "fingerprint": "m2cN42QgHGUx1ZSf",
            "type": "Visa",
            "customer": null
          },
          "client_ip": "50.203.165.81",
          "created": 1455306261,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 12 Feb 2016 19:44:21 GMT
recorded_with: VCR 3.0.1
