---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_accept_language=en-US&_method=POST&bank_account%5Baccount_holder_name%5D=Example%20Brown%2018&bank_account%5Baccount_holder_type%5D=individual&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Brouting_number%5D=12345689&callback=sjsonp1460073123352&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/d31b455
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        sjsonp1460073123352({
          "error": {
            "type": "invalid_request_error",
            "message": "Routing number must have 9 digits",
            "param": "bank_account"
          }
        }
        , 400)
  recorded_at: Thu, 07 Apr 2016 23:52:03 GMT
recorded_with: VCR 3.0.1
