---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: bank_account[routing_number]=110000000&bank_account[account_number]=+&bank_account[account_holder_name]=Example+Brown+1&bank_account[account_holder_type]=individual&bank_account[country]=US&bank_account[currency]=USD&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js%2Fd31b455
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "You cannot use a live bank account number when making transfers or debits in test mode",
            "param": "bank_account"
          }
        }
  recorded_at: Wed, 17 Aug 2016 20:16:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_accept_language=en-US&_method=POST&bank_account%5Baccount_holder_name%5D=Example%20Brown%201&bank_account%5Baccount_holder_type%5D=individual&bank_account%5Baccount_number%5D=%20&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Brouting_number%5D=110000000&callback=sjsonp1471465014934&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/d31b455
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        sjsonp1471465014934({
          "error": {
            "type": "invalid_request_error",
            "message": "You cannot use a live bank account number when making transfers or debits in test mode",
            "param": "bank_account"
          }
        }
        , 400)
  recorded_at: Wed, 17 Aug 2016 20:16:55 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_accept_language=en-US&_method=POST&bank_account%5Baccount_holder_name%5D=Example%20Brown%2075&bank_account%5Baccount_holder_type%5D=individual&bank_account%5Baccount_number%5D=%20&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Brouting_number%5D=110000000&callback=sjsonp1488229446137&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/d31b455
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        sjsonp1488229446137({
          "error": {
            "type": "invalid_request_error",
            "message": "You cannot use a live bank account number when making transfers or debits in test mode",
            "param": "bank_account"
          }
        }
        , 400)
  recorded_at: Mon, 27 Feb 2017 21:04:06 GMT
recorded_with: VCR 3.0.3
