---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_accept_language=en-US&_method=POST&bank_account%5Baccount_holder_name%5D=Example%20Brown%2018&bank_account%5Baccount_holder_type%5D=individual&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Brouting_number%5D=12345689&callback=sjsonp1460073123352&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/d31b455
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        sjsonp1460073123352({
          "error": {
            "type": "invalid_request_error",
            "message": "Routing number must have 9 digits",
            "param": "bank_account"
          }
        }
        , 400)
  recorded_at: Thu, 07 Apr 2016 23:52:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: bank_account[routing_number]=12345689&bank_account[account_number]=000123456789&bank_account[account_holder_name]=Example+Brown+3&bank_account[account_holder_type]=individual&bank_account[country]=US&bank_account[currency]=USD&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js%2Fd31b455
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Routing number must have 9 digits",
            "param": "bank_account"
          }
        }
  recorded_at: Wed, 17 Aug 2016 20:17:51 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_accept_language=en-US&_method=POST&bank_account%5Baccount_holder_name%5D=Example%20Brown%2075&bank_account%5Baccount_holder_type%5D=individual&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Brouting_number%5D=12345689&callback=sjsonp1473715357135&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/d31b455
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        sjsonp1473715357135({
          "error": {
            "type": "invalid_request_error",
            "message": "Routing number must have 9 digits",
            "param": "bank_account"
          }
        }
        , 400)
  recorded_at: Mon, 12 Sep 2016 21:22:37 GMT
recorded_with: VCR 3.0.3
