---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_method=POST&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Bname%5D=Example%20Brown%203&bank_account%5Brouting_number%5D=12345689&callback=sjsonp1442956514841&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/6a67cf0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        sjsonp1442956514841({
          "error": {
            "type": "invalid_request_error",
            "message": "Routing number must have 9 digits",
            "param": "bank_account"
          }
        }
        , 400)
  recorded_at: Tue, 22 Sep 2015 21:15:15 GMT
recorded_with: VCR 2.9.3
