---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: bank_account[routing_number]=110000000&bank_account[account_number]=000123456789&bank_account[name]=Example+Brown+1&bank_account[country]=US&bank_account[currency]=USD&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js%2F6a67cf0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "btok_6KY9DCwZR4HCyG",
          "livemode": false,
          "created": 1432927326,
          "used": false,
          "object": "token",
          "type": "bank_account",
          "bank_account": {
            "object": "bank_account",
            "id": "ba_6KY9sPW2KmLKvJ",
            "last4": "6789",
            "country": "US",
            "currency": "usd",
            "status": "new",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "routing_number": "110000000",
            "bank_name": "STRIPE TEST BANK",
            "disabled": false,
            "validated": false,
            "verified": false
          },
          "client_ip": null
        }
  recorded_at: Fri, 29 May 2015 19:21:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student1%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1432927326,
          "id": "cus_6KY9khXPcprOZD",
          "livemode": false,
          "description": "student1@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6KY9khXPcprOZD/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6KY9khXPcprOZD/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6KY9khXPcprOZD/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6KY9khXPcprOZD/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Fri, 29 May 2015 19:21:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6KY9khXPcprOZD/sources
    body:
      encoding: US-ASCII
      string: source=btok_6KY9DCwZR4HCyG
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6KY9sPW2KmLKvJ",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6KY9khXPcprOZD",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Fri, 29 May 2015 19:21:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6KY9khXPcprOZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "o[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_method=POST&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Bname%5D=Example%20Brown%201&bank_account%5Brouting_number%5D=110000000&callback=sjsonp1432927452542&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/6a67cf0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        sjsonp1432927452542({
          "id": "btok_6KYCOUKEmZcYTv",
          "livemode": false,
          "created": 1432927494,
          "used": false,
          "object": "token",
          "type": "bank_account",
          "bank_account": {
            "object": "bank_account",
            "id": "ba_6KYC430tw9tR7V",
            "last4": "6789",
            "country": "US",
            "currency": "usd",
            "status": "new",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "routing_number": "110000000",
            "bank_name": "STRIPE TEST BANK",
            "disabled": false,
            "validated": false,
            "verified": false
          },
          "client_ip": null
        }
        , 200)
  recorded_at: Fri, 29 May 2015 19:24:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6KY9khXPcprOZD/sources/ba_6KY9sPW2KmLKvJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6KY9sPW2KmLKvJ",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6KY9khXPcprOZD",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Fri, 29 May 2015 19:24:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_method=POST&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Bname%5D=Example%20Brown%2013&bank_account%5Brouting_number%5D=110000000&callback=sjsonp1432927497970&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/6a67cf0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        sjsonp1432927497970({
          "id": "btok_6KYDpaQluuKwZs",
          "livemode": false,
          "created": 1432927539,
          "used": false,
          "object": "token",
          "type": "bank_account",
          "bank_account": {
            "object": "bank_account",
            "id": "ba_6KYDjV5uoFTl3V",
            "last4": "6789",
            "country": "US",
            "currency": "usd",
            "status": "new",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "routing_number": "110000000",
            "bank_name": "STRIPE TEST BANK",
            "disabled": false,
            "validated": false,
            "verified": false
          },
          "client_ip": null
        }
        , 200)
  recorded_at: Fri, 29 May 2015 19:24:58 GMT
recorded_with: VCR 2.9.3
