---
http_interactions:
- request:
    method: get
    uri: http://fonts.googleapis.com/css?family=Open%20Sans:300italic,400italic,700italic,400,300,700
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        /* cyrillic-ext */
        @font-face {
          font-family: 'Open Sans';
          font-style: italic;
          font-weight: 300;
          src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(http://fonts.gstatic.com/s/opensans/v15/PRmiXeptR36kaC0GEAetxpAF4CnaN9ASm-zBoUXgqCY.woff) format('woff');
          unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
        }
        /* cyrillic */
        @font-face {
          font-family: 'Open Sans';
          font-style: italic;
          font-weight: 300;
          src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(http://fonts.gstatic.com/s/opensans/v15/PRmiXeptR36kaC0GEAetxqC9IECIwTMB5MMxkp_bk24.woff) format('woff');
          unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        /* greek-ext */
        @[...]
- request:
    method: get
    uri: https://js.stripe.com/v2/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - C99A99FA6CF3EBC1
      Last-Modified:
      - Wed, 06 Sep 2017 17:40:34 GMT
      Etag:
      - '"0a45aba7eb8f3ef52026ad1ae14bb133"'
      Content-Type:
      - application/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        /*! stripe-js 17-07-2017 */
        (function(){var a,b,c,d,e,f,g,h,i,j,k,l,m,n,o={}.hasOwnProperty,p=function(a,b){function c(){this.constructor=a}for(var d in b)o.call(b,d)&&(a[d]=b[d]);return c.prototype=b.prototype,a.prototype=new c,a.__super__=b.prototype,a};if(l="https://js.stripe.com",f="https://js.stripe.com",g=!!/stripe\[...]
- request:
    method: get
    uri: http://www.google.com/jsapi
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        if(!window['googleLT_']){window['googleLT_']=(new Date()).getTime();}if (!window['google']) {
        window['google'] = {};
        }
        if (!window['google']['loader']) {
        wi[...]
- request:
    method: get
    uri: http://fonts.googleapis.com/css?family=Open%20Sans:400,700
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        /* cyrillic-ext */
        @font-face {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          src: local('Open San[...]
- request:
    method: get
    uri: https://js.stripe.com/v2/channel.html?stripe_xdm_c=default260915&stripe_xdm_e=http://127.0.0.1:53892&stripe_xdm_p=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 3413C9373FC4A50C
      Last-Modified:
      - Wed, 06 Sep 2017 17:40:34 GMT
      Etag:
      - '"19af0c6cc7a0bca20a355b3362dc64a0"'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <!doctype html>
        <html>
        <head>
        <title>Stripe Internal Communication Channel</title>
        <script>
        if ('postMessage' in window) {
          var stripeTrack = function(type) {
            var timestamp = Math.round(new Date().getTime() / 1000);
            var report = (new Image()).src = "https://q.stripe.com?event=stripejs-error&type=" +
              encodeURIComponent(type) +
              "&timestamp=" + timestamp +
              "&payment_user_agent=channel.html";
          };

          if (window.parent === window) {
            stripeTrack('ChannelParentError');
            window.Stripe = {earlyError: true};
          }
          else {
            window.onload = function() {
              var matches = window.location.search.match(/(\?|&)stripe_xdm_e=([^&]+)/);
              if (matches && matches.length >= 3) {
                var outerdomain = decodeURIComponent(matches[2]);
                try {
                  window.parent.postMessage('stripe:ack', outerdomain);
                }
                catch(e) {
                  stripeTrack('ChannelAckError-' + e.toString());
                }
              }
              else {
                stripeTrack('ChannelUrlError');
              }
            }
          }
        }
        </script>
        </head>
        <body>
        <script src="https://js.stripe.com/v2/"></script>
        </body>
        </html>
  recorded_at: Wed, 29 Nov 2017 01:57:21 GMT
- request:
    method: get
    uri: https://js.stripe.com/v2/m/outer.html
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 12A6CF8A58C258C0
      Last-Modified:
      - Wed, 06 Sep 2017 17:40:34 GMT
      Etag:
      - '"51b76bd7931c50d2bf6d4c5a93d343f9"'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: <!doctype html><html><head><meta charset="utf-8"><title>StripeM-Outer</title></head><body><script>var
        suffix=window.location.hash;""===suffix&&(suffix=window.location.search);var
        frame=document.createElement("iframe");/preview=true/.test(suffix)?frame.src="https://m.stripe.network/inner-preview.html"+suffix:frame.src="https://m.stripe.network/inner.html"+suffix;var
        echo=function(e){if("https://m.stripe.network"===e.origin){var t=window.opener||window.parent||window;if(!t)return;t.postMessage(e.data,"*")}else
        frame.contentWindow.postMessage(e.data,"*")};window.addEventListener?window.addEventListener("message",echo,!1):window.attachEvent("onMessage",echo),document.body.appendChild(frame)</script></body></html>
  recorded_at: Wed, 29 Nov 2017 01:57:21 GMT
- request:
    method: get
    uri: https://m.stripe.network/inner.html
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Mon, 17 Jul 2017 22:20:22 GMT
      Etag:
      - W/"596d3826-712d"
    body:
      encoding: UTF-8
      string: "<!doctype html><html><head><meta charset=\"utf-8\"><title>StripeM-Inner</title></head><body><scrip[...]
- request:
    method: options
    uri: https://m.stripe.com/4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 9211e998-fa82-4667-852e-46105ff68249
  recorded_at: Wed, 29 Nov 2017 01:57:23 GMT
- request:
    method: get
    uri: https://stripensrq.global.ssl.fastly.net/s/e
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/vnd.stripensr
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 29 Nov 2017 01:57:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: bank_account[routing_number]=110000000&bank_account[account_number]=000123456789&bank_account[account_holder_name]=Example+Brown+86&bank_account[account_holder_type]=individual&bank_account[country]=US&bank_account[currency]=USD&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js%2F604c5e8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "btok_0BTKpDYv63jBfUrZduMFp1kG",
          "object": "token",
          "bank_account": {
            "id": "ba_Br2vkU0tjKqLAe",
            "object": "bank_account",
            "account_holder_name": "Example Brown 86",
            "account_holder_type": "individual",
            "bank_name": "STRIPE TEST BANK",
            "country": "US",
            "currency": "usd",
            "last4": "6789",
            "routing_number": "110000000",
            "status": "new",
            "name": "Example Brown 86"
          },
          "client_ip": "50.203.165.81",
          "created": 1511920643,
          "livemode": false,
          "type": "bank_account",
          "used": false
        }
  recorded_at: Wed, 29 Nov 2017 01:57:23 GMT
- request:
    method: get
    uri: https://stripensrq.global.ssl.fastly.net/s/o
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/vnd.stripensr
    body:
      encoding: UTF-8
      string: A2.2snEWQDdOu0GXmI89MQT26C8LiASzyIrVzmERC4NvsM=.P29BPTUwLjIwMy4xNjUuODEmb0I9MTAmb0M9NTM2Jm9EPTEzODQmb0U9NTc4OSZvRj0xODE1Jm9HPTAmb0g9Mjc2ODAmb0k9MCZvSj0wLjAwMCZvSz1VUy1XZXN0Jm9MPVNFQSZvTT0wJm9OPTAmb089VExTdjEuMiZvUD1FQ0RIRS1SU0EtQUVTMTI4LUdDTS1TSEEyNTYmb1E9enZxTG04T0ZUUzhXM2lsQmdGTnZrb1dSd2RFJTNEJm9SPUFaZCUyQjIlMkJ1ODZMb2xkNmNQV1kwTTBJTGJuTzAlM0Q=
  recorded_at: Wed, 29 Nov 2017 01:57:23 GMT
[...]
