---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student16%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1432763504,
          "id": "cus_6Jq7C28blZWI4L",
          "livemode": false,
          "description": "student16@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Jq7C28blZWI4L/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Jq7C28blZWI4L/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Jq7C28blZWI4L/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Jq7C28blZWI4L/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Wed, 27 May 2015 21:51:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6Jq7C28blZWI4L/sources
    body:
      encoding: US-ASCII
      string: source=
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Invalid source object: must be a dictionary or a non-empty string. See API docs at https://stripe.com/docs'",
            "param": "source"
          }
        }
  recorded_at: Wed, 27 May 2015 21:51:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: bank_account[routing_number]=110000000&bank_account[account_number]=+&bank_account[name]=Example+Brown+14&bank_account[country]=US&bank_account[currency]=USD&key=pk_test_k71fNBhNztxvhxRq1PQaL4u5&payment_user_agent=stripe.js%2F6a67cf0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Must only use a test bank account number when making transfers or debits in test mode",
            "param": "bank_account"
          }
        }
  recorded_at: Wed, 27 May 2015 21:54:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_method=POST&bank_account%5Baccount_number%5D=%20&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Bname%5D=Example%20Brown%2014&bank_account%5Brouting_number%5D=110000000&callback=sjsonp1432764192859&key=pk_test_k71fNBhNztxvhxRq1PQaL4u5&payment_user_agent=stripe.js/6a67cf0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        sjsonp1432764192859({
          "error": {
            "type": "invalid_request_error",
            "message": "Must only use a test bank account number when making transfers or debits in test mode",
            "param": "bank_account"
          }
        }
        , 400)
  recorded_at: Wed, 27 May 2015 22:03:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_method=POST&bank_account%5Baccount_number%5D=%20&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Bname%5D=Example%20Brown%2014&bank_account%5Brouting_number%5D=110000000&callback=sjsonp1432839761890&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/6a67cf0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      Stripe-Version:
      - '2015-04-07'
      Www-Authenticate:
      - Query realm="Stripe"
    body:
      encoding: UTF-8
      string: |
        sjsonp1432839761890({
          "error": {
            "type": "invalid_request_error",
            "message": "Invalid API Key provided: my_fake_******_key"
          }
        }
        , 401)
  recorded_at: Thu, 28 May 2015 19:02:43 GMT
recorded_with: VCR 2.9.3
