---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: bank_account[routing_number]=110000000&bank_account[account_number]=000123456789&bank_account[name]=Example+Brown+18&bank_account[country]=US&bank_account[currency]=USD&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js%2Fd31b455
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "btok_7tF01l2zNSWgTd",
          "object": "token",
          "bank_account": {
            "id": "ba_7tF0kTwclpJhZu",
            "object": "bank_account",
            "account_holder_name": "Example Brown 18",
            "account_holder_type": null,
            "bank_name": "STRIPE TEST BANK",
            "country": "US",
            "currency": "usd",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "last4": "6789",
            "name": "Example Brown 18",
            "routing_number": "110000000",
            "status": "new",
            "disabled": false,
            "validated": false,
            "verified": false
          },
          "client_ip": "50.203.165.81",
          "created": 1455228161,
          "livemode": false,
          "type": "bank_account",
          "used": false
        }
  recorded_at: Thu, 11 Feb 2016 22:03:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=student18%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7tF0qsbrUdXR79",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tF0qsbrUdXR79/bank_accounts"
          },
          "created": 1455228162,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "student18@example.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tF0qsbrUdXR79/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tF0qsbrUdXR79/subscriptions"
          }
        }
  recorded_at: Thu, 11 Feb 2016 22:03:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7tF0qsbrUdXR79/sources
    body:
      encoding: UTF-8
      string: source=btok_7tF01l2zNSWgTd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7tF0kTwclpJhZu",
          "object": "bank_account",
          "account_holder_name": "Example Brown 18",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7tF0qsbrUdXR79",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": "Example Brown 18",
          "routing_number": "110000000",
          "status": "new"
        }
  recorded_at: Thu, 11 Feb 2016 22:03:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7tF0qsbrUdXR79
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7tF0qsbrUdXR79/sources/ba_7tF0kTwclpJhZu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7tF0kTwclpJhZu",
          "object": "bank_account",
          "account_holder_name": "Example Brown 18",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7tF0qsbrUdXR79",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": "Example Brown 18",
          "routing_number": "110000000",
          "status": "new"
        }
  recorded_at: Thu, 11 Feb 2016 22:03:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_accept_language=en-US&_method=POST&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Bname%5D=Example%20Brown%2018&bank_account%5Brouting_number%5D=110000000&callback=sjsonp1455230356208&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/d31b455
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      mess[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens?_accept_language=en-US&_method=POST&bank_account%5Baccount_holder_name%5D=Example%20Brown%2020&bank_account%5Baccount_holder_type%5D=individual&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=USD&bank_account%5Brouting_number%5D=110000000&callback=sjsonp1458582065748&key=<STRIPE_PUBLIC_KEY>&payment_user_agent=stripe.js/d31b455
    body:
      encoding: UTF-8
      string: ''[...]
[...]
