<h1>Rankings for <%= @course.description_and_office %></h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover datatable">
        <thead>
          <th></th>
          <% @course.internships.order(:name).each do |internship| %>
            <th><%= internship.name %></th>
          <% end %>
        </thead>
        <tbody id="ranking-students">
          <%= render 'ratings_students' %>
        </tbody>
      </table>
    </div>
  </div>
</div>
