---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student5%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431964891,
          "id": "cus_6GNRcUvvkQf9f9",
          "livemode": false,
          "description": "student5@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6GNRcUvvkQf9f9/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6GNRcUvvkQf9f9/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6GNRcUvvkQf9f9/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6GNRcUvvkQf9f9/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Mon, 18 May 2015 16:01:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6GNRcUvvkQf9f9/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6GNRgACJuMW8At",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6GNRcUvvkQf9f9",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 18 May 2015 16:01:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6GNRcUvvkQf9f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6GNRcUvvkQf9f9/bank_accounts/ba_6GNRgACJuMW8At
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6GNRgACJuMW8At",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6GNRcUvvkQf9f9",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Fri, 22 May 2015 18:53:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6GNRcUvvkQf9f9/sources/ba_6GNRgACJuMW8At
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6GNRgACJuMW8At",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6GNRcUvvkQf9f9",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Wed, 27 May 2015 21:07:06 GMT
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=http%3A%2F%2Finvestors.shopify.com%2Ffiles%2Fdoc_downloads%2Ftest.pdf&signers%5B0%5D%5Bemail_address%5D=student108%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+106&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1435875283'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"e86a363047d58c452d3eed2023927afe6fa2ed62","title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"test_mode":true,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/e86a363047d58c452d3eed2023927afe6fa2ed62","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/e86a363047d58c452d3eed2023927afe6fa2ed62","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=e86a363047d58c452d3eed2023927afe6fa2ed62","requester_email_address":"chris@epicodus.com","signatures":[{"signature_id":"e0ace96cabf472549a8283e34544cb9d","has_pin":false,"signer_email_address":"student108@example.com","signer_name":"Example Brown 106","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null}],"cc_email_addresses":[]}}
  recorded_at: Thu, 02 Jul 2015 22:14:43 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/e0ace96cabf472549a8283e34544cb9d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1435875285'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=e0ace96cabf472549a8283e34544cb9d&token=45c0c1cab3415f63f6dd411f91cae2cf","expires_at":1435878885}}
  recorded_at: Thu, 02 Jul 2015 22:14:44 GMT
recorded_with: VCR 2.9.3
