---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fr6l8nd7b0b492n9%2FInternshipagreement-students.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student2%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+2&subject=Sign+to+accept+the+Student+Internship+Agreement&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1493672256'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"74b74c20e20641ca1015c75249ebfa38f5fdb7d6","test_mode":true,"title":"Sign
        to accept the Student Internship Agreement","original_title":"Sign to accept
        the Student Internship Agreement","subject":"Sign to accept the Student Internship
        Agreement","message":null,"metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/74b74c20e20641ca1015c75249ebfa38f5fdb7d6","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/74b74c20e20641ca1015c75249ebfa38f5fdb7d6","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=74b74c20e20641ca1015c75249ebfa38f5fdb7d6","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"e77f131d165121aebfb344e8c5bb20da","has_pin":false,"signer_email_address":"student2@example.com","signer_name":"Example
        Brown 2","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Mon, 01 May 2017 20:57:37 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/e77f131d165121aebfb344e8c5bb20da
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1493672257'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=e77f131d165121aebfb344e8c5bb20da&token=1bee5cd8dba778511edfddc781e98016","expires_at":1493675858}}'
  recorded_at: Mon, 01 May 2017 20:57:38 GMT
recorded_with: VCR 3.0.3
