---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fr6l8nd7b0b492n9%2FInternshipagreement-students.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student433%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+513&subject=Sign+to+accept+the+Student+Internship+Agreement&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1515463421'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"6132f15bddd664807215db1e0435106e4edbd8c8","test_mode":true,"title":"Sign
        to accept the Student Internship Agreement","original_title":"Sign to accept
        the Student Internship Agreement","subject":"Sign to accept the Student Internship
        Agreement","message":null,"metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/6132f15bddd664807215db1e0435106e4edbd8c8","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/6132f15bddd664807215db1e0435106e4edbd8c8","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=6132f15bddd664807215db1e0435106e4edbd8c8","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"c81d7e21e14e5fef104c73e0f53fb04f","has_pin":false,"signer_email_address":"student433@example.com","signer_name":"Example
        Brown 513","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Tue, 09 Jan 2018 02:03:42 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/c81d7e21e14e5fef104c73e0f53fb04f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1515463422'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=c81d7e21e14e5fef104c73e0f53fb04f&token=a7d03e6c3ceef03cb57b838457a0f9b7","expires_at":1515467022}}'
  recorded_at: Tue, 09 Jan 2018 02:03:42 GMT
recorded_with: VCR 4.0.0
