---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fr6l8nd7b0b492n9%2FInternshipagreement-students.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student428%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+502&subject=Sign+to+accept+the+Student+Internship+Agreement&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1511921160'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"501df65fa4093afcd4be264ff5f3581ddf9f4647","test_mode":true,"title":"Sign
        to accept the Student Internship Agreement","original_title":"Sign to accept
        the Student Internship Agreement","subject":"Sign to accept the Student Internship
        Agreement","message":null,"metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/501df65fa4093afcd4be264ff5f3581ddf9f4647","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/501df65fa4093afcd4be264ff5f3581ddf9f4647","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=501df65fa4093afcd4be264ff5f3581ddf9f4647","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"ce4b30a8f8c97814d027030cd04d3046","has_pin":false,"signer_email_address":"student428@example.com","signer_name":"Example
        Brown 502","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Wed, 29 Nov 2017 02:06:04 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/ce4b30a8f8c97814d027030cd04d3046
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1511921165'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=ce4b30a8f8c97814d027030cd04d3046&token=1cf60fd687189020fd28d2faeecec763","expires_at":1511924765}}'
  recorded_at: Wed, 29 Nov 2017 02:06:05 GMT
recorded_with: VCR 3.0.3
