---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fr6l8nd7b0b492n9%2FInternshipagreement-students.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student429%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+503&subject=Sign+to+accept+the+Student+Internship+Agreement&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1511921167'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"fa6c883dabcf5ab4741f4aa14f009773a5df4690","test_mode":true,"title":"Sign
        to accept the Student Internship Agreement","original_title":"Sign to accept
        the Student Internship Agreement","subject":"Sign to accept the Student Internship
        Agreement","message":null,"metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/fa6c883dabcf5ab4741f4aa14f009773a5df4690","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/fa6c883dabcf5ab4741f4aa14f009773a5df4690","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=fa6c883dabcf5ab4741f4aa14f009773a5df4690","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"43baf696d33e2367c3313d52a402473f","has_pin":false,"signer_email_address":"student429@example.com","signer_name":"Example
        Brown 503","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Wed, 29 Nov 2017 02:06:08 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/43baf696d33e2367c3313d52a402473f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1511921169'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=43baf696d33e2367c3313d52a402473f&token=f336355e6dac731b8aef8266c0076df3","expires_at":1511924769}}'
  recorded_at: Wed, 29 Nov 2017 02:06:09 GMT
recorded_with: VCR 3.0.3
