<h2>Submissions for <%= @code_review.title %></h2>

<div class="submissions">
  <div class="row">
    <h3 class="span6">Student name</h3>
    <h3 class="span2 offset3">Submitted</h3>
  </div>

  <%= render @submissions %>
</div>
