<h2>Submissions for <%= @assessment.title %></h2>

<div class="submissions">
  <div class="row">
    <h3 class="span3">Student name</h3>
    <h3 class="span2 offset2">Submitted</h3>
  </div>

  <%= render @submissions %>
</div>
