<h2><%= @submission.user.name %>'s <%= link_to "#{@submission.assessment.title}", assessment_path(@submission.assessment) %> Assessment</h2>
<a>View Repo</a>
<hr>
<h3>Assessment Requirements</h3>
<%= render @submission.assessment.requirements %>
