---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Br32cuqe1UZEy4",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br32cuqe1UZEy4/bank_accounts"
          },
          "created": 1511921114,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br32cuqe1UZEy4/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br32cuqe1UZEy4/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Wed, 29 Nov 2017 02:05:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Br32cuqe1UZEy4/sources
    body:
      encoding: UTF-8
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_Br321xUrAmzNt6",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_Br32cuqe1UZEy4",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Wed, 29 Nov 2017 02:05:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br32cuqe1UZEy4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br32cuqe1UZEy4/sources/ba_Br321xUrAmzNt6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_Br321xUrAmzNt6",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_Br32cuqe1UZEy4",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Wed, 29 Nov 2017 02:05:15 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Br32cuqe1UZEy4/sources/ba_Br321xUrAmzNt6/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_Br321xUrAmzNt6",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_Br32cuqe1UZEy4",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "verified",
          "name": null
        }
  recorded_at: Wed, 29 Nov 2017 02:05:16 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&customer=cus_Br32cuqe1UZEy4&source=ba_Br321xUrAmzNt6&description=Philadelphia%3B+2017-11-27%3B+Full-time%3B+upfront%3B+example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "py_Br32ZqkDnBa82E",
          "object": "charge",
          "amount": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_Br32mNHQUsgJYX",
          "captured": true,
          "created": 1511921117,
          "currency": "usd",
          "customer": "cus_Br32cuqe1UZEy4",
          "description": "Philadelphia; 2017-11-27; Full-time; upfront; example@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": false,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/py_Br32ZqkDnBa82E/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "ba_Br321xUrAmzNt6",
            "object": "bank_account",
            "account_holder_name": null,
            "account_holder_type": null,
            "bank_name": "STRIPE TEST BANK",
            "country": "US",
            "currency": "usd",
            "customer": "cus_Br32cuqe1UZEy4",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "last4": "6789",
            "metadata": {},
            "routing_number": "110000000",
            "status": "verified",
            "name": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "pending",
          "transfer_group": null
        }
  recorded_at: Wed, 29 Nov 2017 02:05:18 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance/history/txn_Br32mNHQUsgJYX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "txn_Br32mNHQUsgJYX",
          "object": "balance_transaction",
          "amount": 100,
          "available_on": 1511921117,
          "created": 1511921117,
          "currency": "usd",
          "description": "Philadelphia; 2017-11-27; Full-time; upfront; example@example.com",
          "fee": 25,
          "fee_details": [
            {
              "amount": 25,
              "application": null,
              "currency": "usd",
              "description": "Stripe processing fees",
              "type": "stripe_fee"
            }
          ],
          "net": 75,
          "source": "py_Br32ZqkDnBa82E",
          "sourced_transfers": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers?source_transaction=py_Br32ZqkDnBa82E"
          },
          "status": "available",
          "type": "payment"
        }
  recorded_at: Wed, 29 Nov 2017 02:05:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=py_Br32ZqkDnBa82E&amount=200
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Refund amount ($2.00) is greater than charge amount ($1.00)",
            "param": "amount"
          }
        }
  recorded_at: Wed, 29 Nov 2017 02:05:19 GMT
recorded_with: VCR 3.0.3
