---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student1%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431378026,
          "id": "cus_6DpgUYfRmClEL7",
          "livemode": false,
          "description": "student1@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpgUYfRmClEL7/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpgUYfRmClEL7/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpgUYfRmClEL7/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DpgUYfRmClEL7/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Mon, 11 May 2015 20:59:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgUYfRmClEL7/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DpgQvwgrjN5VQ",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgUYfRmClEL7",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 11 May 2015 21:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DpgUYfRmClEL7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgUYfRmClEL7/bank_accounts/ba_6DpgQvwgrjN5VQ/verify
    body:
      encoding: US-ASCII
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DpgQvwgrjN5VQ",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgUYfRmClEL7",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Mon, 11 May 2015 21:00:01 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgfAUqdLXA9H/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DpgFV0gKctEWL",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgfAUqdLXA9H",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 11 May 2015 21:00:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DpgfAUqdLXA9H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgfAUqdLXA9H/bank_accounts/ba_6DpgFV0gKctEWL/verify
    body:
      encoding: US-ASCII
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DpgFV0gKctEWL",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgfAUqdLXA9H",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Mon, 11 May 2015 21:00:05 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&customer=cus_6DpgUYfRmClEL7
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "py_6Dpg9gkf5rreGP",
          "object": "charge",
          "created": 1431378032,
          "livemode": false,
          "paid": false,
          "status": "pending",
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "source": {
            "object": "bank_account",
            "id": "ba_6DpgQvwgrjN5VQ",
            "last4": "6789",
            "country": "US",
            "currency": "usd",
            "status": "verified",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "routing_number": "110000000",
            "bank_name": "STRIPE TEST BANK",
            "metadata": {},
            "customer": "cus_6DpgUYfRmClEL7",
            "disabled": false,
            "validated": false,
            "verified": true
          },
          "captured": true,
          "card": null,
          "balance_transaction": "txn_6DpgcpmsACP7cX",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_6DpgUYfRmClEL7",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": [],
          "statement_description": null
        }
  recorded_at: Mon, 11 May 2015 21:00:06 GMT
- request:
    method: post
    uri: https://api:<MAILGUN_API_KEY>@api.mailgun.net/v2/epicodus.com/messages
    body:
      encoding: US-ASCII
      string: from=administrator%40school.edu&to=student1%40example.com&bcc=administrator%40school.edu&subject=Epicodus%20tuition%20payment%20receipt&text=Hi%20Example%20Brown%201.%20This%20is%20to%20confirm%20your%20payment%20of%20%241.00%20for%20Epicodus%20tuition.%20If%20you%20have%20any%20questions%2C%20reply%20to%20this%20email.%20Thanks!
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<20150511210034.76623.42782@epicodus.com>",
          "message": "Queued. Thank you."
        }
  recorded_at: Mon, 11 May 2015 21:00:07 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6Dpg6UP1smHQKz/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6Dpgrps7dQbCjB",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6Dpg6UP1smHQKz",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 11 May 2015 21:00:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6Dpg6UP1smHQKz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6Dpg6UP1smHQKz/bank_accounts/ba_6Dpgrps7dQbCjB/verify
    body:
      encoding: US-ASCII
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6Dpgrps7dQbCjB",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6Dpg6UP1smHQKz",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Mon, 11 May 2015 21:00:10 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgRmD6I4g11A/sources
    body:
      encoding: US-ASCII
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DpgwtEVXbZPR5",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgRmD6I4g11A",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Mon, 11 May 2015 21:00:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DpgRmD6I4g11A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DpgRmD6I4g11A/bank_accounts/ba_6DpgwtEVXbZPR5/verify
    body:
      encoding: US-ASCII
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_6DpgwtEVXbZPR5",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "verified",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "metadata": {},
          "customer": "cus_6DpgRmD6I4g11A",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Mon, 11 May 2015 21:00:13 GMT
[...]
- request:
    method: post
    uri: https://api:<MAILGUN_API_KEY>@api.mailgun.net/v2/epicodus.com/messages
    body:
      encoding: US-ASCII
      string: from=administrator%40school.edu&to=student3%40example.com&bcc=administrator%40school.edu&subject=Epicodus%20tuition%20payment%20receipt&text=Hi%20Example%20Brown%203.%20This%20is%20to%20confirm%20your%20payment%20of%20%241.00%20for%20Epicodus%20tuition.%20If%20you%20have%20any%20questions%2C%20reply%20to%20this%20email.%20Thanks!
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<20150511210041.25451.92703@epicodus.com>",
          "message": "Queued. Thank you."
        }
  recorded_at: Mon, 11 May 2015 21:00:15 GMT
recorded_with: VCR 2.9.3
