<table>
  <thead>
    <tr>
      <td></td>
      <% @assessment.requirements.each do |requirement| %>
        <td><%= requirement.content %></td>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @cohort.students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <% @assessment.requirements.each do |requirement| %>
          <td><%= requirement.score_for(student) %></td>
        <% end %>
        <td><%= @assessment.latest_total_score_for(student) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
