<%= render 'layouts/category_header' %>
<hr/>

<ul class="company-list">
  <% @companies.each_with_index do |company, index| %>
    <div class='row'>
      <li>
        <h3><%= link_to company.name, company %></h3>
        <span class='update-company btn-group'>
          <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-warning' %>
          <%= link_to 'Delete', company_path(company), data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </span>
      </li>
    </div>
  <% end %>
</ul>
