<%= render partial: 'layouts/category_header', locals: { header: 'Partner Companies', class_to_manage: Company, category: 'Company', category_path: new_company_path } %>
<hr/>

<ul class="list-unstyled">
  <% @companies.each_with_index do |company, index| %>
    <li>
      <h3><%= link_to company.name, company %></h3>
      <span class='btn-group'>
        <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-info' %>
        <%= link_to 'Delete', company_path(company), data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      </span>
    </li>
  <% end %>
</ul>
