<div class="text-center">
  <p><%= image_tag "logo.png", id: 'logo' %></p>
  <h1>Welcome to the Epicenter</h1>
  <p><%= link_to '/auth/github', class: 'btn btn-default', id: 'github-sign-in-button' do %>
    <i class="fa fa-github"></i>
    Sign in with GitHub
    <% end %>
  </p>
  <p>or</p>
</div>

<%= render 'form' %>
