<div class="text-center">
  <p><%= image_tag "logo.png", id: 'logo' %></p>
  <h1>Welcome to the Epicenter</h1>
  <p><%= link_to '/auth/github', class: 'btn btn-default', id: 'github-sign-in-button' do %>
    <i class="fa fa-github"></i>
    Sign in with GitHub
    <% end %>
  </p>
  <p>or</p>
</div>

<%= render 'form' %>

<% if is_weekday? && IpLocation.is_local_computer?(request.env['HTTP_CF_CONNECTING_IP'] || request.remote_ip) %>
  <div id="not-attendance-warning-panel" class="panel panel-danger">
    <div class="panel-body">
      <h1 class="text-center not-attendance-warning">This is not attendance sign-in. For attendance sign-in, click <%= link_to 'here', sign_in_path, class: "not-attendance-warning-text" %>.</h1>
    </div>
  </div>
<% end %>