<h1>Thanks!</h1>

<p>In 2-3 business days, you'll receive 2 small deposits in your bank account to confirm that it's yours. After you receive those deposits, come back to this site to verify your account. At that point, you can start making payments.</p>

<p><%= link_to 'View your payment methods', payment_methods_path, class: 'btn btn-large btn-primary' %></p>
