---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Ft0i6rpyml8cyo1o%2FTuitionAndRefundPolicy-2017-08-23.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student425%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+505&subject=Sign+to+accept+the+Epicodus+Refund+Policy&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1515463406'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"a98da139a72d92361a7928d79b592f05b39575a9","test_mode":true,"title":"Sign
        to accept the Epicodus Refund Policy","original_title":"Sign to accept the
        Epicodus Refund Policy","subject":"Sign to accept the Epicodus Refund Policy","message":null,"metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/a98da139a72d92361a7928d79b592f05b39575a9","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/a98da139a72d92361a7928d79b592f05b39575a9","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=a98da139a72d92361a7928d79b592f05b39575a9","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"9b844a88370df22654f7f16e9d5918eb","has_pin":false,"signer_email_address":"student425@example.com","signer_name":"Example
        Brown 505","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Tue, 09 Jan 2018 02:03:28 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/9b844a88370df22654f7f16e9d5918eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1515463408'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=9b844a88370df22654f7f16e9d5918eb&token=6cdbcad5b1ed7c7c4c37dc0223a428a8","expires_at":1515467008}}'
  recorded_at: Tue, 09 Jan 2018 02:03:28 GMT
recorded_with: VCR 4.0.0
