---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Ft0i6rpyml8cyo1o%2FTuitionAndRefundPolicy-2017-08-23.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student421%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+495&subject=Sign+to+accept+the+Epicodus+Refund+Policy&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1511921152'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"e077f7a3a2151bdf9659fca9c2be1e1924b41afe","test_mode":true,"title":"Sign
        to accept the Epicodus Refund Policy","original_title":"Sign to accept the
        Epicodus Refund Policy","subject":"Sign to accept the Epicodus Refund Policy","message":null,"metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/e077f7a3a2151bdf9659fca9c2be1e1924b41afe","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/e077f7a3a2151bdf9659fca9c2be1e1924b41afe","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=e077f7a3a2151bdf9659fca9c2be1e1924b41afe","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"a4cf9852eff0f4c2d012f6e14fdd2318","has_pin":false,"signer_email_address":"student421@example.com","signer_name":"Example
        Brown 495","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Wed, 29 Nov 2017 02:05:53 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/a4cf9852eff0f4c2d012f6e14fdd2318
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1511921154'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=a4cf9852eff0f4c2d012f6e14fdd2318&token=0545282121ba41c7511a8439837f9115","expires_at":1511924754}}'
  recorded_at: Wed, 29 Nov 2017 02:05:54 GMT
recorded_with: VCR 3.0.3
