---
http_interactions:
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=http%3A%2F%2Finvestors.shopify.com%2Ffiles%2Fdoc_downloads%2Ftest.pdf&signers%5B0%5D%5Bemail_address%5D=student4%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+4&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1435342499'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"73017b99e4d7e5218e879e70fd537a0c47117a35","title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"test_mode":true,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/73017b99e4d7e5218e879e70fd537a0c47117a35","files_url":"https:\/\/api.hellosign.com\/\/v3\/signature_request\/files\/73017b99e4d7e5218e879e70fd537a0c47117a35","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=73017b99e4d7e5218e879e70fd537a0c47117a35","requester_email_address":"chris@epicodus.com","signatures":[{"signature_id":"2f995df55d7557f30e8aaefa06190d88","has_pin":false,"signer_email_address":"student4@example.com","signer_name":"Example Brown 4","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null}],"cc_email_addresses":[]}}
  recorded_at: Fri, 26 Jun 2015 18:14:59 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/2f995df55d7557f30e8aaefa06190d88
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1435342501'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=2f995df55d7557f30e8aaefa06190d88&token=1779949fc321c279135a13fc21b61649","expires_at":1435346102}}
  recorded_at: Fri, 26 Jun 2015 18:15:01 GMT
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=&file_url%5B%5D=&signers%5B0%5D%5Bemail_address%5D=student187%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+195&subject=Sign+to+accept+the+Epicodus+Refund+Policy&test_mode=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="API"
    body:
      encoding: UTF-8
      string: '{"error":{"error_msg":"Unauthorized user. No credentials supplied.","error_name":"unauthorized"}}'
  recorded_at: Mon, 03 Aug 2015 18:35:05 GMT
recorded_with: VCR 2.9.3
