---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fcwzdv7s97wp3ail%2Frefund_policy.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student1%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+1&subject=Sign+to+accept+the+Epicodus+Refund+Policy&test_mode=1
    headers:
      Authorization:
      - Basic YWJkM2Q3ZmY2OTE2MzJkYWVmNzI1N2ZiMzhmZDY4NmU2MmI5M2RjODhlYjIyNWRlZjRiYmI3NzY4NTFiZDczZDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1462559648'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"ef6e765cbed71a3ec51bcb2181f03ecf31599860","test_mode":true,"title":"Sign to accept the Epicodus Refund Policy","original_title":"Sign to accept the Epicodus Refund Policy","subject":"Sign to accept the Epicodus Refund Policy","message":null,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/ef6e765cbed71a3ec51bcb2181f03ecf31599860","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/ef6e765cbed71a3ec51bcb2181f03ecf31599860","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=ef6e765cbed71a3ec51bcb2181f03ecf31599860","requester_email_address":"chris@epicodus.com","signatures":[{"signature_id":"669c76b342a58fbfc73843257eb19b25","has_pin":false,"signer_email_address":"student1@example.com","signer_name":"Example Brown 1","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Fri, 06 May 2016 18:34:09 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/669c76b342a58fbfc73843257eb19b25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWJkM2Q3ZmY2OTE2MzJkYWVmNzI1N2ZiMzhmZDY4NmU2MmI5M2RjODhlYjIyNWRlZjRiYmI3NzY4NTFiZDczZDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1462559650'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=669c76b342a58fbfc73843257eb19b25&token=2c2d84a67588157b5b3492ecd94b0d0e","expires_at":1462563250}}
  recorded_at: Fri, 06 May 2016 18:34:10 GMT
recorded_with: VCR 3.0.1
