---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Ft0i6rpyml8cyo1o%2FTuitionAndRefundPolicy-2017-08-23.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student424%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+504&subject=Sign+to+accept+the+Epicodus+Refund+Policy&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1515463403'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"74fb99df8cacadf198a4cba08d64e57469eb79bc","test_mode":true,"title":"Sign
        to accept the Epicodus Refund Policy","original_title":"Sign to accept the
        Epicodus Refund Policy","subject":"Sign to accept the Epicodus Refund Policy","message":null,"metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/74fb99df8cacadf198a4cba08d64e57469eb79bc","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/74fb99df8cacadf198a4cba08d64e57469eb79bc","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=74fb99df8cacadf198a4cba08d64e57469eb79bc","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"5a7cc941d3a200f6068735a5de777919","has_pin":false,"signer_email_address":"student424@example.com","signer_name":"Example
        Brown 504","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Tue, 09 Jan 2018 02:03:25 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/5a7cc941d3a200f6068735a5de777919
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1515463405'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=5a7cc941d3a200f6068735a5de777919&token=ab4c89fecf20d51252075fb7d61ef0ba","expires_at":1515467005}}'
  recorded_at: Tue, 09 Jan 2018 02:03:25 GMT
recorded_with: VCR 4.0.0
