<% if current_student.next_payment_date %>
  <tr class="info">
    <td>
      Upcoming
    </td>
    <td>
      <%= current_student.next_payment_date.strftime("%F") %>
    </td>
    <td>
      <%= number_to_currency(@payment.amount / 100.00) %>
    </td>
    <td>
    </td>
  </tr>
<% end %>
