<td class="col-xs-3">
  <%= form_for payment, method: :patch do |f| %>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.number_field :refund_amount, { class: 'form-control payment-input', id: "refund-#{payment.id}-input", required: true, step: 0.01, max: 5000 } %>
        <span class="input-group-btn">
          <%= f.submit 'Refund', class: 'btn btn-info payment-button', id: "refund-#{payment.id}-button", data: { confirm: 'Are you sure?' } %>
        </span>
      </div>
    </div>
  <% end %>
</td>
