<div class="action-buttons">
  <%= form_for @payment, url: upfront_payments_path do |f| %>
    <%= f.submit "Make upfront payment of #{number_to_currency(@payment.amount / 100.00)}", data: { confirm: "Make upfront payment?" }, class: 'btn btn-info' %>
  <% end %>
</div>
