<h1>Your payments</h1>

<% if @payments.present? %>
  <ul>
    <% @payments.each do |payment| %>
      <li>
        <%= number_to_currency(payment.payment_method.calculate_charge(payment.amount) / 100.00) %>
        paid on
        <%= payment.created_at.strftime("%F") %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Looks like you haven't made any payments yet.</p>
<% end %>

<%= link_to "Make upfront payment", new_upfront_payment_path, class: 'btn btn-primary' if current_user.upfront_payment_due? %></p>
<%= link_to "Start recurring payments", new_recurring_payment_path, class: 'btn btn-primary' if current_user.ready_to_start_recurring_payments? %></p>

<p>
  If you have any questions or need to stop your payments, contact Michael.
</p>
