---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=test%40test.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7sS5p5jY9PpEsD",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS5p5jY9PpEsD/bank_accounts"
          },
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS5p5jY9PpEsD/cards"
          },
          "created": 1455046171,
          "currency": null,
          "default_bank_account": null,
          "default_card": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "test@test.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS5p5jY9PpEsD/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7sS5p5jY9PpEsD/subscriptions"
          },
          "active_card": null,
          "subscription": null
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS5p5jY9PpEsD/sources
    body:
      encoding: UTF-8
      string: source[cvv]=123&source[exp_month]=12&source[exp_year]=2020&source[number]=4242424242424242&source[object]=card
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_7sS5WSAkq96CSd",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7sS5p5jY9PpEsD",
          "cvc_check": null,
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null,
          "type": "Visa"
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS5p5jY9PpEsD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "i[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS5p5jY9PpEsD/sources/card_7sS5WSAkq96CSd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_7sS5WSAkq96CSd",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7sS5p5jY9PpEsD",
          "cvc_check": null,
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null,
          "type": "Visa"
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS52CjN7j4K5M/sources
    body:
      encoding: UTF-8
      string: source[account_number]=000123456789&source[country]=US&source[object]=bank_account&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS5z6mCm8B34b",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS52CjN7j4K5M",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS52CjN7j4K5M
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "i[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7sS52CjN7j4K5M/sources/ba_7sS5z6mCm8B34b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS5z6mCm8B34b",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS52CjN7j4K5M",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new",
          "disabled": false,
          "validated": false,
          "verified": false
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7sS52CjN7j4K5M/sources/ba_7sS5z6mCm8B34b/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7sS5z6mCm8B34b",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7sS52CjN7j4K5M",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "verified",
          "disabled": false,
          "validated": false,
          "verified": true
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=20000&currency=usd&customer=cus_7sS5p5jY9PpEsD&source=ba_7sS5z6mCm8B34b
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Customer cus_7sS5p5jY9PpEsD does not have a linked source with ID ba_7sS5z6mCm8B34b.",
            "param": "source",
            "code": "missing"
          }
        }
  recorded_at: Tue, 05 Apr 2016 07:00:00 GMT
recorded_with: VCR 3.0.1
