---
http_interactions:
- request:
    method: get
    uri: https://<CLOSE_IO_API_KEY>:@app.close.io/api/v1/lead/?query=email:test2@test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "display_name":
        "Test 2", "addresses": [], "status_id": "stat_przzrnAa2dQ2r0yot8Wq7QS3DdQIx80VN9CCSQ8yupK",
        "date_updated": "2016-02-16T21:33:04.600000+00:00", "status_label": "Potential",
        "description": "", "contacts": [{"name": "Test 2", "title": "", "date_updated":
        "2016-02-16T21:33:04.597000+00:00", "phones": [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_CQ8N3NcavUa4Z7IJPONkan3hRWW1tyANxNAlYEPQbgD", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls": [], "date_created":
        "2016-02-16T21:32:58.041000+00:00", "emails": [{"type": "office", "email":
        "test2@test.com"}], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}],
        "html_url": "https://app.close.io/lead/lead_D3o8sbnEJso4ekbggXkB1jUOylslNKpKEsQ7jIurMIe/",
        "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom":
        {}, "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE",
        "url": null, "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "opportunities": [], "created_by_name": "Michael Kaiser-Nyman", "date_created":
        "2016-02-16T21:32:58.046000+00:00", "id": "lead_D3o8sbnEJso4ekbggXkB1jUOylslNKpKEsQ7jIurMIe",
        "updated_by_name": "Michael Kaiser-Nyman", "name": ""}]}'
  recorded_at: Tue, 16 Feb 2016 22:00:19 GMT
[...]
