$(function() {
  <% environment.context_class.instance_eval { include Rails.application.routes.url_helpers} %>

  $('#add-bank-account-manual-button').click(function() {
    $("#add-bank-account-manual-button").hide();
    $("#manual-bank-intro-text").hide();
    $('#manual-bank-account-form').removeClass('hidden');
  });


  $('#add-bank-account-plaid-button').click(function() {
    async function fetchLinkToken() {
      var token = $('meta[name=csrf-token]').attr('content');
      var response = await fetch('/create_plaid_link_token', { method: 'POST', headers: {'X-CSRF-Token': token}});
      var responseJSON = await response.json();
      return responseJSON.link_token;
    }
    async function createLinkHandler() {
      var linkToken = await fetchLinkToken();
      var linkHandler = Plaid.create({
        token: linkToken,
        onSuccess: function(public_token, metadata) {
          $.ajax({
            method: "POST",
            dataType: "script",
            url: "<%= url_for(bank_accounts_path) %>",
            data: { bank_account: { plaid_public_token: public_token, plaid_account_id: metadata.account_id } }
          });
        },
        onExit: function(err, metadata) {
          $("#bank-account-options").show()
          $("#bank-account-please-wait").hide();
          if (err != null) {
            alert(err.display_message);
          }
        }
      });
      linkHandler.open();
      $("#add-bank-account-manual-button").show();
      $("#manual-bank-intro-text").show();
      $('#manual-bank-account-form').addClass('hidden');
    }
    $("#bank-account-options").hide()
    $("#bank-account-please-wait").show();
    createLinkHandler();
  });

  $('form#new_bank_account').submit(function(event) {
    event.preventDefault();
    var formData = {
      routing_number: $("input#routing_number").val(),
      account_number: $("input#bank_account_number").val(),
      account_holder_name: $("input#account_holder_name").val(),
      account_holder_type: $("#account_holder_type").val().toLowerCase(),
      country: $("input#country").val(),
      currency: $("input#currency").val()
    };
    Stripe.bankAccount.createToken(formData, stripeBankAccountResponseHandler);
  });
});

var stripeBankAccountResponseHandler = function(status, response) {
  if (status === 200) {
    $("input#bank_account_number").val('************');
    $("input#routing_number").val('*********');
    $("input#country").val();
    $("input#currency").val();
    var token = response.id;
    $('input#bank_account_stripe_token').val(token);
    $('form#new_bank_account').unbind('submit').submit();
    $('#account-submit-button').val('loading...').attr('disabled', 'disabled');
  } else {
    $('div.alert-danger').remove();
    $('form#new_bank_account').prepend(
      '<div class="alert alert-danger">' +
        '<h3>Please correct these problems:</h3>' +
        '<ul>' +
        '</ul>' +
      '</div>'
    );
    var errorMapping = {
      "You cannot use a live bank account number when making transfers or debits in test mode": "Invalid bank account number.",
      "Must only use a test bank account number when making transfers or debits in test mode": "Invalid bank account number.",
      "Routing number must have 9 digits": "Invalid routing number.",
      "A bank account with that routing number and account number already exists for this customer.": "Please enter a new account."
    };
    var errorMessage = errorMapping[response.error.message] || response.error.message;
    $('.alert-danger ul').append('<li>' + errorMessage + '</li>');
  }
};
