<h3>Students</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <p><%= link_to 'View all', course_path(@course, all: true),class: 'btn btn-default' unless params[:all] %></p>

    <div class="table-responsive">
      <% if params[:all] %>
        <table class="searchable-datatable table table-hover">
      <% else %>
        <table class="table table-hover">
      <% end %>
        <thead>
          <tr>
            <th>Student</th>
            <% unless @course.internship_course? %>
              <th>Attendance</th>
            <% end %>
              <% @course.code_reviews.each do |code_review| %>
                <th><%= code_review.title %></th>
              <% end %>
          </tr>
        </thead>
        <tbody id="course-students">
          <%= render @students %>
        </tbody>
      </table>

      <div class="paginator">
        <%= paginate @students, remote: true %>
      </div>
    </div>
  </div>
</div>
