---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_C6PFAPlMvJvPdn",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C6PFAPlMvJvPdn/bank_accounts"
          },
          "created": 1515463331,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C6PFAPlMvJvPdn/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_C6PFAPlMvJvPdn/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Tue, 09 Jan 2018 02:02:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_C6PFAPlMvJvPdn/sources
    body:
      encoding: UTF-8
      string: source[object]=bank_account&source[country]=US&source[account_number]=000123456789&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_C6PFdpwrZJKVZX",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_C6PFAPlMvJvPdn",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Tue, 09 Jan 2018 02:02:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_C6PFAPlMvJvPdn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_C6PFAPlMvJvPdn/sources/ba_C6PFdpwrZJKVZX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_C6PFdpwrZJKVZX",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_C6PFAPlMvJvPdn",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Tue, 09 Jan 2018 02:02:12 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_C6PFAPlMvJvPdn/sources/ba_C6PFdpwrZJKVZX/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_C6PFdpwrZJKVZX",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_C6PFAPlMvJvPdn",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "verified",
          "name": null
        }
  recorded_at: Tue, 09 Jan 2018 02:02:13 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&customer=cus_C6PFAPlMvJvPdn&source=ba_C6PFdpwrZJKVZX&description=Philadelphia%3B+2018-01-08%3B+Full-time%3B+standard%3B+example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "py_C6PFjBlK9YtZaG",
          "object": "charge",
          "amount": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_C6PFilj3MzVrMN",
          "captured": true,
          "created": 1515463333,
          "currency": "usd",
          "customer": "cus_C6PFAPlMvJvPdn",
          "description": "Philadelphia; 2018-01-08; Full-time; standard; example@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": false,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/py_C6PFjBlK9YtZaG/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "ba_C6PFdpwrZJKVZX",
            "object": "bank_account",
            "account_holder_name": null,
            "account_holder_type": null,
            "bank_name": "STRIPE TEST BANK",
            "country": "US",
            "currency": "usd",
            "customer": "cus_C6PFAPlMvJvPdn",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "last4": "6789",
            "metadata": {},
            "routing_number": "110000000",
            "status": "verified",
            "name": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "pending",
          "transfer_group": null
        }
  recorded_at: Tue, 09 Jan 2018 02:02:15 GMT
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:example@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tz-Offset:
      - '0'
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '320'
      X-Rate-Limit-Remaining:
      - '319'
      X-Rate-Limit-Reset:
      - '5.919150'
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "addresses":
        [{"city": "Portland", "country": "US", "zipcode": "97204", "label": "mailing",
        "state": "OR", "address_1": "400 SW 6th Ave", "address_2": ""}], "date_updated":
        "2018-01-09T01:58:07.082000+00:00", "created_by_name": "Michael Kaiser-Nyman",
        "opportunities": [], "custom.lcf_GrOe1vSEWCpdfHpOaCiEchiYTzlGzg7HpL4rICb2bJh":
        "2000-01 PHL Ruby/Rails (Jan 3 - Jul 7)", "id": "lead_L125JRKO4Kh8GJMh7Ah9ggVsrPAzmVEp598taaQBzVe",
        "description": "Please check with Mike if any fields in here are causing issues
        for your queries.", "display_name": "THIS LEAD IS USED FOR TESTING PURPOSES.
        PLEASE DO NOT DELETE.", "contacts": [{"name": "THIS LEAD IS USED FOR TESTING
        PURPOSES. PLEASE DO NOT DELETE.", "title": "", "date_updated": "2018-01-09T01:58:07.072000+00:00",
        "phones": [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_JM7ymwgX3gK2n2Dc0w1dWAFgjlTA71hUZPjg5mp3Cu4", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "urls": [], "date_created": "2017-05-15T23:51:29.062000+00:00", "integration_links":
        [], "emails": [{"type": "office", "email": "example@example.com"}], "lead_id":
        "lead_L125JRKO4Kh8GJMh7Ah9ggVsrPAzmVEp598taaQBzVe"}], "custom.lcf_6Tk6lJghWEfqAcSk45W9k93vF6zZ47jUcrC7cLwTQhh":
        "2000-01 PHL Ruby/Rails (Jan 3 - Jul 7)", "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "custom": {"Demographics - Veteran": "No", "Cohort - Applied": "2000-01 PHL
        Ruby/Rails (Jan 3 - Jul 7)", "Demographics - Birth Date": "2000-01-01", "Demographics
        - Disability": "No", "Cohort - Starting": "2000-01 PHL Ruby/Rails (Jan 3 -
        Jul 7)", "Demographics - Education": "GED", "Demographics - Shirt size": "S"},
        "updated_by_name": "Michael Kaiser-Nyman", "custom.lcf_pVGPL0vT6maOxhK3U4GRc4mjzjGWmREWg0nPQzylvCE":
        "2000-01-01", "custom.lcf_lizZuswvOd4k08l8kb3KNVmM38kJMdZuxIwjbdhbS6T": "S",
        "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "status_id":
        "stat_jHXa7MyAAAXtdOq6WuzN4IDHXXkwaq41miOxlg1Os0j", "html_url": "https://app.close.io/lead/lead_L125JRKO4Kh8GJMh7Ah9ggVsrPAzmVEp598taaQBzVe/",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "custom.lcf_38CfDp4LfSEAuLykjw8kZbQH5ZJwQSbUr95i5vCuADY":
        "GED", "integration_links": [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=THIS%20LEAD%20IS%20USED%20FOR%20TESTING%20PURPOSES.%20PLEASE%20DO%20NOT%20DELETE.&button=",
        "name": "Epicenter Link"}], "name": "", "url": null, "status_label": "Applicant
        - No longer interested (legacy)", "custom.lcf_xl5OstFwOKZrYWhVtCJNEjrhcFfj0J2hb43MdHOCmiW":
        "No", "date_created": "2017-05-15T23:51:29.068000+00:00", "custom.lcf_7C6poq2WtkRq6t9136FwaHjahQmWkb7qgOnlwiFc8Fd":
        "No"}]}'
  recorded_at: Tue, 09 Jan 2018 02:02:15 GMT
[...]
