---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example-part-time%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Bx1cos7w3JFZ7t",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Bx1cos7w3JFZ7t/bank_accounts"
          },
          "created": 1513299620,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example-part-time@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Bx1cos7w3JFZ7t/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Bx1cos7w3JFZ7t/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Fri, 15 Dec 2017 01:00:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Bx1cos7w3JFZ7t/sources
    body:
      encoding: UTF-8
      string: source[object]=card&source[number]=4242424242424242&source[exp_month]=12&source[exp_year]=2020&source[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_Bx1cGSZHEIoQk9",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_Bx1cos7w3JFZ7t",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Fri, 15 Dec 2017 01:00:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Bx1cos7w3JFZ7t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Bx1cos7w3JFZ7t/sources/card_Bx1cGSZHEIoQk9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_Bx1cGSZHEIoQk9",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_Bx1cos7w3JFZ7t",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Fri, 15 Dec 2017 01:00:22 GMT
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:example-part-time@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tz-Offset:
      - '0'
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '320'
      X-Rate-Limit-Remaining:
      - '319'
      X-Rate-Limit-Reset:
      - '7.881666'
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "addresses":
        [], "date_updated": "2017-11-16T23:22:11.149000+00:00", "created_by_name":
        "Michael Kaiser-Nyman", "opportunities": [], "custom.lcf_GrOe1vSEWCpdfHpOaCiEchiYTzlGzg7HpL4rICb2bJh":
        "PT: 2000-01 PHL Part-time (Jan 3 - Jul 7)", "id": "lead_UabfahudkzA3ycwBGMOb44xwmqPLW9wkeLy1c3XclLy",
        "description": "", "display_name": "THIS LEAD IS USED FOR TESTING PURPOSES.
        PLEASE DO NOT DELETE.", "contacts": [{"name": "THIS LEAD IS USED FOR TESTING
        PURPOSES. PLEASE DO NOT DELETE.", "title": "", "date_updated": "2017-06-14T23:32:51.945000+00:00",
        "phones": [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_cXkVtvOY9aoceVwaBCLILIbNcZHsudhfscyb6blQsOx", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "urls": [], "date_created": "2017-06-14T23:32:45.187000+00:00", "integration_links":
        [], "emails": [{"type": "office", "email": "example-part-time@example.com"}],
        "lead_id": "lead_UabfahudkzA3ycwBGMOb44xwmqPLW9wkeLy1c3XclLy"}], "created_by":
        "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom": {"Cohort - Applied":
        "PT: 2000-01 PHL Part-time (Jan 3 - Jul 7)"}, "updated_by_name": "Michael
        Kaiser-Nyman", "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_jHXa7MyAAAXtdOq6WuzN4IDHXXkwaq41miOxlg1Os0j", "html_url":
        "https://app.close.io/lead/lead_UabfahudkzA3ycwBGMOb44xwmqPLW9wkeLy1c3XclLy/",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "integration_links":
        [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=THIS%20LEAD%20IS%20USED%20FOR%20TESTING%20PURPOSES.%20PLEASE%20DO%20NOT%20DELETE.&button=",
        "name": "Epicenter Link"}], "name": "", "url": null, "status_label": "Applicant
        - No longer interested (legacy)", "date_created": "2017-06-14T23:32:45.190000+00:00"}]}'
  recorded_at: Fri, 15 Dec 2017 01:00:23 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=27836&currency=usd&customer=cus_Bx1cos7w3JFZ7t&source=card_Bx1cGSZHEIoQk9&description=Philadelphia%3B+2017-12-11%3B+Part-time%3B+upfront%3B+example-part-time%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_Bx1cAo7nE7wzP0",
          "object": "charge",
          "amount": 27836,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_Bx1cLojvrH99XU",
          "captured": true,
          "created": 1513299624,
          "currency": "usd",
          "customer": "cus_Bx1cos7w3JFZ7t",
          "description": "Philadelphia; 2017-12-11; Part-time; upfront; example-part-time@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_Bx1cAo7nE7wzP0/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_Bx1cGSZHEIoQk9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Bx1cos7w3JFZ7t",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "B5I5Hkz6r7cWlvfb",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Fri, 15 Dec 2017 01:00:24 GMT
[...]
