---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_ADSdbFOASQzfTq",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_ADSdbFOASQzfTq/bank_accounts"
          },
          "created": 1488491053,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_ADSdbFOASQzfTq/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_ADSdbFOASQzfTq/subscriptions"
          }
        }
  recorded_at: Thu, 02 Mar 2017 21:44:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_ADSdbFOASQzfTq/sources
    body:
      encoding: UTF-8
      string: source[account_number]=000123456789&source[country]=US&source[object]=bank_account&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_ADSdj0Zp5uSXGZ",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_ADSdbFOASQzfTq",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Thu, 02 Mar 2017 21:44:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ADSdbFOASQzfTq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ADSdbFOASQzfTq/sources/ba_ADSdj0Zp5uSXGZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_ADSdj0Zp5uSXGZ",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_ADSdbFOASQzfTq",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": null
        }
  recorded_at: Thu, 02 Mar 2017 21:44:14 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_ADSdbFOASQzfTq/sources/ba_ADSdj0Zp5uSXGZ/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_ADSdj0Zp5uSXGZ",
          "object": "bank_account",
          "account_holder_name": null,
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_ADSdbFOASQzfTq",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "verified",
          "name": null
        }
  recorded_at: Thu, 02 Mar 2017 21:44:14 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&customer=cus_ADSdbFOASQzfTq&description=Philadelphia%3B+2017-02-27%3B+Full-time&source=ba_ADSdj0Zp5uSXGZ
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "py_ADSdjuTGtam7Ns",
          "object": "charge",
          "amount": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_ADSdd0BANC3Anb",
          "captured": true,
          "created": 1488491054,
          "currency": "usd",
          "customer": "cus_ADSdbFOASQzfTq",
          "description": "Philadelphia; 2017-02-27; Full-time",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": false,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/py_ADSdjuTGtam7Ns/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "ba_ADSdj0Zp5uSXGZ",
            "object": "bank_account",
            "account_holder_name": null,
            "account_holder_type": null,
            "bank_name": "STRIPE TEST BANK",
            "country": "US",
            "currency": "usd",
            "customer": "cus_ADSdbFOASQzfTq",
            "fingerprint": "qw2YdYDmIJUuNi9w",
            "last4": "6789",
            "metadata": {},
            "routing_number": "110000000",
            "status": "verified",
            "name": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "pending",
          "transfer_group": null
        }
  recorded_at: Thu, 02 Mar 2017 21:44:15 GMT
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:example@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
      X-Rate-Limit-Reset:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "addresses":
        [], "date_updated": "2017-03-02T21:40:55.124000+00:00", "created_by_name":
        "Michael Kaiser-Nyman", "opportunities": [], "custom.lcf_sXaSO35CeYV0CSLrlxo4s1zKUCIQxAuynB7YsLlt7M8":
        100, "id": "lead_4LhIfianLPowbWVnZgOBHQ8Flgm26Wu6YsssnTkKg26", "description":
        "Used in Epicenter automated tests. Do not delete.", "display_name": "TEST
        TEST", "contacts": [{"name": "TEST TEST", "title": "", "date_updated": "2017-02-28T23:31:19.147000+00:00",
        "phones": [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "id": "cont_FStz8S1Oe1diS12GwlUZM3kd9An7qfrPhTkQ3nyxvoH", "organization_id":
        "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "urls": [], "date_created":
        "2015-08-04T20:54:51.401000+00:00", "integration_links": [], "emails": [{"type":
        "office", "email": "example@example.com"}], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}],
        "custom.lcf_B410rIUtklIKHiSrxnQDvocLUp9D3gpuFGxP49Vgtl8": "Standard Plan -
        $150 then $850", "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "custom": {"Amount paid": 100, "Gender": "Female, Non-binary", "Age": 25,
        "Previous job": "test job", "Campus": "Portland", "Race": "Other", "veteran":
        "No", "Payment plan": "Standard Plan - $150 then $850", "Previous salary":
        10000, "Education": "High school diploma or equivalent", "Class": "* Placement
        Test"}, "updated_by_name": "Michael Kaiser-Nyman", "custom.lcf_Ms6HpCRZiHpNs0Q6P98bkTEpFDlOpqg7jCSq4nskMXc":
        25, "custom.lcf_XLoOAQHg31yBv5xVBJDHnRpQVK7o3oIUy5ng50clwy6": "Other", "custom.lcf_szuq9CwVhfFYVhdqoTO8VE0nWhbWq5G2eBDRrJXTvan":
        "Female, Non-binary", "custom.lcf_b6edXV72xgsfp5Dw5qS5fQHihwEb8F4jgmWk6iSTZAD":
        "test job", "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_IAcdBqZZTAul6vK2srakLxAyd8Kem3ALHW6MBg12ntc", "custom.lcf_cLOVwwxk5KM718I4LJ4zwYpemYH4ULYL1n8qcHrio78":
        "Portland", "html_url": "https://app.close.io/lead/lead_4LhIfianLPowbWVnZgOBHQ8Flgm26Wu6YsssnTkKg26/",
        "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE", "custom.lcf_38CfDp4LfSEAuLykjw8kZbQH5ZJwQSbUr95i5vCuADY":
        "High school diploma or equivalent", "integration_links": [{"url": "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=TEST%20TEST&button=",
        "name": "Epicenter Link"}], "custom.lcf_Gm7m9WYKo5s8r8hOllbu1FHZEcHFLYjckMecIFdeg0a":
        "* Placement Test", "name": "TEST TEST", "url": null, "status_label": "Enrolled",
        "date_created": "2015-08-04T20:54:51.404000+00:00", "custom.lcf_7C6poq2WtkRq6t9136FwaHjahQmWkb7qgOnlwiFc8Fd":
        "No", "custom.lcf_TjagC1kMBfOiYbULzdgdIelJmMd3wXPyCU2VN6KOyLu": 10000}]}'
  recorded_at: Thu, 02 Mar 2017 21:44:15 GMT
[...]
- request:
    method: put
    uri: https://app.close.io/api/v1/lead/lead_4LhIfianLPowbWVnZgOBHQ8Flgm26Wu6YsssnTkKg26/
    body:
      encoding: UTF-8
      string: '{"status":"Enrolled","custom.Amount paid":100}'
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
[...]
