<div class="text-center certificate col-md-8 col-md-offset-2">
  <h1>Epicodus Certificate of Completion</h1>

  <p><em><strong>Web and Mobile Development</strong></em></p>
  <p><%= @student.courses.non_internship_courses.order(:start_date).last.end_date.strftime('%B %d, %Y') %></p>

  <p>
    <strong><%= @student.name %></strong> has completed Epicodus's Web and
    Mobile Development course, including 1,000 hours of classroom and
    internship development work.
  </p>

  <p><%= image_tag "signature.png" %></p>

  <p><strong>Michael Kaiser-Nyman, President</strong></p>
</div>
