<div class="certificate col-md-10">
  <h1>Epicodus Certificate of Completion</h1>

  <h2>Web and Mobile Development</h2>
  <h3><%= @student.course.end_date.strftime('%B %d, %Y') %></h3>

  <p>
    <strong><%= @student.name %></strong> has completed Epicodus's Web and
    Mobile Development course, including 1,000 hours of classroom and
    internship development work.
  </p>

  <p><%= image_tag "signature.png" %></p>

  <p><strong>Michael Kaiser-Nyman, President</strong></p>
</div>
