<div>
  <% if rating %>
    <% if rating.interest == "1" %>
      <span class="btn-xs btn-success" disabled>High</span>
    <% elsif rating.interest == "2" %>
      <span class="btn-xs btn-danger" disabled>Medium</span>
    <% elsif rating.interest == "3" %>
      <span class="btn-xs btn-primary" disabled>Low</span>
    <% end %>
  <% end %>
</span>
