<<<<<<< a212de5ba19c6c6eb0722c70a99eeed2400c2351
<h1> Edit internship at <%= @internship.company.name %></h1>
=======
<h1> Edit internship at <b><i><%= @internship.company.name %></i></b></h1>
>>>>>>> move commits from master to feature branch

<div class="row">
  <div class="col-xs-6">
    <%= render 'form' %>
  </div>
</div>
