<h1>Foo</h1>

<div class="action-buttons">
  <%= link_to "Upfront payment", new_payment_method_path, class: 'btn btn-large btn-info' %>
  <%= link_to "Recurring payments", new_promissory_note_path, class: 'btn btn-large btn-info' %>
</div>
