<h1>Foo</h1>

<div class="action-buttons">
  <%= link_to "Upfront payment", promissory_note_index_path, method: :post, class: 'btn btn-large btn-info' %>
  <%= link_to "Recurring payments", new_promissory_note_path, class: 'btn btn-large btn-info' %>
</div>
