---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_BuWqyOboLBw2pt",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_BuWqyOboLBw2pt/bank_accounts"
          },
          "created": 1512723862,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_BuWqyOboLBw2pt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_BuWqyOboLBw2pt/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Fri, 08 Dec 2017 09:04:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BuWqyOboLBw2pt/sources
    body:
      encoding: UTF-8
      string: source[object]=card&source[number]=4242424242424242&source[exp_month]=12&source[exp_year]=2020&source[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_BuWqQyPXiQ3YdF",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_BuWqyOboLBw2pt",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Fri, 08 Dec 2017 09:04:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_BuWqyOboLBw2pt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_BuWqyOboLBw2pt/sources/card_BuWqQyPXiQ3YdF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_BuWqQyPXiQ3YdF",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_BuWqyOboLBw2pt",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Fri, 08 Dec 2017 09:04:24 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=61821&currency=usd&customer=cus_BuWqyOboLBw2pt&source=card_BuWqQyPXiQ3YdF&description=Philadelphia%3B+2017-12-04%3B+Full-time%3B+upfront%3B+example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_BuWqKpbjTRG2p9",
          "object": "charge",
          "amount": 61821,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_BuWqu5X9YnVcrq",
          "captured": true,
          "created": 1512723865,
          "currency": "usd",
          "customer": "cus_BuWqyOboLBw2pt",
          "description": "Philadelphia; 2017-12-04; Full-time; upfront; example@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_BuWqKpbjTRG2p9/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_BuWqQyPXiQ3YdF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_BuWqyOboLBw2pt",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "B5I5Hkz6r7cWlvfb",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Fri, 08 Dec 2017 09:04:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance/history/txn_BuWqu5X9YnVcrq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "txn_BuWqu5X9YnVcrq",
          "object": "balance_transaction",
          "amount": 61821,
          "available_on": 1513036800,
          "created": 1512723865,
          "currency": "usd",
          "description": "Philadelphia; 2017-12-04; Full-time; upfront; example@example.com",
          "fee": 1823,
          "fee_details": [
            {
              "amount": 1823,
              "application": null,
              "currency": "usd",
              "description": "Stripe processing fees",
              "type": "stripe_fee"
            }
          ],
          "net": 59998,
          "source": "ch_BuWqKpbjTRG2p9",
          "sourced_transfers": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers?source_transaction=ch_BuWqKpbjTRG2p9"
          },
          "status": "pending",
          "type": "charge"
        }
  recorded_at: Fri, 08 Dec 2017 09:04:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_BuWqKpbjTRG2p9&amount=500
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_BuWqNa0DtqJRYc",
          "object": "refund",
          "amount": 500,
          "balance_transaction": "txn_BuWqTBpoUSGMat",
          "charge": "ch_BuWqKpbjTRG2p9",
          "created": 1512723866,
          "currency": "usd",
          "metadata": {},
          "reason": null,
          "receipt_number": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 08 Dec 2017 09:04:27 GMT
recorded_with: VCR 3.0.3
