#absence-summary-row {
  background-color: #f2dede;
}

#absence-summary-row[data-content="0"], #absence-summary-row[data-content="1"], #absence-summary-row[data-content="2"], #absence-summary-row[data-content="3"], #absence-summary-row[data-content="4"], #absence-summary-row[data-content="5"] {
  background-color: #dff0d8;
}

#absence-summary-row[data-content="6"], #absence-summary-row[data-content="7"], #absence-summary-row[data-content="8"], #absence-summary-row[data-content="9"], #absence-summary-row[data-content="10"] {
  background-color: #fcf8e3;
}
