.student {
  float: none !important;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}

.student h2 {
  margin: 8px auto 0;
  font-size: 21px;
  font-weight: 200;
  line-height: 36px;
}

.student img { vertical-align: top; }

.student .text-success {
  margin-top: 12px;
  font-weight: bold;
}

.student input[type="submit"] { margin-top: 12px;}

.student form { margin-bottom: 2px; }

.student-attendance-div {
  height: 220px;
}
