.text-success {
  margin-top: 12px;
  font-weight: bold;
}

.student input[type="submit"] { margin-top: 12px;}

.student form {
  position: absolute;
  top: 100%;
  margin-top: -5em;
}

.student-attendance-div {
  height: 200px;
  position: relative;
}

.student-tab {
  cursor: pointer;
}

.attendance {
  color: white;
  border-radius: 5px;
  text-align: center;
}

.on-time {
  background-color: #85B55D;
}

.absent {
  background-color: #E16F62;
}

.tardy, .left-early {
  background-color: #E1AB6C;
}
