.student {
  float: none !important;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}

.student h2 {
  margin: auto 0;
  font-weight: 200;
  line-height: 36px;
}

.student .text-success {
  margin-top: 12px;
  font-weight: bold;
}

.student input[type="submit"] { margin-top: 12px;}

.student form {
  position: absolute;
  top: 100%;
  margin-top: -5em;
}

.student-attendance-div {
  height: 200px;
  position: relative;
}
