.student input[type="submit"] { margin-top: 12px;}

.student form {
  position: absolute;
  top: 100%;
  margin-top: -5em;
}

.student-attendance-div {
  height: 200px;
  position: relative;
}

#student-nav li {
  cursor: pointer;
}
