.student input[type="submit"] { margin-top: 12px;}

.student form {
  position: absolute;
  top: 100%;
  margin-top: -5em;
}

.student-attendance-div {
  height: 200px;
  position: relative;
}

#student-nav li {
  cursor: pointer;
}

.btn-epicodus {
  color: #FFFFFF;
  background-color: #00B3B4;
  border-color: #04CCCC;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle.btn-epicodus {
    color: #FFFFFF;
    background-color: #00B3B4;
    border-color: #04CCCC;
  }

  &:active,
  &.active,
  .open .dropdown-toggle.btn-epicodus {
    background-image: none;
  }
}

#attendance-signin-label {
  margin-bottom: 1em;
}
