.objectives-scores.green {
  background-color: lightgreen;
}
.objectives-scores.yellow {
  background-color: yellow;
}
.objectives-scores.red {
  background-color: pink;
}

.sticky {
  background-color: lightyellow !important;
}
