.company-list {
  list-style: none;
}

.company-list li a {
  text-decoration: none;
  font-size: 1.25em;
}

.unstyled-link {
  text-decoration: none;
}

.form-group {
  width: 50em;
}

.update-company {
  float: right;
  margin-right: 30em;
}
