body {
  font-size: 1.6rem !important;
  padding-top: 60px;
}

li, a {
  font-size: 1.6rem;
}

.navbar-brand {
  font-size: 1.6rem !important;
}

.submission-success {
  color: #5cb85c;
}

.submission-fail {
  color: #d9534f;
}

.passing-submission-link {
  color: #468847 !important;
}

.failing-submission-link {
  color: #b94a48 !important;
}

.pending-submission-link {
  color: #c09853 !important;
}

.code-review-hidden-score {
  display: none;
}
