body {
  font-size: 1.6rem !important;
  padding-top: 60px;
}

li, a {
  font-size: 1.6rem;
}

.navbar-brand {
  font-size: 1.6rem !important;
}

.submission-success {
  color: #5cb85c;
}

.submission-fail {
  color: #d9534f;
}

.passing-submission-link {
  color: #468847 !important;
}

.failing-submission-link {
  color: #b94a48 !important;
}

.pending-submission-link {
  color: #c09853 !important;
}

.code-review-hidden-score {
  display: none;
}

.scrollable-menu {
  height: auto;
  max-height: 75rem;
  overflow-x: hidden;
}

#remove-objective-link, #remove-objective-link:hover {
  text-decoration: none;
  color: #777;
}

#logo {
  width: 40%;
}

#sign-in-button {
  margin-top: 7rem;
}

#github-sign-in-button {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#morning-questions {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#course-dropdown:hover {
  span {
    color: #fff !important;
  }
}

@media (max-width: 550px) {
  #logo {
    width: 60%;
  }
}

@media (min-width: 551px) {
  #logo {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .first-navbar-link {
    padding-left: 15px !important;
  }
}

@media (min-width: 768px) {
  .first-navbar-link {
    padding-left: 0px !important;
  }
}
