#new_demographic_info {
  .radio, .checkbox-inline, li {
    label {
      font-weight: normal;
    }
  }

  .form-group {
    margin-bottom: 2em;

    label {
      margin-right: .7em;
    }
  }

  .btn {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 15em;
  }

  select, input {
    min-width: 0;
    max-width: 100%;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;

    .flex-item {
      flex-grow: 1;
      flex-basis: 10%;
      max-width: 100%;
    }

    .address {
      flex-grow: 5;
    }

    .city, .country {
      flex-grow: 2;
    }
  }

  @media (max-width: 1199px) {
    .flex-container {
      .address {
        flex-basis: 100%;
      }
    }
  }

  @media (max-width: 767px) {
    margin-top: -60px;
    margin-bottom: -20px;

    .flex-container {
      flex-direction: column;
    }

    .btn {
      width: 100%;
    }
  }
}
