.form-group.required label:after {
   content:"*";
   color:red;
}

#new_demographic_info label {
  font-weight: bold;
}

#new_demographic_info li label {
  font-weight: normal;
}

#asterisk-explanation {
  color: red;
}
