.radio_button_label {
  display: inline-block;
}

.internship-low-interest {
  background-color: #F7977A;
}

.internship-medium-interest {
  background-color: #FFF79A;
}

.internship-high-interest {
  background-color: #82CA9D;
}
