.radio_button_label {
  display: inline-block;
}

.internship-low-interest {
  background-color: #f2dede;
}

.internship-medium-interest {
  background-color: #fcf8e3;
}

.internship-high-interest {
  background-color: #dff0d8;
}

.internship-list-row {
  border-top: solid;
  border-width: .75px;
  border-color: #9099a3;
  padding: .5em;
  margin-left: .05em;
}
