.radio_button_label {
  display: inline-block;
}

.red-background {
  background-color: #F7977A;
}

.yellow-background {
  background-color: #FFF79A;
}

.green-background {
  background-color: #82CA9D;
}
