body { padding-top: 60px; }

/*.dropdown-menu a {
  text-decoration: none;
  text-align: center;
}

.dropdown-menu .new-course a {
  font-weight: bold;
}

.nav > li.dropdown > a {
  display: inline-block;
  padding: 3px;
}*/
