#pairing-roster-row {
  background-color: #f2dede;
}

#pairing-roster-row[data-content="0"], #pairing-roster-row[data-content="1"], #pairing-roster-row[data-content="2"] {
  background-color: #dff0d8;
}

#pairing-roster-row[data-content="3"], #pairing-roster-row[data-content="4"] {
  background-color: #fcf8e3;
}
