form.payment-button-form {
  margin-bottom: 0;
}

a.verify-button-link {
  margin-bottom: 0;
}

.check-mark {
  padding-left: 25px;
}

#choose-payment-plan {
  text-align: center;
}

#choose-payment-plan .panel {
  padding: 20px;
  min-height: 250px;
}

#choose-payment-plan #loan-message {
  margin: 15px;
  text-align: left;
}
