form.payment-button-form {
  margin-bottom: 0;
}

a.verify-button-link {
  margin-bottom: 0;
}

td.primary-payment-method {
  padding-bottom: 20px;
}

p.new-method-links {
  font-size: 18px;
  font-weight: bold;
}

.check-mark {
  padding-left: 25px;
}
