#transcript-certificate-links {
  margin-top: 25px;
  margin-bottom: 25px;
}

#profile-twofa-box {
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  #profile-edit-box {
    .panel-body {
      border: none;
      padding-left: 0;
      padding-right: 0;
      background: #FCFCFC;
   }
  }
}

@media (min-width: 768px) {
  #profile-divider {
    display: none;
  }
}