.internship-ranking-notes {
  width: 100% !important;
}

.ratings-button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
}
