#otp-form {
  padding-top: 30px;
}

.panel-2fa {
  .form-control {
    max-width: 208px;
  }
}

#profile-link-to-2fa {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  #sign-in-box {
    min-height: 570px;
    border-style: solid;
    border-radius: 10px 10px;
    margin-bottom: 30px;
  }

  #sign-in-page-header {
    margin: 4rem;
  }

  #otp-form {
    padding-top: 30%;
  }

  .panel-2fa {
    margin: 2rem;
  }
}

@media (min-width: 992px) {
  .panel-2fa {
    height: 500px;
  }
}
