.sticky-note-content .panel {
  background: lightyellow;
  cursor: pointer;
}

.sticky-note-content .panel:hover {
  background: lightgoldenrodyellow;
}

.sticky-note-form .panel {
  background: lightyellow;
}

.sticky-note-form textarea {
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
}
