---
http_interactions:
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fkuyegiukdg57sym%2Fcode_of_conduct.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student25%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+25&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1455225109'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"5f007a8021c6e8043c667301003e6959f6e90479","test_mode":true,"title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/5f007a8021c6e8043c667301003e6959f6e90479","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/5f007a8021c6e8043c667301003e6959f6e90479","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=5f007a8021c6e8043c667301003e6959f6e90479","requester_email_address":"michael@epicodus.com","signatures":[{"signature_id":"a47299b8f64d42a9befa3e6cdff5c8fe","has_pin":false,"signer_email_address":"student25@example.com","signer_name":"Example Brown 25","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Thu, 11 Feb 2016 21:12:11 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/a47299b8f64d42a9befa3e6cdff5c8fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1455225111'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=a47299b8f64d42a9befa3e6cdff5c8fe&token=9a720ec648998c458fad6d4c0c8e047a","expires_at":1455228711}}
  recorded_at: Thu, 11 Feb 2016 21:12:11 GMT
recorded_with: VCR 3.0.1
