---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=&file_url%5B%5D=&signers%5B0%5D%5Bemail_address%5D=student25%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+23&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="API"
    body:
      encoding: UTF-8
      string: '{"error":{"error_msg":"Unauthorized user. No credentials supplied.","error_name":"unauthorized"}}'
  recorded_at: Mon, 03 Aug 2015 18:34:06 GMT
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=dl.dropboxusercontent.com%2Fs%2Fkuyegiukdg57sym%2Fcode_of_conduct.pdf&signers%5B0%5D%5Bemail_address%5D=student25%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+23&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1438627044'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"4e1d96bf43558b9aac0ffbd5a197d536c8104741","title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"test_mode":true,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/4e1d96bf43558b9aac0ffbd5a197d536c8104741","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/4e1d96bf43558b9aac0ffbd5a197d536c8104741","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=4e1d96bf43558b9aac0ffbd5a197d536c8104741","requester_email_address":"chris@epicodus.com","signatures":[{"signature_id":"46c0ed257adbb5778c2b674a07146c67","has_pin":false,"signer_email_address":"student25@example.com","signer_name":"Example Brown 23","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Mon, 03 Aug 2015 18:37:23 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/46c0ed257adbb5778c2b674a07146c67
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1438627046'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=46c0ed257adbb5778c2b674a07146c67&token=91e13596ae52a382702e797e41196f68","expires_at":1438630646}}
  recorded_at: Mon, 03 Aug 2015 18:37:24 GMT
recorded_with: VCR 2.9.3
