---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=student97%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7tEC8Hee6257ai",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tEC8Hee6257ai/bank_accounts"
          },
          "created": 1455225163,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "student97@example.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tEC8Hee6257ai/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7tEC8Hee6257ai/subscriptions"
          }
        }
  recorded_at: Thu, 11 Feb 2016 21:13:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7tEC8Hee6257ai/sources
    body:
      encoding: UTF-8
      string: source[account_number]=000123456789&source[country]=US&source[object]=bank_account&source[routing_number]=110000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7tECCd0hMBcWqZ",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7tEC8Hee6257ai",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new"
        }
  recorded_at: Thu, 11 Feb 2016 21:13:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7tEC8Hee6257ai
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7tEC8Hee6257ai/sources/ba_7tECCd0hMBcWqZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7tECCd0hMBcWqZ",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7tEC8Hee6257ai",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "new"
        }
  recorded_at: Thu, 11 Feb 2016 21:13:04 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7tEC8Hee6257ai/sources/ba_7tECCd0hMBcWqZ/verify
    body:
      encoding: UTF-8
      string: amounts[]=32&amounts[]=45
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_7tECCd0hMBcWqZ",
          "object": "bank_account",
          "account_holder_type": null,
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "customer": "cus_7tEC8Hee6257ai",
          "fingerprint": "qw2YdYDmIJUuNi9w",
          "last4": "6789",
          "metadata": {},
          "name": null,
          "routing_number": "110000000",
          "status": "verified"
        }
  recorded_at: Thu, 11 Feb 2016 21:13:04 GMT
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fkuyegiukdg57sym%2Fcode_of_conduct.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student97%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+101&subject=Sign+to+accept+the+Epicodus+Code+of+Conduct&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1455225165'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"9b18d022735e19ad60c6c9d3b795dbd9fc007bf4","test_mode":true,"title":"Sign to accept the Epicodus Code of Conduct","original_title":"Sign to accept the Epicodus Code of Conduct","subject":"Sign to accept the Epicodus Code of Conduct","message":null,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/9b18d022735e19ad60c6c9d3b795dbd9fc007bf4","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/9b18d022735e19ad60c6c9d3b795dbd9fc007bf4","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=9b18d022735e19ad60c6c9d3b795dbd9fc007bf4","requester_email_address":"michael@epicodus.com","signatures":[{"signature_id":"4ff02d49bc60dcc3f3fd732358f687e6","has_pin":false,"signer_email_address":"student97@example.com","signer_name":"Example Brown 101","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Thu, 11 Feb 2016 21:13:06 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/4ff02d49bc60dcc3f3fd732358f687e6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '496'
      X-Ratelimit-Reset:
      - '1455225166'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=4ff02d49bc60dcc3f3fd732358f687e6&token=db903059d4cbc2f5ac96a37ba92dc1ce","expires_at":1455228766}}
  recorded_at: Thu, 11 Feb 2016 21:13:06 GMT
recorded_with: VCR 3.0.1
