<%= form_for code_review, url: code_review_copy_path, html: { method: :post } do |f| %>
  <div class="input-group">
    <%= grouped_collection_select(:code_review, :id, Course.with_code_reviews, :code_reviews, :description, :id, :title, {}, { class: "form-control" }) %>
    <span class="input-group-btn">
      <%= f.submit 'Copy', class: 'btn btn-info submit' %>
    </span>
  </div>
<% end %>
