<h1>Edit code review</h1>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', code_review: @code_review %>
      </div>
    </div>
  </div>
</div>
