<%= render partial: 'layouts/category_header', locals: { header: 'Code reviews', class_to_manage: CodeReview, category: 'code review', category_path: new_code_review_path } %>
<hr>

<%= form_tag update_multiple_code_reviews_path, method: :patch, class: 'update-multiple-code-reviews' do %>
  <% if can? :manage, CodeReview %>
    <div class="form-group">
      <%= submit_tag 'Save order', class: "btn btn-info" %>
    </div>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Title</th>
        <% if current_student %>
          <th>Status</th>
        <% else %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <% if can? :manage, CodeReview %>
      <tbody class="sortable-code-reviews">
    <% else %>
      <tbody>
    <% end %>
    <%= render @course.code_reviews %>
    </tbody>
  </table>
<% end %>
