<div class="col-xs-8 col-xs-offset-2">
  <h2>New Code Review</h2>
  <%= render 'form', code_review: @code_review %>
</div>

<div class="col-xs-8 col-xs-offset-2">
  <h2>Copy existing code review</h2>
  <%= render 'copy_form', code_review: @code_review %>
</div>
