<h1>New code review</h1>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= render 'form', code_review: @code_review %>
      </div>
    </div>

    <h3>Copy existing code review</h3>
    <div class="panel panel-info">
      <div class="panel-body">
        <%= render 'copy_form', code_review: @code_review %>
      </div>
    </div>
  </div>
</div>
