<<<<<<< 7846dc25633b5772cf2be1a31d5c5a5096237583
<<<<<<< a212de5ba19c6c6eb0722c70a99eeed2400c2351
<div class="row">
  <div class="col-xs-6">
    <h1>New Code Review</h1>
    <%= render 'form', code_review: @code_review %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h3>Copy existing code review</h3>
    <%= render 'copy_form', code_review: @code_review %>
  </div>
=======
<div class="col-md-8 col-md-offset-2">
=======
<div class="col-xs-8 col-xs-offset-2">
>>>>>>> change col-md to col-xs
  <h2>New Code Review</h2>
  <%= render 'form', code_review: @code_review %>
</div>

<div class="col-xs-8 col-xs-offset-2">
  <h2>Copy existing code review</h2>
  <%= render 'copy_form', code_review: @code_review %>
>>>>>>> move commits from master to feature branch
</div>
