<div class="well">
  <h2>New Code Review</h2>
  <%= render 'form', code_review: @code_review %>
</div>

<div class="well">
  <h2>Copy existing code review</h2>
  <%= render 'copy_form', code_review: @code_review %>
</div>
