<div class="row">
  <div class="col-xs-6">
    <h1>New code review</h1>
    <%= render 'form', code_review: @code_review %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h3>Copy existing code review</h3>
    <%= render 'copy_form', code_review: @code_review %>
  </div>
</div>
