---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=student16%40example.com
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431378086,
          "id": "cus_6DphPh1FTcK2b7",
          "livemode": false,
          "description": "student16@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DphPh1FTcK2b7/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DphPh1FTcK2b7/bank_accounts",
            "data": [],
            "count": 0
          },
          "default_bank_account": null,
          "default_source_type": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DphPh1FTcK2b7/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6DphPh1FTcK2b7/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "active_card": null,
          "subscription": null
        }
  recorded_at: Mon, 11 May 2015 21:00:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6DphPh1FTcK2b7/sources
    body:
      encoding: US-ASCII
      string: source[object]=card&source[number]=4242424242424242&source[exp_month]=12&source[exp_year]=2020&source[cvv]=123
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_6Dph4HhGWB6Zaj",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": null,
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6DphPh1FTcK2b7",
          "type": "Visa"
        }
  recorded_at: Mon, 11 May 2015 21:01:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DphPh1FTcK2b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=61821&currency=usd&customer=cus_6DphPh1FTcK2b7
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_6Dph5RWRJLSwES",
          "object": "charge",
          "created": 1431378088,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 61821,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_6Dph4HhGWB6Zaj",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "B5I5Hkz6r7cWlvfb",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_6DphPh1FTcK2b7",
            "type": "Visa"
          },
          "captured": true,
          "card": {
            "id": "card_6Dph4HhGWB6Zaj",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "B5I5Hkz6r7cWlvfb",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_6DphPh1FTcK2b7",
            "type": "Visa"
          },
          "balance_transaction": "txn_6DphOYyw9sOrih",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_6DphPh1FTcK2b7",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": [],
          "statement_description": null,
          "fee": 1823,
          "fee_details": [
            {
              "amount": 1823,
              "currency": "usd",
              "type": "stripe_fee",
              "description": "Stripe processing fees",
              "application": null,
              "amount_refunded": 0
            }
          ]
        }
  recorded_at: Mon, 11 May 2015 21:01:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6DphPh1FTcK2b7/cards/card_6Dph4HhGWB6Zaj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u5dKMdTr4HfllPjVyIYQg9Qx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2012-11-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_6Dph4HhGWB6Zaj",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": null,
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6DphPh1FTcK2b7",
          "type": "Visa"
        }
  recorded_at: Fri, 22 May 2015 18:58:46 GMT
recorded_with: VCR 2.9.3
