<p>Hi <%= @resource.name %>,</p>
<p>You have been invited to create an account at <%= root_url %>.</p>
<p>Click <%= link_to "here", accept_invitation_url(@resource, :invitation_token => @token) %> to create your account on Epicenter.</p>
