---
http_interactions:
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=http%3A%2F%2Finvestors.shopify.com%2Ffiles%2Fdoc_downloads%2Ftest.pdf&signers%5B0%5D%5Bemail_address%5D=student2%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+2&subject=Sign+to+accept+the+Epicodus+Promissory+Note&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1436463095'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"9353cbc3f1af788b9ec03c632138da7f3946b8e8","title":"Sign to accept the Epicodus Promissory Note","original_title":"Sign to accept the Epicodus Promissory Note","subject":"Sign to accept the Epicodus Promissory Note","message":null,"test_mode":true,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/9353cbc3f1af788b9ec03c632138da7f3946b8e8","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/9353cbc3f1af788b9ec03c632138da7f3946b8e8","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=9353cbc3f1af788b9ec03c632138da7f3946b8e8","requester_email_address":"chris@epicodus.com","signatures":[{"signature_id":"70575020fefa956417fa68ac0f1edff1","has_pin":false,"signer_email_address":"student2@example.com","signer_name":"Example Brown 2","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null}],"cc_email_addresses":[]}}
  recorded_at: Thu, 09 Jul 2015 17:31:33 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/70575020fefa956417fa68ac0f1edff1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1436463096'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=70575020fefa956417fa68ac0f1edff1&token=97eb532b5fd1aef263618e60a0245e0c","expires_at":1436466696}}
  recorded_at: Thu, 09 Jul 2015 17:31:34 GMT
recorded_with: VCR 2.9.3
