---
http_interactions:
- request:
    method: post
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=http%3A%2F%2Finvestors.shopify.com%2Ffiles%2Fdoc_downloads%2Ftest.pdf&signers%5B0%5D%5Bemail_address%5D=student1%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+1&subject=Sign+to+accept+the+Epicodus+Promissory+Note&test_mode=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1436463091'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"b7aeed6a6dec466752da6c90656fc2922a8ef044","title":"Sign to accept the Epicodus Promissory Note","original_title":"Sign to accept the Epicodus Promissory Note","subject":"Sign to accept the Epicodus Promissory Note","message":null,"test_mode":true,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/b7aeed6a6dec466752da6c90656fc2922a8ef044","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/b7aeed6a6dec466752da6c90656fc2922a8ef044","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=b7aeed6a6dec466752da6c90656fc2922a8ef044","requester_email_address":"chris@epicodus.com","signatures":[{"signature_id":"d1262822498dd2ad64a099d1bee30665","has_pin":false,"signer_email_address":"student1@example.com","signer_name":"Example Brown 1","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null}],"cc_email_addresses":[]}}
  recorded_at: Thu, 09 Jul 2015 17:31:31 GMT
- request:
    method: get
    uri: https://<HELLO_SIGN_API_KEY>:@api.hellosign.com/v3/embedded/sign_url/d1262822498dd2ad64a099d1bee30665
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Limit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1436463094'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=d1262822498dd2ad64a099d1bee30665&token=bb8eaa42946d5582ebe9974871ba54f1","expires_at":1436466694}}
  recorded_at: Thu, 09 Jul 2015 17:31:32 GMT
recorded_with: VCR 2.9.3
