---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded_with_template
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&custom_fields%5Bprogram_start_date%5D=Monday%2C+January+08%2C+2018&custom_fields%5Bsign_date%5D=Monday%2C+January+08%2C+2018&custom_fields%5Bstudent_name%5D=Example+Brown+412&signers%5BStudent%5D%5Bemail_address%5D=student371%40example.com&signers%5BStudent%5D%5Bname%5D=Example+Brown+412&subject=Sign+to+accept+the+Epicodus+Enrollment+Agreement&template_id=<ENROLLMENT_AGREEMENT_TEMPLATE_ID>&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1515463266'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"6f7cf922592000f024f9a7a516dbb63a88ede43d","test_mode":true,"title":"Sign
        to accept the Epicodus Enrollment Agreement","original_title":"Sign to accept
        the Epicodus Enrollment Agreement","subject":"Sign to accept the Epicodus
        Enrollment Agreement","message":"Epicodus enrollment agreement","metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"student_name","type":"text","required":null,"api_id":"23aab5_14","editor":null,"value":"Example
        Brown 412"},{"name":null,"type":"text","required":true,"api_id":"23aab5_16","editor":null,"value":null},{"name":"sign_date","type":"text","required":null,"api_id":"23aab5_17","editor":null,"value":"Monday,
        January 08, 2018"},{"name":"program_start_date","type":"text","required":null,"api_id":"23aab5_18","editor":null,"value":"Monday,
        January 08, 2018"}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/6f7cf922592000f024f9a7a516dbb63a88ede43d","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/6f7cf922592000f024f9a7a516dbb63a88ede43d","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=6f7cf922592000f024f9a7a516dbb63a88ede43d","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"e7633634b73be52b17cdd1296385689c","has_pin":false,"signer_email_address":"student371@example.com","signer_name":"Example
        Brown 412","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Tue, 09 Jan 2018 02:01:06 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/e7633634b73be52b17cdd1296385689c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1515463267'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=e7633634b73be52b17cdd1296385689c&token=7b8be6220d3a402731753a60cea6cd31","expires_at":1515466867}}'
  recorded_at: Tue, 09 Jan 2018 02:01:07 GMT
recorded_with: VCR 4.0.0
