---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded_with_template
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&custom_fields%5Bprogram_start_date%5D=Monday%2C+May+09%2C+2016&custom_fields%5Bsign_date%5D=Wednesday%2C+May+11%2C+2016&custom_fields%5Bstudent_name%5D=Example+Brown+1&signers%5BStudent%5D%5Bemail_address%5D=student1%40example.com&signers%5BStudent%5D%5Bname%5D=Example+Brown+1&subject=Sign+to+accept+the+Epicodus+Enrollment+Agreement&template_id=<ENROLLMENT_AGREEMENT_TEMPLATE_ID>&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1462992877'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"9fa90d92e7a5bd6e6c7a9cdd826fdbb6280cbce2","test_mode":true,"title":"Sign to accept the Epicodus Enrollment Agreement","original_title":"Sign to accept the Epicodus Enrollment Agreement","subject":"Sign to accept the Epicodus Enrollment Agreement","message":"Epicodus enrollment agreement","metadata":{},"is_complete":false,"has_error":false,"custom_fields":[{"name":"student_name","type":"text","required":null,"api_id":"6c2373_15","editor":null,"value":"Example Brown 1"},{"name":null,"type":"text","required":true,"api_id":"469aba_9","editor":null,"value":null},{"name":"sign_date","type":"text","required":null,"api_id":"8c446b_10","editor":null,"value":"Wednesday, May 11, 2016"},{"name":"program_start_date","type":"text","required":null,"api_id":"6c2373_19","editor":null,"value":"Monday, May 09, 2016"}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/9fa90d92e7a5bd6e6c7a9cdd826fdbb6280cbce2","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/9fa90d92e7a5bd6e6c7a9cdd826fdbb6280cbce2","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=9fa90d92e7a5bd6e6c7a9cdd826fdbb6280cbce2","requester_email_address":"michael@epicodus.com","signatures":[{"signature_id":"0fb774a97bafa18090efcbfa99c22ec8","has_pin":false,"signer_email_address":"student1@example.com","signer_name":"Example Brown 1","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Wed, 11 May 2016 18:54:40 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/0fb774a97bafa18090efcbfa99c22ec8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1462992880'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=0fb774a97bafa18090efcbfa99c22ec8&token=b250369b6e8267f121cea4e0c1d6180f","expires_at":1462996480}}
  recorded_at: Wed, 11 May 2016 18:54:40 GMT
recorded_with: VCR 3.0.1
