---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded_with_template
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&custom_fields%5Bprogram_start_date%5D=Monday%2C+November+27%2C+2017&custom_fields%5Bsign_date%5D=Tuesday%2C+November+28%2C+2017&custom_fields%5Bstudent_name%5D=Example+Brown+409&signers%5BStudent%5D%5Bemail_address%5D=student368%40example.com&signers%5BStudent%5D%5Bname%5D=Example+Brown+409&subject=Sign+to+accept+the+Epicodus+Enrollment+Agreement&template_id=<ENROLLMENT_AGREEMENT_TEMPLATE_ID>&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1511921008'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"497c8458457024001750844ee41c264365778c70","test_mode":true,"title":"Sign
        to accept the Epicodus Enrollment Agreement","original_title":"Sign to accept
        the Epicodus Enrollment Agreement","subject":"Sign to accept the Epicodus
        Enrollment Agreement","message":"Epicodus enrollment agreement","metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"student_name","type":"text","required":null,"api_id":"23aab5_14","editor":null,"value":"Example
        Brown 409"},{"name":null,"type":"text","required":true,"api_id":"23aab5_16","editor":null,"value":null},{"name":"sign_date","type":"text","required":null,"api_id":"23aab5_17","editor":null,"value":"Tuesday,
        November 28, 2017"},{"name":"program_start_date","type":"text","required":null,"api_id":"23aab5_18","editor":null,"value":"Monday,
        November 27, 2017"}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/497c8458457024001750844ee41c264365778c70","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/497c8458457024001750844ee41c264365778c70","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=497c8458457024001750844ee41c264365778c70","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"d39d986aa15cc1a6fc61dcd93b21e52d","has_pin":false,"signer_email_address":"student368@example.com","signer_name":"Example
        Brown 409","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Wed, 29 Nov 2017 02:03:28 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/d39d986aa15cc1a6fc61dcd93b21e52d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1511921008'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=d39d986aa15cc1a6fc61dcd93b21e52d&token=344a71a1d54f272f05b6561a56691c3e","expires_at":1511924609}}'
  recorded_at: Wed, 29 Nov 2017 02:03:29 GMT
recorded_with: VCR 3.0.3
