---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&file_url%5B%5D=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fxgzr0enutnpbdq5%2Fenrollment_agreement.pdf%3Fdl%3D1&signers%5B0%5D%5Bemail_address%5D=student2%40example.com&signers%5B0%5D%5Bname%5D=Example+Brown+2&subject=Sign+to+accept+the+Epicodus+Enrollment+Agreement&test_mode=1
    headers:
      Authorization:
      - Basic YWJkM2Q3ZmY2OTE2MzJkYWVmNzI1N2ZiMzhmZDY4NmU2MmI5M2RjODhlYjIyNWRlZjRiYmI3NzY4NTFiZDczZDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1462559497'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"3c918f2ec2e216d0d85c38854c5157969b03b9d6","test_mode":true,"title":"Sign to accept the Epicodus Enrollment Agreement","original_title":"Sign to accept the Epicodus Enrollment Agreement","subject":"Sign to accept the Epicodus Enrollment Agreement","message":null,"metadata":{},"is_complete":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/3c918f2ec2e216d0d85c38854c5157969b03b9d6","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/3c918f2ec2e216d0d85c38854c5157969b03b9d6","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=3c918f2ec2e216d0d85c38854c5157969b03b9d6","requester_email_address":"chris@epicodus.com","signatures":[{"signature_id":"7c1237bfd4f549997f4edb235b9ae809","has_pin":false,"signer_email_address":"student2@example.com","signer_name":"Example Brown 2","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Fri, 06 May 2016 18:31:39 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/7c1237bfd4f549997f4edb235b9ae809
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWJkM2Q3ZmY2OTE2MzJkYWVmNzI1N2ZiMzhmZDY4NmU2MmI5M2RjODhlYjIyNWRlZjRiYmI3NzY4NTFiZDczZDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1462559499'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=7c1237bfd4f549997f4edb235b9ae809&token=d9c3ee47fcd79d9ae55d91d63dffe32e","expires_at":1462563099}}
  recorded_at: Fri, 06 May 2016 18:31:39 GMT
recorded_with: VCR 3.0.1
