---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded_with_template
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&custom_fields%5Bprogram_start_date%5D=Monday%2C+May+09%2C+2016&custom_fields%5Bsign_date%5D=Wednesday%2C+May+11%2C+2016&custom_fields%5Bstudent_name%5D=Example+Brown+2&signers%5BStudent%5D%5Bemail_address%5D=student2%40example.com&signers%5BStudent%5D%5Bname%5D=Example+Brown+2&subject=Sign+to+accept+the+Epicodus+Enrollment+Agreement&template_id=<ENROLLMENT_AGREEMENT_TEMPLATE_ID>&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1462992881'
    body:
      encoding: UTF-8
      string: |2-

        {"signature_request":{"signature_request_id":"02b01c1149d3000325fa1da666a9f47604dd28b3","test_mode":true,"title":"Sign to accept the Epicodus Enrollment Agreement","original_title":"Sign to accept the Epicodus Enrollment Agreement","subject":"Sign to accept the Epicodus Enrollment Agreement","message":"Epicodus enrollment agreement","metadata":{},"is_complete":false,"has_error":false,"custom_fields":[{"name":"student_name","type":"text","required":null,"api_id":"6c2373_15","editor":null,"value":"Example Brown 2"},{"name":null,"type":"text","required":true,"api_id":"469aba_9","editor":null,"value":null},{"name":"sign_date","type":"text","required":null,"api_id":"8c446b_10","editor":null,"value":"Wednesday, May 11, 2016"},{"name":"program_start_date","type":"text","required":null,"api_id":"6c2373_19","editor":null,"value":"Monday, May 09, 2016"}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/02b01c1149d3000325fa1da666a9f47604dd28b3","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/02b01c1149d3000325fa1da666a9f47604dd28b3","details_url":"https:\/\/www.hellosign.com\/home\/manage?guid=02b01c1149d3000325fa1da666a9f47604dd28b3","requester_email_address":"michael@epicodus.com","signatures":[{"signature_id":"ac73594f76500bf9823b083f8a05987a","has_pin":false,"signer_email_address":"student2@example.com","signer_name":"Example Brown 2","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}
  recorded_at: Wed, 11 May 2016 18:54:43 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/ac73594f76500bf9823b083f8a05987a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1462992883'
    body:
      encoding: UTF-8
      string: |2-

        {"embedded":{"sign_url":"https:\/\/www.hellosign.com\/editor\/embeddedSign?signature_id=ac73594f76500bf9823b083f8a05987a&token=688ea76c6cda89fe988541340dcd0305","expires_at":1462996483}}
  recorded_at: Wed, 11 May 2016 18:54:43 GMT
recorded_with: VCR 3.0.1
