---
http_interactions:
- request:
    method: post
    uri: https://api.hellosign.com/v3/signature_request/create_embedded_with_template
    body:
      encoding: UTF-8
      string: client_id=<HELLO_SIGN_CLIENT_ID>&custom_fields%5Bprogram_start_date%5D=Monday%2C+January+08%2C+2018&custom_fields%5Bsign_date%5D=Monday%2C+January+08%2C+2018&custom_fields%5Bstudent_name%5D=Example+Brown+413&signers%5BStudent%5D%5Bemail_address%5D=student372%40example.com&signers%5BStudent%5D%5Bname%5D=Example+Brown+413&subject=Sign+to+accept+the+Epicodus+Enrollment+Agreement&template_id=<ENROLLMENT_AGREEMENT_TEMPLATE_ID>&test_mode=1
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Limit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1515463268'
    body:
      encoding: ASCII-8BIT
      string: '{"signature_request":{"signature_request_id":"daf54da154f5d6fb9b5c747a7584128e895bd5ae","test_mode":true,"title":"Sign
        to accept the Epicodus Enrollment Agreement","original_title":"Sign to accept
        the Epicodus Enrollment Agreement","subject":"Sign to accept the Epicodus
        Enrollment Agreement","message":"Epicodus enrollment agreement","metadata":{},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"student_name","type":"text","required":null,"api_id":"23aab5_14","editor":null,"value":"Example
        Brown 413"},{"name":null,"type":"text","required":true,"api_id":"23aab5_16","editor":null,"value":null},{"name":"sign_date","type":"text","required":null,"api_id":"23aab5_17","editor":null,"value":"Monday,
        January 08, 2018"},{"name":"program_start_date","type":"text","required":null,"api_id":"23aab5_18","editor":null,"value":"Monday,
        January 08, 2018"}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/daf54da154f5d6fb9b5c747a7584128e895bd5ae","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/daf54da154f5d6fb9b5c747a7584128e895bd5ae","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=daf54da154f5d6fb9b5c747a7584128e895bd5ae","requester_email_address":"it@epicodus.com","signatures":[{"signature_id":"510deb8c20ef3482d58d23ea173a44b3","has_pin":false,"signer_email_address":"student372@example.com","signer_name":"Example
        Brown 413","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[]}}'
  recorded_at: Tue, 09 Jan 2018 02:01:08 GMT
- request:
    method: get
    uri: https://api.hellosign.com/v3/embedded/sign_url/510deb8c20ef3482d58d23ea173a44b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmZjMzFjYWM3YTY0MGQzZGUxNTIxZDk5YmNjMTRmMmJlNGNjMDVkNzg5ZGVhMDI4Y2Q3MjE2ODZlMWJmNmQ2OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Limit-Remaining:
      - '1998'
      X-Ratelimit-Reset:
      - '1515463269'
    body:
      encoding: ASCII-8BIT
      string: '{"embedded":{"sign_url":"https:\/\/app.hellosign.com\/editor\/embeddedSign?signature_id=510deb8c20ef3482d58d23ea173a44b3&token=c02846924de88468c649dede36bfb4a4","expires_at":1515466869}}'
  recorded_at: Tue, 09 Jan 2018 02:01:09 GMT
recorded_with: VCR 4.0.0
