---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Br2wxF0ixPwt94",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2wxF0ixPwt94/bank_accounts"
          },
          "created": 1511920759,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2wxF0ixPwt94/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Br2wxF0ixPwt94/subscriptions"
          },
          "default_source_type": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Br2wxF0ixPwt94/sources
    body:
      encoding: UTF-8
      string: source[object]=card&source[number]=4242424242424242&source[exp_month]=12&source[exp_year]=2020&source[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_Br2xw0oLIjwVTq",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_Br2wxF0ixPwt94",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br2wxF0ixPwt94
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Br2wxF0ixPwt94/sources/card_Br2xw0oLIjwVTq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_Br2xw0oLIjwVTq",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_Br2wxF0ixPwt94",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2020,
          "fingerprint": "B5I5Hkz6r7cWlvfb",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:20 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=61821&currency=usd&customer=cus_Br2wxF0ixPwt94&source=card_Br2xw0oLIjwVTq&description=Philadelphia%3B+2017-11-27%3B+Full-time%3B+upfront%3B+example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_Br2xAvBkpIKrzm",
          "object": "charge",
          "amount": 61821,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_Br2xd1hYsqLWrN",
          "captured": true,
          "created": 1511920761,
          "currency": "usd",
          "customer": "cus_Br2wxF0ixPwt94",
          "description": "Philadelphia; 2017-11-27; Full-time; upfront; example@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_Br2xAvBkpIKrzm/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_Br2xw0oLIjwVTq",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Br2wxF0ixPwt94",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "B5I5Hkz6r7cWlvfb",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 29 Nov 2017 01:59:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance/history/txn_Br2xd1hYsqLWrN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "txn_Br2xd1hYsqLWrN",
          "object": "balance_transaction",
          "amount": 61821,
          "available_on": 1512086400,
          "created": 1511920761,
          "currency": "usd",
          "description": "Philadelphia; 2017-11-27; Full-time; upfront; example@example.com",
          "fee": 1823,
          "fee_details": [
            {
              "amount": 1823,
              "application": null,
              "currency": "usd",
              "description": "Stripe processing fees",
              "type": "stripe_fee"
            }
          ],
          "net": 59998,
          "source": "ch_Br2xAvBkpIKrzm",
          "sourced_transfers": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers?source_transaction=ch_Br2xAvBkpIKrzm"
          },
          "status": "pending",
          "type": "charge"
        }
  recorded_at: Wed, 29 Nov 2017 01:59:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_Br2xAvBkpIKrzm&amount=20000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-02-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_Br2xxhH0mXXGDN",
          "object": "refund",
          "amount": 20000,
          "balance_transaction": "txn_Br2xWeyJfwnULH",
          "charge": "ch_Br2xAvBkpIKrzm",
          "created": 1511920762,
          "currency": "usd",
          "metadata": {},
          "reason": null,
          "receipt_number": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 29 Nov 2017 01:59:22 GMT
- request:
    method: post
    uri: "<ZAPIER_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"id":1,"description":"Philadelphia; 2017-12-04; Full-time; upfront;
        example@example.com","amount":60000,"fee":0,"status":"pending","refund_amount":30000,"offline":null,"stripe_transaction":"txn_Br2w0dVkzZknVZ","category":"upfront","notes":null,"email":"example@example.com","event_name":"refund"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Response-Id:
      - 5a29df7e-ca82-402a-85be-595cd5a2b300
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '9995'
      X-Rate-Limit-Reset:
      - '1512694200'
      X-Session-Key:
      - anonymous
      X-Zapier-Fast-Return:
      - 'true'
      X-Zapier-Jobs:
      - Woooo, a hacker like yourself should consider working at Zapier!
      X-Zapier-Jobs-Link:
      - https://zapier.com/blog/help-automate-business-zapier-jobs-and-careers/
      Zrv:
      - 1En2U2
    body:
      encoding: UTF-8
      string: '{"status": "success", "attempt": "5a29df7e-ca82-402a-85be-595cd5a2b300",
        "id": "04ec3b40-e30d-4a3d-a75a-13a5caad5a7b", "request_id": "5a29df7e-ca82-402a-85be-595cd5a2b300"}'
  recorded_at: Fri, 08 Dec 2017 00:40:30 GMT
- request:
    method: post
    uri: "<ZAPIER_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"id":1,"description":"Philadelphia; 2017-12-11; Full-time; upfront;
        example@example.com","amount":60000,"fee":0,"status":"pending","refund_amount":30000,"offline":null,"stripe_transaction":"txn_Br2w0dVkzZknVZ","category":"upfront","notes":null,"email":"example@example.com","event_name":"refund"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Response-Id:
      - 5a3027ca-50af-4808-81fa-3e49fe6f7350
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '9994'
      X-Rate-Limit-Reset:
      - '1513105800'
      X-Session-Key:
      - anonymous
      X-Zapier-Fast-Return:
      - 'true'
      X-Zapier-Jobs:
      - Woooo, a hacker like yourself should consider working at Zapier!
      X-Zapier-Jobs-Link:
      - https://zapier.com/blog/help-automate-business-zapier-jobs-and-careers/
      Zrv:
      - 1EouUa
    body:
      encoding: UTF-8
      string: '{"status": "success", "attempt": "5a3027ca-50af-4808-81fa-3e49fe6f7350",
        "id": "1c0ab3ee-c3cf-46e8-be85-40a38338854d", "request_id": "5a3027ca-50af-4808-81fa-3e49fe6f7350"}'
  recorded_at: Tue, 12 Dec 2017 19:02:34 GMT
recorded_with: VCR 4.0.0
