<h1>Random pairs</h1>
<% if @random_pairs.empty? %>
  No random pairs available just yet!
<% else %>
  <h3>Try pairing with one of these students:</h3>
  <% @random_pairs.each do |pair| %>
    <p><%= pair.name %></p>
  <% end %>
<% end %>
