---
http_interactions:
- request:
    method: get
    uri: https://app.close.io/api/v1/lead/?query=email:automated_testing_no_name@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDRjOTYwOTdjODY4YjU2NzIwMzU0NmU3MjIwZWNkMjM0MWYwMDhmMjk0M2FjZWRkYzUyMjMyMmQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '592'
      X-Rate-Limit-Reset:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": false, "total_results": 1, "data": [{"tasks": [], "display_name":
        "automated_testing_no_name@example.com", "addresses": [], "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9",
        "status_id": "stat_jHXa7MyAAAXtdOq6WuzN4IDHXXkwaq41miOxlg1Os0j", "date_updated":
        "2017-06-14T23:36:27.300000+00:00", "status_label": "Applicant - No longer
        interested (legacy)", "description": "THIS LEAD USED FOR AUTOMATED TESTING.
        PLEASE DO NOT DELETE. Ask Mike if any questions.", "contacts": [{"name": "",
        "title": "", "date_updated": "2017-06-14T23:30:17.579000+00:00", "phones":
        [], "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "id":
        "cont_xdh0A41lNXy8x2MDnTtLm4koccB0QpgRCBoX9ds1wWu", "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE",
        "urls": [], "date_created": "2017-06-14T23:29:26.371000+00:00", "integration_links":
        [], "emails": [{"type": "office", "email": "automated_testing_no_name@example.com"}],
        "updated_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9"}], "html_url":
        "https://app.close.io/lead/lead_30aUhfrWRNNWeiZSqFayX8pFpSSYBONZZkQvUBApzxq/",
        "created_by": "user_ABOHi4Y53EYGaL6y4ioR2VXABSEPGSQh2xoJHnaiEP9", "custom":
        {}, "organization_id": "orga_IRlZ0dse4odbsGRQCuEZFhRQyFgzcNzvbpIXaeg74pE",
        "url": null, "date_created": "2017-06-14T23:29:26.377000+00:00", "opportunities":
        [], "created_by_name": "Michael Kaiser-Nyman", "integration_links": [{"url":
        "https://epicenter.epicodus.com/students?utf8=%E2%9C%93&search=automated_testing_no_name%40example.com&button=",
        "name": "Epicenter Link"}], "id": "lead_30aUhfrWRNNWeiZSqFayX8pFpSSYBONZZkQvUBApzxq",
        "updated_by_name": "Michael Kaiser-Nyman", "name": ""}]}'
  recorded_at: Thu, 15 Jun 2017 21:03:48 GMT
recorded_with: VCR 3.0.3
