<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= header %>
      <% if can? :manage, class_to_manage %>
        <small><%= link_to '+ New ' + category, category_path, class: 'text-success' %></small>
      <% end %>
    </h1>
  </div>
</div>
