<h1>
  <% if @course %>
    <%= header + " for #{@course.description}" %>
  <% else %>
    <%= header %>
  <% end %>
  <% if can? :manage, class_to_manage %>
    <small><%= link_to '+ New ' + category, category_path, class: 'text-success' %></small>
  <% end %>
</h1>
