<div class="navbar_style">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Epicenter", root_url, class:"navbar-brand" %>
      </div>

      <div class="navbar-brand">|</div>

      <!-- Collect the nav links, forms, and other content for toggling -->


      <%= link_to "Log in", new_user_session_path, class:"navbar-brand navbar-right" %>
    </div><!-- /.container-fluid -->
  </nav>
</div>
